<html>
	<head>
		<title>Project Management</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets/css/style.css">
		<link rel="stylesheet" href="../assets/css/sidebar-test.css">
		<link rel="stylesheet" href="../assets/css/button.css">
		<link rel="stylesheet" href="../assets/css/jquery.tokenize.css">
		<link rel="stylesheet" href="../assets/css/bootstrap-datepicker.min.css">
		<link rel="stylesheet" href="../assets/css/style-admin.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="../assets/js/bootstrap.min.js"></script>
		<script src="../assets/js/nice-scroll.js"></script>
		<script src="../assets/js/button.js"></script>
		<script src="../assets/js/main.js"></script>
		<script src="../assets/js/jquery.tokenize.js"></script>
		<script src="../assets/js/bootstrap-datepicker.min.js"></script>
		
		
		<script>
		
		$(document).ready(function() {
		
			$('.datepicker').datepicker({
				format: 'dd/mm/yyyy',
				startDate: '0d'
				
			});

		
			/*********For Multiple select***************/
			
			$('#tokenize').tokenize({
				displayDropdownOnFocus: true
			});
			
			/*******For Multiple select ends **************/
			
			
			// To show Add project modal 
			$(".add-user-btn").click(function(e) {
				$('#add-user-modal').modal('show');
			});
			
			// To show project team modal 
			$(".view-project-team-link").click(function(e) {
				$('#project-team-modal').modal('show');
			});
			
			
			
			$(".messages-main-box").niceScroll();
			
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
			
			/******** For Hamburger & Close icon *****/
				
			$('#ham-side-icon').show();	
			
			$( "#menu-toggle" ).click(function() {
				var toggle = $( "#wrapper" ).hasClass("toggled");
					
						if(toggle == true){
							$('#close-side-icon').show();
							$('#ham-side-icon').hide();
							
						} else {
							$('#close-side-icon').hide();
							$('#ham-side-icon').show();
						}
				
			});
			/******** For Hamburger & Close icon ends *****/
			
			
			
			if($( window ).width() >= 768) {
				$( "#menu-toggle" ).click(function() {
						var a = $( "#wrapper" ).hasClass("toggled");
					
						if(a == true){
							
							$('#sidebar-wrapper').css('width','250px');
							$('#sidebar-wrapper').css('left','250px');
							$('#wrapper.toggled').css('padding-left','250px');
							
						} else {
							$('#sidebar-wrapper').css('width','0px');
							$('#sidebar-wrapper').css('left','0px');
							$('#wrapper').css('padding-left','0px');
							
						}
						
				});
			}
			
			if($( window ).width() <= 767) {
				$( "#menu-toggle" ).click(function() {
						var a = $( "#wrapper" ).hasClass("toggled");
						
						if(a == true){
							  
							
							$('#sidebar-wrapper').css('width','250px');
							$('#sidebar-wrapper').css('left','250px');
							$('#wrapper.toggled').css('padding-left','250px');
							
						} else {
							$('#sidebar-wrapper').css('width','0px');
							$('#sidebar-wrapper').css('left','0px');
							$('#wrapper').css('padding-left','0px');
							
						}
						
				});
			}
			
					
			/********** For Chatbox **********/
						
			$('.chatbox-pro-management').css('bottom','-423px');
			
			$( ".online-user-name" ).click(function() {
				$('.chatbox-pro-management').css('bottom','0px');
				$('.chatbox-pro-management').css('transition','all .8s');
				
			});
			$( ".close-chatbox" ).click(function() {
				$('.chatbox-pro-management').css('bottom','-423px');
				$('.chatbox-pro-management').css('transition','all .8s');
			});
		});
		
		</script>
	
	
	</head>
	
	<body>
		<div id="wrapper">
	
		 <!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand">
						<a href="#" class="admin-label">
							ADMINISTRATION
						</a>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-user side-font-icons" aria-hidden="true"></i> User Management</a>
						
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-briefcase side-font-icons" aria-hidden="true"></i> Roles</a>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-bullseye side-font-icons" aria-hidden="true"></i> Project</a>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-users side-font-icons" aria-hidden="true"></i> Groups</a>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-cogs side-font-icons" aria-hidden="true"></i> Permissions</a>
					</li>
					
				</ul>
			</div>
			<!-- /#sidebar-wrapper -->
		
	<!-- Page Content -->
       <div id="page-content-wrapper">
		
						<!-- For mobile user menu starts -->
						<ul class="nav-mobile">
									
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<img src="../assets/img/user.png">
										<span class="caret"></span></a>
										<ul class="dropdown-menu menu-user menu-responsive">
										  <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
										  <li class="dropdown-submenu">
													
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-cog"></i> Settings</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-bell"></i> Notifications</a></li>
													  <li><a href="#"><i class="fa fa-link"></i> Linked Accounts</a></li>
													  <li><a href="#"><i class="fa fa-trash"></i> Clear History</a></li>
													  <li><a href="#"><i class="fa fa-share-square"></i> Share Query</a></li>
													  <li><a href="#"><i class="fa fa-certificate"></i> Assistance</a></li>
													</ul>
										  </li>
										  <li class="dropdown-submenu">
													
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-comments"></i> Chats</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-comment"></i> Recent Chat</a></li>
													  <li><a href="#"><i class="fa fa-users"></i> Group Chat</a></li>
													  <li><a href="#"><i class="fa fa-black-tie"></i> Client Chat</a></li>
													</ul>
										  </li>
										  
										  <li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
										  <li role="separator" class="divider"></li>
										  <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
										</ul>
									  </li>
						</ul>
						<!-- For mobile user menu Ends -->
						
						
						<section class="top-main-section">
							 <!-- Static navbar -->
							  <nav class="navbar navbar-default navbar-pro-management">
								<div class="container-fluid">
								  <div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
									  <span class="sr-only">Toggle navigation</span>
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
									  <span class="icon-bar"></span>
									</button>
									<a class="navbar-brand" href="#">
										
										<img src="../assets/img/eternus.png" class="logo-img">
									</a>
								  </div>
								  <div id="navbar" class="navbar-collapse collapse">
									<ul class="nav navbar-nav">
									  
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-credit-card"></i> SALES
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-cogs"></i> Sales 1</a></li>
										  <li><a href="#"><i class="fa fa-cogs"></i> Sales 2</a></li>
										  <li><a href="#"><i class="fa fa-cogs"></i> Sales 3</a></li>
										</ul>
									  </li>
									  
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-share-alt"></i> SOCIAL MEDIA
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-facebook-official"></i> Facebook</a></li>
										  <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
										  <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
										</ul>
									  </li>
									  
									  
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-sticky-note"></i> PROJECTS
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-cog"></i> Project 1</a></li>
										  <li><a href="#"><i class="fa fa-cog"></i> Project 2</a></li>
										  <li><a href="#"><i class="fa fa-cog"></i> Project 3</a></li>
										</ul>
									  </li>
									</ul>
									
									
									<ul class="nav navbar-nav navbar-right nav-desktop">
									 
									  <!--<li class="search-field-box"><i class="fa fa-search search-icon"></i><input type="text" class="form-control search-field project-management-textbox" placeholder="Search..."></li>-->
									 
 									  <li class="dropdown">
										<a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										
										<img src="../assets/img/user.png">
										
										<span class="caret"></span></a>
										
										<ul class="dropdown-menu multi-level menu-user">
										  <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
									      <li class="dropdown-submenu">
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-cog"></i> Settings</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-bell"></i> Notifications</a></li>
													  <li><a href="#"><i class="fa fa-link"></i> Linked Accounts</a></li>
													  <li><a href="#"><i class="fa fa-trash"></i> Clear History</a></li>
													  <li><a href="#"><i class="fa fa-share-square"></i> Share Query</a></li>
													  <li><a href="#"><i class="fa fa-certificate"></i> Assistance</a></li>
													</ul>
										  </li>
										  <li class="dropdown-submenu">
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-comments"></i> Chats</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-comment"></i> Recent Chat</a></li>
													  <li><a href="#"><i class="fa fa-users"></i> Group Chat</a></li>
													  <li><a href="#"><i class="fa fa-black-tie"></i> Client Chat</a></li>
													</ul>
										  </li>
										  <li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
										  <li role="separator" class="divider"></li>
										  <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
										</ul>
									  </li>
									</ul>
								  </div><!--/.nav-collapse -->
								</div><!--/.container-fluid -->
							  </nav>

						</section>	
						
						<!-- Toggle Button -->
							<!--<a href="#menu-toggle" class="btn btn-default pro-button" id="menu-toggle">MENUS</a>-->
							
							
							
						<!-- Toggle Button ENDS -->
		
		
						<!-- Main Page content starts -->	
						
						<div class="main-box">
							<div class="col-md-12">
							
								<div class="user-management-heading-box">
								
									<!-- Menu Toggle Button -->
									<div id="menu-toggle" class="menu-toggle-user-management">
										<img src="../assets/img/ham-side-icon.png" id="ham-side-icon">
										<img src="../assets/img/close-side-icon.png" id="close-side-icon" style="display:none;">
									</div>
									<!-- Menu Toggle Button -->
									
									<h2 class="user-management-heading"><i class="fa fa-cogs user-management-head-icon"></i>Project Management</h2>
									
									<button class="add-user-btn pro-button">New project</button>
								</div>
								
							
								<div class="panel panel-default task-main-panel">
									<div class="add-task-box">
										<div class="search-field-box search-field-box-admin">
											<i class="fa fa-search search-icon search-icon-admin"></i>
											<input type="text" class="search-field project-management-textbox search-field-admin-textbox" placeholder="Search a project...">
										</div>
									</div>	
										<div class="table-responsive">
										<table class="table user-management-table pro-management-table">
											<thead>
											  <tr class="header-row">
												<th></th>
												<th>Project Name</th>
												<th>Description</th>
												<th>Project Team</th>
												<th>Start Date</th>
												<th>End Date</th>
												<th>Edit project</th>
												<th>Delete project</th>
											  </tr>
											</thead>
											<tbody>
											  <tr>
												<td><i class="fa fa-cog"></i></td>
												<td>Hospital Management System</td>
												<td>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
												</td>
												<td>
													<a class="view-project-team-link">View Team</a>
												</td>
												<td>12/01/2016</td>
												<td>16/04/2016</td>
												<td>
													<i class="fa fa-pencil user-management-edit-icon" aria-hidden="true" title="Edit Project"></i>
												</td>
												<td>
													<i class="fa fa-trash user-management-delete-icon" aria-hidden="true" title="Delete Project"></i>
												</td>
											  </tr>
											  <tr>
												<td><i class="fa fa-cog"></i></td>
												<td>Summer Camp Guru</td>
												<td>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit
												</td>
												<td>
													<a class="view-project-team-link">View Team</a>
												</td>
												<td>12/01/2016</td>
												<td>16/04/2016</td>
												<td>
													<i class="fa fa-pencil user-management-edit-icon" aria-hidden="true" title="Edit Project"></i>
												</td>
												<td>
													<i class="fa fa-trash user-management-delete-icon" aria-hidden="true" title="Delete Project"></i>
												</td>
											  </tr>
											  <tr>
												<td><i class="fa fa-cog"></i></td>
												<td>CULP Home Fashions</td>
												<td>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur
												</td>
												<td>
													<a class="view-project-team-link">View Team</a>
												</td>
												<td>12/01/2016</td>
												<td>16/04/2016</td>
												<td>
													<i class="fa fa-pencil user-management-edit-icon" aria-hidden="true" title="Edit Project"></i>
												</td>
												<td>
													<i class="fa fa-trash user-management-delete-icon" aria-hidden="true" title="Delete Project"></i>
												</td>
											  </tr>
											  <tr>
												<td><i class="fa fa-cog"></i></td>
												<td>CHF Final Cut</td>
												<td>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing
												</td>
												<td>
													<a class="view-project-team-link">View Team</a>
												</td>
												<td>12/01/2016</td>
												<td>16/04/2016</td>
												<td>
													<i class="fa fa-pencil user-management-edit-icon" aria-hidden="true" title="Edit Project"></i>
												</td>
												<td>
													<i class="fa fa-trash user-management-delete-icon" aria-hidden="true" title="Delete Project"></i>
												</td>
											  </tr>
											  <tr>
												<td><i class="fa fa-cog"></i></td>
												<td>CULP Careers</td>
												<td>
													Lorem ipsum dolor sit amet
												</td>
												<td>
													<a class="view-project-team-link">View Team</a>
												</td>
												<td>12/01/2016</td>
												<td>16/04/2016</td>
												<td>
													<i class="fa fa-pencil user-management-edit-icon" aria-hidden="true" title="Edit Project"></i>
												</td>
												<td>
													<i class="fa fa-trash user-management-delete-icon" aria-hidden="true" title="Delete Project"></i>
												</td>
											  </tr>
											</tbody>
										</table>
										</div>
									</div>		
							</div>
							
						</div>
						
						<!-- Main Page content ENDS -->	
					
		</div> <!-- Page content Wrapper ends -->		
	</div> <!-- Wrapper ends -->	
	
	
	
	<!-- Add Project Modal Starts -->
			<div id="add-user-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Create New Project</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								
								<div class="col-md-10">
										<form role="form">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Project Name</label>
												<input type="text" class="form-control add-task-textbox">
											  </div>
											  
											  <!-- Project Description --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Project Description</label>
												<input type="text" class="form-control add-task-textbox">
											  </div>
											  
											  <!-- Project Team --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Project Team</label>
												<select id="tokenize" multiple="multiple" class="tokenize-sample add-task-textbox">
													<option value="1">Chaitanya</option>
													<option value="2">Harshit</option>
													<option value="3">Rushikesh</option>
													<option value="4">Ram</option>
													<option value="5">Atul</option>
												</select>
											  </div>
											  
											  
											  <!-- start date - end date --> 
												<div class="form-group task-form-group row">
													<div class="col-md-6 task-form-group">
														<label class="task-label">Start Date</label>
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<input type="text" class="form-control add-task-textbox datepicker" readonly='true'>
													</div>
													<div class="col-md-6 task-form-group">
														<label class="task-label">End Date</label>
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<input type="text" class="form-control add-task-textbox datepicker" readonly='true'>
													</div>
													
												</div>
											  
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal">Create</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Add Project Modal Ends -->
	
	
	
	<!-- Project Team members Modal Starts -->
			<div id="project-team-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
					<div class="modal-header add-task-modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title add-task-modal-heading">Project Team</h4>
					</div>
					<div class="modal-body user-management-body">
						<ul class="project-team-list">
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Chaitanya Belsare</label>
								</li>
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Harshit Jyoti</label>
								</li>
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Chaitanya Belsare</label>
								</li>
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Harshit Jyoti</label>
								</li>
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Chaitanya Belsare</label>
								</li>
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Harshit Jyoti</label>
								</li>
								
						</ul>	
					</div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal">Dismiss</button>
					
				  </div>
				</div>

			  </div>
			</div>
	<!-- Project Team members Modal Ends -->

	</body>
</html>