
<style>
.error{
			color:red;
			display: inline-block;
    		max-width: 100%;
    		margin-bottom: 5px;
    		font-weight: 700;
			}
</style>

<script>

$(document).ready(function(){
	
	
	var sprint;
	sprint=$('#sprint_name').val();
	 var sprint_start_date;
	 var sprint_end_date;
	 
	if (sprint != 'None')
	{
	// $('select').on('change', function (e) {
		
		sprint=$('#sprint_name').val(); 
		$.post( "/sprint_info?key="+sprint+"")
  		.done(function( data ) {
  			//alert(data);
			console.log(data);
			var str = data;
			//var myarray = str.split('(');
				
			sprint_start_date= str.substring(2, 12);
			
			
			sprint_end_date= str.substring(16, 26);
				
  		});
			
		
		 $.get("/dropdown_userstory?key="+sprint+"", function(data){
	            //alert( data );
	            $("#load_user_story").html(data);
	            
	            
	        });
	
	
	//	});
	}
	
	
	
	$('.form-group').find('.open-datetimepicker').on('click', function(){
	    $('#start').trigger('focus');
	});

	$('.form-group').find('.open-datetimepicker1').on('click', function(){
	    $('#end').trigger('focus');
	});
	
	$('body').on('focus',"#start,#start_edit", function(){
	    $(this).datepicker({
			format: 'dd/mm/yyyy',
			startDate: '0d'
		});
	});
	$('body').on('focus',"#end,#end_edit", function(){
	    $(this).datepicker({
			format: 'dd/mm/yyyy',
			startDate: '0d'
		});
	});
	
	$("#complex_pt option").filter(function() {
        return $(this).val() == $("#est_efforts").val();
    }).attr('selected', true);

    $("#complex_pt").on("change", function() {

        $("#est_efforts").val($(this).find("option:selected").attr("data"));
    });
	/*******************task validation starts************************/	
	var task_validator=   $("#addtask").validate({
		      rules: {
		    	  name: 
		    	  {
		           		 required: true
		          },
		          desc: 
		          {
			      		 required: true
			      },
			   /*    start: 
			      {
				  		 required: true
		          },
		          end: 
		          {
						 required: true
						
				  }, */
				  complexity: 
				  {
						 required: true
						
					
				  },
				  actual_efforts:
				  {
						 required: true,
						 number:true
						
					
				  }
	   
		         },
		         messages: 
		         {
		        	 name: 
		           {
		             required: "Please enter task title."
		           },
		           desc: 
		           {
		             required: "Please enter task description."
		           },
		          /*  start:
		           {
			             required: "Please select start date."
			       },
			       end:
			       {
			             required: "Please select end date."
			            
			       }, */
			       complexity: 
			       {
			             required: "Please select complexity."
			       },
			       actual_efforts:
			       {
			             required: "Please enter estimated efforts.",
			             number:"Please enter number only."
			       }
		         }
		     });
	
	/*******************task validation ends************************/	
	
	$('select').on('change', function (e) {
		
		sprint=$('#sprint_name').val(); 
		$.post( "/sprint_info?key="+sprint+"")
  		.done(function( data ) {
  			//alert(data);
			console.log(data);
			var str = data;
			//var myarray = str.split('(');
				
			sprint_start_date= str.substring(2, 12);
			
			
			sprint_end_date= str.substring(16, 26);
				
  		});
			
		
		 $.get("/dropdown_userstory?key="+sprint+"", function(data){
	            //alert( data );
	            $("#load_user_story").html(data);
	            
	           
	        });
	
	
		});

	
	
	
	$("#submit_item").on("click",function(){
						 if (!$('#addtask').valid(event)){
							    event.preventDefault();
							    event.stopImmediatePropagation();
							    return false;
						 }
						 
						 else
						 {
						 
						 var start_date=$('#start').val();
						 var end_date=$('#end').val();
						
						
						// alert(sprint_start_date);
					 	//	alert(sprint_end_date);
						 
						
						 
						 if(start_date < sprint_start_date && start_date!='' && end_date > sprint_start_date && end_date !='')
						 {
							 
								$('#date_error').text("Planned start date cannot before sprint start date("+sprint_start_date+").")
								event.preventDefault();
								 event.stopImmediatePropagation();
								 return false;
								 
							 
						 }
						 
						 if (start_date > sprint_end_date && start_date!='' && end_date < sprint_end_date && end_date !='')
						 {
								 
								$('#date_error').text("Planned start date cannot be after sprint end date("+sprint_end_date+").")
								event.preventDefault();
								 event.stopImmediatePropagation();
								 return false;
								 
							 
						 }
						 else
							 if (end_date < sprint_start_date && end_date !='' && start_date > sprint_start_date && start_date!='')
							 {
									 
									$('#date_error').text("Planned end Date cannot be before sprint start date("+sprint_start_date+").")
									event.preventDefault();
									 event.stopImmediatePropagation();
									 return false;
									 
								 
							 }
							 
							 else
							 if (end_date > sprint_end_date && end_date !='' && start_date < sprint_end_date && start_date!='')
							 {
									 
									$('#date_error').text("Planned end date cannot be greater than sprint end date("+sprint_end_date+").")
									event.preventDefault();
									 event.stopImmediatePropagation();
									 return false;
									 
								 
							 }
						 else
							if ((end_date > sprint_end_date && end_date !='' && start_date!='') || ( start_date > sprint_end_date && end_date !='' && start_date!=''))
								 {
										 
										$('#date_error').text("Planned start date or end date cannot be after sprint end date("+sprint_end_date+").")
										event.preventDefault();
										 event.stopImmediatePropagation();
										 return false;
										 
									 
								 } 
							/*  else
							if ((end_date < sprint_start_date && end_date !='' && start_date!='') || ( start_date < sprint_start_date && end_date !='' && start_date!=''))
										 {
												 
												$('#date_error').text("Planned start date & end date cannot be before sprint start date("+sprint_start_date+").")
												event.preventDefault();
												 event.stopImmediatePropagation();
												 return false;
												 
											 
										 }  */
							else
								if(start_date > end_date)
								{
									$('#date_error').text("Start date cannot be after end date.")
									event.preventDefault();
									 event.stopImmediatePropagation();
									 return false;
									
								}
						 else
						
							 {
							 
							 $('#date_error').text("");
								$.post( "/task/addtask?key=ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA", $("#addtask").serialize())
						  		.done(function( data ) {
						  			console.log(data);
						  			if (data!="true"){
						  				alert("Something Went Wrong");
						  				return false
						  			} 
						  			else
						  				{
						  			
								        $('#tasks_sprints').load('/sprint #tasks_sprints', function(result) {
						  				    //var variable = $('#edit_permissions').html();
						  				    console.log('inside');
						  				});
						  				console.log('out');
						  				}
						  		});
						
							 }
							
						 	}		
								
						})
						
					$('#add-issue-modal').on('hidden.bs.modal', function(e)
									    { 
											$('#date_error').text("");
									        $(this).removeData('bs.modal');
									        $(this).find('form')[0].reset();
									     //   task_validator.resetForm();
									       /* $('#tasks_sprints').load('/sprint #tasks_sprints', function(result) {
							  				    //var variable = $('#edit_permissions').html();
							  				});*/
									  
										
									    }) ;		
						
					});
	</script>
	
<div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add New Issue</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
										<form role="form" id="addtask">
										<input type="hidden" value="ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" name="project_key">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Sprint</label>
												<select name="sprint" id="sprint_name" class="form-control add-task-textbox apm-modal-textbox">
											<!-- 	 <option value="None">None</option> -->
													{% for sprint in sprints%}
													{%if sprint.status%}
														<option value="{{sprint.key.urlsafe}}">{{sprint.name}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  
											   <div id="load_user_story_div" class="form-group task-form-group" id="user_story_list">
												<label class="task-label" id="label_userstory">User Story</label>
												<div id="load_user_story">
												</div>		
												</div>
											  
											  
											  <div class="form-group task-form-group">
												<label class="task-label">Title<font color="red">*</font></label>
												<input name="name" type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
											  
											  
											  
											  
													
													  <div class="form-group task-form-group">
														<label class="task-label">Description<font color="red">*</font></label>
														<textarea name="desc" rows="4" class="form-control apm-modal-textarea"></textarea>
													  </div>
												  
												  
												<div class="form-group task-form-group">
												<label class="task-label">Assignee</label>
												<select name="assignee" class="form-control add-task-textbox apm-modal-textbox">
													<option value="None">None</option>
													{% for team in team%}
													{%if team.status%}
														<option value="{{team.key.urlsafe}}">{{team.userName}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  
											  
											  
											  <div class="error" id="date_error"></div>	
											  <div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Planned Start Date</label>
														<input name="start" id="start" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Planned End Date</label>
														<input name="end" id="end"  type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker1" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
											  <div class="row">
												  <div class="col-sm-6">
											  <!-- Permissions/Role --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Complexity<font color="red">*</font></label>
												<select name="complexity" class="form-control add-task-textbox apm-modal-textbox" id="complex_pt">
													<!-- <option value="None">None</option> -->
													{% for complex in complex%}
													{%if complex.status%}
														<option value="{{complex.key.urlsafe}}"  data="{{complex.estimationHours}}">{{complex.estimationLevel}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  </div>
											  <!-- Issue Type --> 
											  <div class="col-sm-6">
											  <div class="form-group task-form-group">
												<label class="task-label">Issue Type</label>
												<select name="type" class="form-control add-task-textbox apm-modal-textbox" readonly="readonly" >
													{% for type in type%}
													{%if type.name == 'Task'%}
														<option value="{{type.key.urlsafe}}">{{type.name}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  </div>
											  </div>
											  <div class="form-group task-form-group">
												<label class="task-label">Estimated Efforts(In hrs)<font color="red">*</font></label>
												<input name="actual_efforts" id="est_efforts"type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="submit_item">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
			  