
<style>
.error{
			color:red;
			display: inline-block;
    		max-width: 100%;
    		margin-bottom: 5px;
    		font-weight: 700;
			}
</style>

<script>

$(document).ready(function(){
	
/***************************************sprint and user story data fetch starts************************************************/
		
	var sprint;
	sprint=$('#sprint_name').val();
	 var sprint_start_date;
	 var sprint_end_date;
	 
	if (sprint != 'None')
	{
	
		sprint=$('#sprint_name').val(); 
		$.post( "/sprint_info?key="+sprint+"")
  		.done(function( data ) {
  			//alert(data);
			console.log(data);
			var str = "\""+data+"\"";
			//var myarray = str.split('(');
				
			sprint_start_date= str.substring(2, 12);
			
			
			sprint_end_date= str.substring(16, 26);
				
  		});
			
		
		 $.get("/dropdown_userstory?key="+sprint+"", function(data){
	            //alert( data );
	            $("#load_user_story").html(data);
	            
	            
	        });
	
	
	
	}
	else
	/* 	{
		 $("#load_user_story").html("<select name='user_story' id='user_story' class='form-control add-task-textbox apm-modal-textbox'><option value='None'>None</option></select>");
		} */

/***************************************sprint and user story data fetch ends************************************************/	
	 
	
/****************************************icon click starts*******************************************************/	
	
	$('.form-group').find('.open-datetimepicker').on('click', function(){
	    $('#start').trigger('focus');
	});

	$('.form-group').find('.open-datetimepicker1').on('click', function(){
	    $('#end').trigger('focus');
	});
	
/****************************************icon click ends*****************************************************/

 /****************************************datepicker starts*****************************************************/
	$('body').on('focus',"#start,#start_edit", function(){
	    $(this).datepicker({
			format: 'dd/mm/yyyy',
			startDate: '0d'
		});
	});
	$('body').on('focus',"#end,#end_edit", function(){
	    $(this).datepicker({
			format: 'dd/mm/yyyy',
			startDate: '0d'
		});
	});
	
	$('.datepicker').datepicker({
		format: 'mm/dd/yyyy',
		startDate: '0d',
		autoclose:true
	});
/****************************************datepicker ends*****************************************************/
	
	
/****************************************complexity points starts*****************************************************/
	$("#complex_pt option").filter(function() {
        return $(this).val() == $("#est_efforts").val();
    }).attr('selected', true);

    $("#complex_pt").on("change", function() {

        $("#est_efforts").val($(this).find("option:selected").attr("data"));
    });
    
/****************************************complexity points ends*****************************************************/

/****************************************task validation starts*****************************************************/
	var task_validator=   $("#addtask").validate({
		      rules: {
		    	  name: 
		    	  {
		           		 required: true
		          },
		          desc: 
		          {
			      		 required: true
			      },
			
				  complexity: 
				  {
						 required: true
						
					
				  },
				  actual_efforts:
				  {
						 required: true,
						 number:true
						
					
				  }
	   
		         },
		         messages: 
		         {
		        	 name: 
		           {
		             required: "Please enter task title."
		           },
		           desc: 
		           {
		             required: "Please enter task description."
		           },
		         
			       complexity: 
			       {
			             required: "Please select complexity."
			       },
			       actual_efforts:
			       {
			             required: "Please enter estimated efforts.",
			             number:"Please enter number only."
			       }
		         }
		     });
	
/****************************************task validation ends*****************************************************/

/****************************************sprint data fetch starts*****************************************************/
	
	$('#sprint_name').on('change', function (e) {
		
		sprint=$('#sprint_name').val(); 
		$.post( "/sprint_info?key="+sprint+"")
  		.done(function( data ) {
  			//alert(data);
			console.log(data);
			var str = data;
			//var myarray = str.split('(');
				
			sprint_start_date= str.substring(2, 12);
			
			
			sprint_end_date= str.substring(16, 26);
				
  		});
			
		
		 $.get("/dropdown_userstory?key="+sprint+"", function(data){
	            //alert( data );
	            $("#load_user_story").html(data);
	            
	           
	        });
	
	
		});

	
/****************************************sprint data fetch ends*****************************************************/ 
	
/****************************************form submit starts*****************************************************/
$("#submit_item").on("click",function(event){
						 if (!$('#addtask').valid()){
							    event.preventDefault();
							    event.stopImmediatePropagation();
							    return false;
						 }
						 
						 else{
							 
							 $('#date_error').text("");
								$.post( "/task/addtask?key=ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA", $("#addtask").serialize())
						  		.done(function( data ) {
						  			console.log(data);
						  			if (data!="true"){
						  				alert("Something Went Wrong");
						  				return false
						  			} 
						  			else
						  				{
						  			
								        $('#tasks_sprints').load('/sprint #tasks_sprints', function(result) {
						  				   
						  				    console.log('inside');
						  					$(".table").each(function(){
												if (!$(this).find("tr.find_empty").length){
												a=$(this).find("tbody")[0];
												$(a).append("<tr><td colspan='10' align='center'>There are no tasks in the sprint</td></tr>")
												}
												
											})
						  				    
						  				});
						  				console.log('out');
						  				}
						  		});
						
							 }
							
								
						})
						
/****************************************form submit ends*****************************************************/	
 
 
/****************************************hide issue modal starts*****************************************************/
						
					$('#add-issue-modal').on('hidden.bs.modal', function(e)
									    { 
											$('#date_error').text("");
									        $(this).removeData('bs.modal');
									        $(this).find('form')[0].reset();
									     //   task_validator.resetForm();
									       /* $('#tasks_sprints').load('/sprint #tasks_sprints', function(result) {
							  				    //var variable = $('#edit_permissions').html();
							  				});*/
									  
										
									    }) ;	
/****************************************hide issue modal ends*****************************************************/
						
});
	</script>
	
<div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add New Issue</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
										<form role="form" id="addtask">
										<input type="hidden" value="ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" name="project_key">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Sprint</label>
												<select name="sprint" id="sprint_name" class="form-control add-task-textbox apm-modal-textbox">

												<option value="None">None</option> 

													{% for sprint in sprints%}
													{%if sprint.status%}
														<option value="{{sprint.key.urlsafe}}">{{sprint.name}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  
											   <div id="load_user_story_div" class="form-group task-form-group" id="user_story_list">
												<label class="task-label" id="label_userstory">User Story</label>
												<div id="load_user_story">
												<select name="user_story" id="user_story" class="form-control add-task-textbox apm-modal-textbox">
												<option value="None">None</option>
												</select>
												</div>		
												</div>
											  
											  
											  <div class="form-group task-form-group">
												<label class="task-label">Tag</label>
												<select name="tag" id="tag_name" class="form-control add-task-textbox apm-modal-textbox">

												<option value="None">None</option> 

													{% for tag in tags%}
													
														<option value="{{tag.get.key.urlsafe}}">{{tag.get.name}}</option>
												
													{%endfor%}
												</select>
											  </div>
											  
											  <div class="form-group task-form-group">
												<label class="task-label">Title<font color="red">*</font></label>
												<input name="name" type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
											  
											  
											  
											  
													
													  <div class="form-group task-form-group">
														<label class="task-label">Description<font color="red">*</font></label>
														<textarea name="desc" rows="4" class="form-control apm-modal-textarea"></textarea>
													  </div>
												  
												  
												<div class="form-group task-form-group">
												<label class="task-label">Assignee</label>
												<select name="assignee" class="form-control add-task-textbox apm-modal-textbox">
													<option value="None">None</option>
													{% for team in team%}
													{%if team.status%}
														<option value="{{team.userid.urlsafe}}">{{team.userid.get.name}} {{ team.userid.get.last_name }}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  
											  
											  
											  <div class="error" id="date_error"></div>	
											  <div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Planned Start Date</label>
														<input name="start" id="start" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Planned End Date</label>
														<input name="end" id="end"  type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker1" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
											  <div class="row">
												  <div class="col-sm-6">
											  <!-- Permissions/Role --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Complexity<font color="red">*</font></label>
												<select name="complexity" class="form-control add-task-textbox apm-modal-textbox" id="complex_pt">
													<option value="None">None</option> 
													{% for complex in complex%}
													{%if complex.status%}
														<option value="{{complex.key.urlsafe}}"  data="{{complex.estimationHours}}">{{complex.estimationLevel}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  </div>
											  <!-- Issue Type --> 
											  <div class="col-sm-6">
											  <div class="form-group task-form-group">
												<label class="task-label">Issue Type</label>
												<select name="type" class="form-control add-task-textbox apm-modal-textbox" readonly="readonly" >
													{% for type in type%}
													{%if type.name == 'Task'%}
														<option value="{{type.key.urlsafe}}">{{type.name}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  </div>
											  </div>
											  <div class="form-group task-form-group">
												<label class="task-label">Estimated Efforts(In hrs)<font color="red">*</font></label>
												<input name="actual_efforts" id="est_efforts"type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="submit_item">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
			  