
<script>
		$("#submit_item").on("click",function(){
			$.post( "/task/addtask?key=ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA", $("#addtask").serialize())
	  		.done(function( data ) {
	  			if (data!="true"){
	  				alert("Something Went Wrong");
	  				return false
	  			} 
	  		});
			$('#add-issue-modal').on('hidden.bs.modal', function(e)
				    { 
				        $(this).removeData();
				        $('#tasks_sprints').load('/sprint #tasks_sprints', function(result) {
		  				    //var variable = $('#edit_permissions').html();
		  				});
				    }) ;
			
			
		})
	</script>
<div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add New Issue</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
										<form role="form" id="addtask">
										<input type="hidden" value="ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" name="project_key">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Sprint</label>
												<select name="sprint" class="form-control add-task-textbox apm-modal-textbox">
														<option value="None">None</option>
													{% for sprint in sprints%}
													{%if sprint.status == 'True'%}
														<option value="{{sprint.key.urlsafe}}">{{sprint.name}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  <div class="form-group task-form-group">
												<label class="task-label">Name</label>
												<input name="name" type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
											  
											  
											  
											  
													
													  <div class="form-group task-form-group">
														<label class="task-label">Description</label>
														<textarea name="desc" rows="4" class="form-control apm-modal-textarea"></textarea>
													  </div>
												  
												  
												<div class="form-group task-form-group">
												<label class="task-label">Assignee</label>
												<select name="assignee" class="form-control add-task-textbox apm-modal-textbox">
													<option value="None">None</option>
													{% for team in team%}
													{%if team.status == 'True'%}
														<option value="{{team.key.urlsafe}}">{{team.userName}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  
											  <div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Start Date</label>
														<input name="start" id="start" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true">
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">End Date</label>
														<input name="end" id="end"  type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true">
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
											  <div class="row">
												  <div class="col-sm-6">
											  <!-- Permissions/Role --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Complexity</label>
												<select name="complexity" class="form-control add-task-textbox apm-modal-textbox">
													{% for complex in complex%}
													{%if complex.status == 'True'%}
														<option value="{{complex.key.urlsafe}}">{{complex.estimationLevel}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  </div>
											  <!-- Issue Type --> 
											  <div class="col-sm-6">
											  <div class="form-group task-form-group">
												<label class="task-label">Issue Type</label>
												<select name="type" class="form-control add-task-textbox apm-modal-textbox">
													{% for type in type%}
													
														<option value="{{type.key.urlsafe}}">{{type.name}}</option>
													
													{%endfor%}
												</select>
											  </div>
											  </div>
											  </div>
											  <div class="form-group task-form-group">
												<label class="task-label">Actual Efforts</label>
												<input name="actual_efforts" type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="submit_item">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>