{% extends "base.html" %}

{% block title %}User | Sprint{% endblock %}
{% block header_links%}
<style>
.apm-table-pagination{
    float: right;
    margin-bottom: -3px;
    margin-top: 10px;
   }
.cr{
			cursor:pointer;
		}
.error{
			color:red;
			display: inline-block;
    		max-width: 100%;
    		margin-bottom: 5px;
    		font-weight: 700;
		}
 .sprint-action-dropdown-box{
    list-style-type: none;
    float: right;
   }
   .sprint-action-dropdown{
    margin-left: -58px;
    min-width: 130px;
    margin-top: 2px;
   }
   .sprint-action-dropdown li a {
    padding: 6px 12px!important;
    font-size: 11px;
    font-weight: bold;
    color:#000!important;
   }
   .sprint-action-dropdown li a:hover{
    color:#3978BF!important; 
   }
   .sprint-action-link{
    font-size: 12px!important;
    letter-spacing: 1px!important;
    text-decoration:none!important;
   }
   .apm-sprint-listing-box{
    padding:0!important;
   }
   
</style>

<script src="../assets_new/js/sprint.js"></script>	
		
{% endblock %}	
	


     
{%block content%}	
     
        
		
		
		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading effort-heading">Sprint Items</h2>
						
						<div class="form-group select-sprint-dropdown-box" id="sprint_dropdown">
							<label class="apm-effort-est-lbl select-sprint-label"></label>
							<select class="add-task-textbox apm-modal-textbox apm-effort-est-dropdown sprint-dropdown" id="sprintselect">
							{% for i in all_sprint %}
								{% if i.get.key == sprints.key %}
									<option  value= "{{ i.get.key.urlsafe }}" selected> {{ i.get.name }}</option>
											
									{%else%}
											
									<option  value= "{{ i.get.key.urlsafe }}"> {{ i.get.name }}</option>
								{%endif%}
							{%endfor%}
							</select>
						</div>
						
						<!-- Backlog Filter section -->
						<div class="apm-backlog-filter-box">
							
								
							<!-- Add issue button -->
							<a href="/task" data-toggle="modal" data-target="#add-issue-modal">
							
							
							
												<button class="apm-listing-add-proj-btn pro-button apm-add-sprint-btn" id="add-issue">Add Issue</button>
											</a>
								
								<button class="apm-listing-add-proj-btn pro-button apm-add-sprint-btn" id="add-sprint">Add Sprint</button>
							
							
							<!-- Backlog Filter section ENDS -->
							
						</div>
						<!-- Add Sprint Button ENDS -->
						
						
						<hr>
						
						
							<div class="row" id="tasks_sprints">
								<div class="col-md-12">
									<div class="">
									{%if sprints%}
									
									
											<!-- Sprint 1 panel -->
											<div class="panel panel-default apm-sprint-panel" id="sprint">
												<div class="panel-heading">
													{{sprints.name}}
												
												
												
												<!-- Sprint Action dropdown starts -->
              										<li class="dropdown sprint-action-dropdown-box">
              									 		<a href="#" class="dropdown-toggle sprint-action-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
             									  		
             									  		
             									  		
             									  		<i class="fa fa-cogs"></i> Action
            									   		<span class="caret"></span></a>
            								   			<ul class="dropdown-menu sprint-action-dropdown bullet">
           								      		<li><a href="/sprint/edit?edit_key={{sprints.key.urlsafe}}" data-toggle="modal" data-target="#edit-sprint-modal"><i class="fa fa-pencil"></i> Edit Sprint</a></li>
                 							  		
                 							  		{%if sprints.sprint_status == 'Completed'%}
                 							  		<li><a href="#" class="sprint_status_link"><i class="fa fa-check-circle"></i><input type="hidden" class="sprint_key" value="{{sprints.key.urlsafe}}">Open Sprint</a></li> 
                 							  		{%else%}
                 							  		<li><a href="#" class="sprint_status_link"><i class="fa fa-check-circle"></i><input type="hidden" class="sprint_key" value="{{sprints.key.urlsafe}}">Complete Sprint</a></li> 
                									{%endif%}	
                									
                									<!-- <li><a href="/sprint/delete?delete_key={{sprint.key.urlsafe}}"  data-toggle="modal" data-target="#delete-sprint-modal"><i class="fa fa-trash"></i> Delete Sprint</a></li> -->
               								
               										</ul>
            								  		</li>
												<!-- Sprint Action dropdown Ends -->
												</div>
												<div class="panel-body">
												Count : <select name="task_count" id="task_count" class="apm-effort-est-dropdown">
												
												<option value="15">15</option> 
											
												<option value="20">20</option> 
											
												<option value="30">30</option> 
											
												</select>
											<br>
											<br>
													<div class="table-responsive">
														<table class="table-condensed table apm-sprint-table apm-sprint-item-table tablesorter" id="myTable">
															<thead>
																<tr>	
																	
																	<th>Task</th>
																	<th>User Story 
																	<!-- <i class="fa fa-arrow-up" aria-hidden="true" id="user_story_asce"></i><i class="fa fa-arrow-down" aria-hidden="true" id="user_story_desc"></i>
																	 -->
																	</th>
																	<th>Planned Start Date <i class="fa fa-arrow-up" aria-hidden="true" id="planned_startdate_asce"></i><i class="fa fa-arrow-down" aria-hidden="true" id="planned_startdate_desc"></i></th>
																	<th>Planned End Date <i class="fa fa-arrow-up" aria-hidden="true" id="planned_enddate_asce"></i><i class="fa fa-arrow-down" aria-hidden="true" id="planned_enddate_desc"></i></th>
																	<th>Created By</th>
																	<th>Assigned To</th>
																	<th>Status</th>
																	<th>Complexity</th>
																	<th>Estimated Efforts (Hrs.) <i class="fa fa-arrow-up" aria-hidden="true" id="estimation_effort_asce"></i><i class="fa fa-arrow-down" aria-hidden="true" id="estimation_effort_desc"></i></th>
																	<th>Action Items</th>
																</tr>
															</thead>
															<tr class="separator" />
															<tbody id="task_table">
															{%if res.objects%}
															{%for task in res.objects %}
															
																{%ifequal task.get.sprint sprints.key%}
															  <tr class="find_empty">
																
																<td title="Task">{{task.get.name}}</td>
																<td title="User Story">{%if task.get.user_story%}{{task.get.user_story.get.backlog_name}}{%else%}None{%endif%}</td>
																<td title="Planned Start Date">{{task.get.startDate}}</td>
																<td title="Planned End Date">{{task.get.endDate}}</td>
																<td title="Assigned By">
																	{% for team in team%}
																	{%if team.status%}
																	{%if team.userid.get.email_address == task.get.created_by%}
																	
																	{{team.userid.get.name}} {{team.userid.get.last_name}}
													
																	{%endif%}
																	{%endif%}	
																	{%endfor%}
																</td>
																<td title="Assigned To">{%if task.get.assignee%}{{task.get.assignee.get.name}}{%else%}None{%endif%}</td>
																<td title="Status">{{task.get.task_status}}</td>
																<td title="Complexity">{{task.get.complexity.get.estimationLevel}}</td>
																
																<td title="Estimated Efforts (Hrs.)">{{task.get.actual_efforts}}</td>
															  	<td>
															  	<a href="/mytasks/view?key={{task.get.key.urlsafe}}"><i class="fa fa-eye apm-add-proj-view" title="View Task" aria-hidden="true"></i></a>
															  	<a href="/task/edittask?edit_key={{task.get.key.urlsafe}}&key=ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" data-toggle="modal" data-target="#add-issue-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Task"  id="{{task.get.key.urlsafe}}"></i></a>
															  	<a href="/task/movetask?task_key={{task.get.key.urlsafe}}" data-toggle="modal" data-target="#move-issue-modal"><i class="fa fa-arrows" aria-hidden="true" title="Move Task"></i></a>
															  	
																<!-- <a href="/task/deletetask?delete_key={{task.key.urlsafe}}&key=ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" data-toggle="modal" data-target="#delete-issue-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Task"  id="{{task.key.urlsafe}}"></i></a> -->
															  	
															  	</td>
															  	
															  </tr>
															  <tr class="separator" />
															   
															  {% endifequal %}
															 
															
															  {% endfor %}
															  
															  {%endif%}
															</tbody>
														</table>
														<!-- Pagination starts  -->
             											<ul class="pagination apm-table-pagination">
              											<li class="previous">
              											{% if res.prev %}
                											<a href="/sprint?sprint_key={{sprints.key.urlsafe}}&count={{count}}&prev_cursor={{ res.prev_cursor }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</a>
            											{% endif %}
              											
              											</li>
                 										<!-- <li><a href="#" class="apm-table-pagination-active">1</a></li>
              											 <li><a href="/sprint?sprint_key={{sprints.key.urlsafe}}&next_cursor={{page2.next_cursor}}">2</a></li>
              											<li><a href="/sprint?sprint_key={{sprints.key.urlsafe}}&next_cursor={{page3.next_cursor}}">3</a></li>
              											<li><a href="#">4</a></li>
              											<li><a href="#">5</a></li>  -->
              											<li class="next">
              											{% if res.next %}
															<a class="apm-table-pagination-active" href="/sprint?sprint_key={{sprints.key.urlsafe}}&count={{count}}&next_cursor={{res.next_cursor}}">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
														{% endif %}
               											
              											</li>
             											</ul>
             											<!-- Pagination ends  -->
														
														
														
														
													</div>
												</div>
											</div>
											<!-- Sprint 1 panel ENDS -->
											

								
									{%endif%}		
									
										
													
											

											</div>	

											
									
									
											
											
											
									</div>
								</div> <!-- .col-md-12 ends -->	
								
								
							</div>	 <!-- .row ends -->	
						</div>
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		<!-- edit Issue Modal Starts -->
			<div id="edit-issue-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- edit Issue Modal Ends -->
		<!-- move task Modal Starts -->
			<div id="move-issue-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- move task Modal Ends -->
	
	<!-- edit Issue Modal Starts -->
			<div id="delete-issue-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- edit Issue Modal Ends -->
		<!-- edit Issue Modal Starts -->
			<div id="delete-sprint-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- edit Issue Modal Ends -->
	
	<!-- edit Issue Modal Starts -->
			<div id="edit-sprint-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- edit Issue Modal Ends -->
		
	<!-- Create Issue Modal Starts -->
			<div id="add-issue-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- Create Issue Modal Ends -->
	
	
		<!-- pending task Modal Starts -->
			<div id="pending-task-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content" id="tr_content">
				  
				  
				  
				  
				</div>

			  </div>
			</div>
	<!-- edit Issue Modal Ends -->
	
	
		<!-- Create Spritn Modal Starts -->
			<div id="add-sprint-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add New Sprint</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
										<form role="form" id="add_sprint">
										<input type="hidden" value="ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" name="project_key">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Title<font color="red">*</font></label>
												<input name="name" type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
											  
											  
											  
											  
													
													  <div class="form-group task-form-group">
														<label class="task-label">Description<font color="red">*</font></label>
														<textarea name="desc" rows="4" class="form-control add-task-textbox apm-modal-textarea"></textarea>
													  </div>
												  
												  
												
											  
											  <div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="task-label">Start Date<font color="red">*</font></label>
														<input name="start" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="sprint_start">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="task-label">End Date<font color="red">*</font></label>
														<input name="end" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="sprint_end">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker1" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
											<div class="error" id="date_error"></div>	
											<div class="form-group task-form-group">
														<label class="task-label">Working Hours/Day (Hrs)<font color="red">*</font></label>
														<input name="workinghours" type="number" class="form-control add-task-textbox apm-modal-textbox" id="workinghours" min="1" max="24" maxlength="2">
													  </div>
											<div class="form-group task-form-group">
														<label class="task-label">Sprint Length</label>
														<input disabled type="text" class="form-control add-task-textbox apm-modal-textbox" value="0 weeks" id="length">
													  </div>
													  
												<div class="form-group task-form-group">
														<label class="task-label">Release</label>
														<select class="form-control add-task-textbox apm-modal-textbox" name="release" id="release">
														<option value="None">None</option>
														{%for rel in release%}
														
															<option value={{rel.get.key.urlsafe}}>{{rel.get.releaseName}}</option>
														
														{%endfor%}
												</select>
												 </div>
											  
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button"  class="add-task-btn-modal" data-dismiss="modal" id="submit_sprint" >Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Create Sprint Modal Ends -->
{%endblock%}		
