{% extends "base.html" %}

{% block title %}User | Sprint{% endblock %}
{% block header_links%}
<script>
				$(document).ready(function(){
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					$('body').on('focus',"#start,#start_edit", function(){
					    $(this).datepicker({
							format: 'dd/mm/yyyy',
							startDate: '0d'
						});
					});
					$('body').on('focus',"#end,#end_edit", function(){
					    $(this).datepicker({
							format: 'dd/mm/yyyy',
							startDate: '0d'
						});
					});
					$('.datepicker').datepicker({
						format: 'mm/dd/yyyy',
						startDate: '0d'
					});
					$('.datepicker').datepicker()
				    .on('changeDate', function(e) {
				        $('.datepicker').datepicker('hide');
				    });
					
					
					$('#sprint_end').datepicker()
				    .on('changeDate', function(e) {
				    	if ($('#sprint_start').val()!=""){
					        start=$('#sprint_start').val();
					        end=$('#sprint_end').val();
					        secs=(new Date(end)).getTime()/1000-(new Date(start)).getTime()/1000
					        secs=secs/60/60/24;
					        if (secs>7){
					        	week=parseInt(secs/7);
					        	days=secs%7;
					        	$("#length").val(week+" weeks "+days+" days")
					        }
					        else {
					        	if(secs==0){
					        		$("#length").val("1 Day")
					        	} else {
					        	$("#length").val(secs+" Days")
					        	}
					        }
				    	}
				    });
					$('#sprint_start').datepicker()
				    .on('changeDate', function(e) {
				    	if ($('#sprint_end').val()!=""){
				    		start=$('#sprint_start').val();
					        end=$('#sprint_end').val();
					        secs=(new Date(end)).getTime()/1000-(new Date(start)).getTime()/1000
					        secs=secs/60/60/24;
					        if (secs>7){
					        	week=parseInt(secs/7);
					        	days=secs%7;
					        	$("#length").val(week+" weeks "+days+" days")
					        }
					        else {
					        	if(secs==0){
					        		$("#length").val("1 Day")
					        	} else {
					        	$("#length").val(secs+" Days")
					        	}
					        }
				    	}
				    });
					/*$("#add-issue").click(function(e) {
						$('#add-issue-modal').modal('show');
					});*/
					$("#add-sprint").click(function(e) {
						$('#add-sprint-modal').modal('show');
					});
					
					$("#submit_sprint").on("click",function(){
						$.post( "/sprint", $("#add_sprint").serialize())
				  		.done(function( data ) {
				  			if (data!="true"){
				  				alert("Something Went Wrong");
				  				return false
				  			} 
				  		});
						$('#add-sprint-modal').on('hidden.bs.modal', function(e)
							    { 
							        $(this).removeData();
							        /*$('#edit_permissions').load('/admin/permissions #edit_permissions', function(result) {
					  				    var variable = $('#edit_permissions').html();
					  				});*/
							    }) ;
						return false;
					})
					
					$('#edit-issue-modal').on('hidden.bs.modal', function(e)
						    { 
						        $(this).removeData();
						        
						    }) ;
				});
		</script>		
{% endblock %}
{%block content%}
		
     
        
		
		
		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Sprint Items</h2>
						
						<!-- Backlog Filter section -->
						<div class="apm-backlog-filter-box">
							
							<!-- Add issue button -->
							<a href="/task?key=ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" data-toggle="modal" data-target="#add-issue-modal">
												<button class="apm-listing-add-proj-btn pro-button apm-add-sprint-btn" id="add-issue">Add Issue</button>
											</a>
								
								<button class="apm-listing-add-proj-btn pro-button apm-add-sprint-btn" id="add-sprint">Add Sprint</button>
							
							
							<!-- Backlog Filter section ENDS -->
							
						</div>
						<!-- Add Sprint Button ENDS -->
						
						
						<hr>
						
						
							<div class="row" id="tasks_sprints">
								<div class="col-md-12">
									<div class="">
									{% for sprint in sprints%}
											<!-- Sprint 1 panel -->
											<div class="panel panel-default apm-sprint-panel" id="sprint">
												<div class="panel-heading">
													{{sprint.name}}
												</div>
												<div class="panel-body">
													<div class="table-responsive">
														<table class="table apm-sprint-table apm-sprint-item-table">
															<thead>
																<tr>	
																	
																	<th>Name</th>
																	<th>Task Description</th>
																	<th>Task Created On</th>
																	<th>Assigned To</th>
																	<th>Status</th>
																	<th>Complexity</th>
																	<th>Complexity Points</th>
																	<th>Estimated Efforts (Hrs.)</th>
																	<th>Actual Efforts (Hrs.)</th>
																	<th>Action Items</th>
																</tr>
															</thead>
															<tr class="separator" />
															<tbody>
															
															{%for task in tasks %}
																{%ifequal task.sprint sprint.key%}
															  <tr>
																
																<td title="User Story">{{task.name}}</td>
																<td title="Task Description">{{task.description}}</td>
																<td title="Task Created On">{{task.createdDate}}</td>
																<td title="Assigned To">{{task.assignee.get.userName}}</td>
																<td title="Status">Open</td>
																<td title="Complexity">{{task.complexity.get.estimationLevel}}</td>
																<td title="Complexity Points">{{task.complexity.get.estimationPoint}}</td>
																<td title="Estimated Efforts (Hrs.)">{{task.complexity.get.estimationHours}}</td>
																<td title="Actual Efforts (Hrs.)">{{task.actual_efforts}}</td>
															  	<td><a href="/task/edittask?edit_key={{task.key.urlsafe}}&key=ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" data-toggle="modal" data-target="#edit-issue-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Task"  id="{{task.key.urlsafe}}"></i></a>
																<a href="/task/deletetask?delete_key={{task.key.urlsafe}}&key=ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" data-toggle="modal" data-target="#delete-user-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Task"  id="{{task.key.urlsafe}}"></i></a></td>
															  </tr>
															  <tr class="separator" />
															  {% endifequal %}
															  {% endfor %}
															  
															  
															  
															  
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<!-- Sprint 1 panel ENDS -->
									{% endfor%}		
											
											
											
											
											
											
											
									</div>
								</div> <!-- .col-md-12 ends -->	
								
								
							</div>	 <!-- .row ends -->	
						</div>
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		<!-- edit Issue Modal Starts -->
			<div id="edit-issue-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- edit Issue Modal Ends -->
		
	<!-- Create Issue Modal Starts -->
			<div id="add-issue-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- Create Issue Modal Ends -->
	
		<!-- Create Spritn Modal Starts -->
			<div id="add-sprint-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add New Sprint</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
										<form role="form" id="add_sprint">
										<input type="hidden" value="ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" name="project_key">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Name</label>
												<input name="name" type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
											  
											  
											  
											  
													
													  <div class="form-group task-form-group">
														<label class="task-label">Description</label>
														<textarea name="desc" rows="4" class="form-control add-task-textbox apm-modal-textarea"></textarea>
													  </div>
												  
												  
												
											  
											  <div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Start Date</label>
														<input name="start" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="sprint_start">
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">End Date</label>
														<input name="end" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="sprint_end">
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
											<div class="form-group task-form-group">
														<label class="task-label">Working Hours/Day (Hrs)</label>
														<input name="workinghours" type="number" class="form-control add-task-textbox apm-modal-textbox" value="" id="" maxlength="3">
													  </div>
											<div class="form-group task-form-group">
														<label class="task-label">Sprint Length</label>
														<input disabled type="text" class="form-control add-task-textbox apm-modal-textbox" value="0 weeks" id="length">
													  </div>
											  
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="submit_sprint">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Create Sprint Modal Ends -->
{%endblock%}		
		
		
		
		
</body>
</html>