{% extends "base.html" %}

{% block title %}User | Sprint{% endblock %}
{% block header_links%}
<style>
.cr{
			cursor:pointer;
		}
.error{
			color:red;
			display: inline-block;
    		max-width: 100%;
    		margin-bottom: 5px;
    		font-weight: 700;
		}
 .sprint-action-dropdown-box{
    list-style-type: none;
    float: right;
   }
   .sprint-action-dropdown{
    margin-left: -58px;
    min-width: 130px;
    margin-top: 2px;
   }
   .sprint-action-dropdown li a {
    padding: 6px 12px!important;
    font-size: 11px;
    font-weight: bold;
    color:#000!important;
   }
   .sprint-action-dropdown li a:hover{
    color:#3978BF!important; 
   }
   .sprint-action-link{
    font-size: 12px!important;
    letter-spacing: 1px!important;
    text-decoration:none!important;
   }
   .apm-sprint-listing-box{
    padding:0!important;
   }
</style>
<script>
				$(document).ready(function(){
					
					
					$('.form-group').find('.open-datetimepicker').on('click', function(){
					    $('#sprint_start').trigger('focus');
					});
					
					$('.form-group').find('.open-datetimepicker1').on('click', function(){
					    $('#sprint_end').trigger('focus');
					});
					
	/***********************sprint validation starts******************************/
					
					var sprint_validator=   $("#add_sprint").validate({
						      rules: {
						    	  name: 
						    	  {
						           		 required: true
						          },
						          desc: 
						          {
							      		 required: true
							      },
							    /*   start: 
							      {
								  		 required: true
						          },
						          end: 
						          {
										 required: true
										
								  }, */
								  workinghours: 
								  {
										 required: true
										
									
								  }
								 /*  ,
								  release: 
								  {
										 required: true
										
									
								  }
					    */
					   
						         },
						         messages: 
						         {
						        	 name: 
						           {
						             required: "Please enter sprint name."
						           },
						           desc: 
						           {
						             required: "Please enter sprint description."
						           },
						        /*    start:
						           {
							             required: "Please select start date."
							       },
							       end:
							       {
							             required: "Please select end date."
							            
							       }, */
							       workinghours: 
							       {
							             required: "Please enter working hours."
							       }
							    /*    ,
							       release: 
							       {
							             required: "Please select release."
							       } */
						           
						         }
						     });
					/***********************sprint validation ends******************************/
					
					
					$(".table").each(function(){
						if (!$(this).find("tr.find_empty").length){
						a=$(this).find("tbody")[0];
						$(a).append("<tr><td colspan='10' align='center'>There are no tasks in the sprint</td></tr>")
						}
						
					})
					if (!$('#empty_sprint').find("tr.find_empty").length){
						$('#empty_sprint').remove();
						
					}
					$('#tasks_sprints').on('load',function(){
						$(".table").each(function(){
												if (!$(this).find("tr.find_empty").length){
												a=$(this).find("tbody")[0];
												$(a).append("<tr><td colspan='10' align='center'>There are no tasks in the sprint</td></tr>")
												}
												
											})
											if (!$('#empty_sprint').find("tr.find_empty").length){
												$('#empty_sprint').remove();
												
											}
						})
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					$('body').on('focus',"#start,#start_edit", function(){
					    $(this).datepicker({
							format: 'dd/mm/yyyy',
							startDate: '0d'
						});
					});
					$('body').on('focus',"#end,#end_edit", function(){
					    $(this).datepicker({
							format: 'dd/mm/yyyy',
							startDate: '0d'
						});
					});
					$('.datepicker').datepicker({
						format: 'mm/dd/yyyy',
						startDate: '0d'
					});
					$('.datepicker').datepicker()
				    .on('changeDate', function(e) {
				        $('.datepicker').datepicker('hide');
				    });
					
					
					$('#sprint_end').datepicker()
				    .on('changeDate', function(e) {
				    	if ($('#sprint_start').val()!=""){
					        start=$('#sprint_start').val();
					        end=$('#sprint_end').val();
					        secs=(new Date(end)).getTime()/1000-(new Date(start)).getTime()/1000
					        secs=secs/60/60/24;
					        if (secs>=7){
					        	week=parseInt(secs/7);
					        	days=secs%6;
					        	$("#length").val(week+" weeks "+days+" days")
					        }
					        else {
					        	if(secs==0){
					        		$("#length").val("1 Day")
					        	} else {
					        		secs=secs+1;
					        	$("#length").val(secs+" Days")
					        	}
					        }
				    	}
				    });
					$('#sprint_start').datepicker()
				    .on('changeDate', function(e) {
				    	if ($('#sprint_end').val()!=""){
				    		start=$('#sprint_start').val();
					        end=$('#sprint_end').val();
					        secs=(new Date(end)).getTime()/1000-(new Date(start)).getTime()/1000
					        secs=secs/60/60/24;
					        if (secs>=7){
					        	week=parseInt(secs/7);
					        	days=secs%6;
					        	$("#length").val(week+" weeks "+days+" days")
					        }
					        else {
					        	if(secs==0){
					        		$("#length").val("1 Day")
					        	} else {
					        		secs=secs+1;
					        	$("#length").val(secs+" Days")
					        	}
					        }
				    	}
				    });
					/*$("#add-issue").click(function(e) {
						$('#add-issue-modal').modal('show');
					});*/
					$("#add-sprint").click(function(e) {
						$('#add-sprint-modal').modal('show');
					});
					
					$("#submit_sprint").on("click",function(){
						 if (!$('#add_sprint').valid()){
							    event.preventDefault();
							    event.stopImmediatePropagation();
							    return false;
						 }
						 else
						 {
						 
						 var start_date=$('#start').val();
						 var end_date=$('#end').val();
						 var project_start_date="{{session.current_project.get.startDate|date:'m/d/Y'}}";
						 var project_end_date="{{session.current_project.get.endDate|date:'m/d/Y'}}";
						 
						 if(start_date < project_start_date && start_date!='' && end_date > project_start_date && end_date !='')
						 {
							 
								$('#date_error').text("Start date cannot before project start date("+project_start_date+").")
								event.preventDefault();
								 event.stopImmediatePropagation();
								 return false;
								 
							 
						 }
						 
						 if (start_date > project_end_date && start_date!='' && end_date < project_end_date && end_date !='')
						 {
								 
								$('#date_error').text("Start date cannot be after project end date("+project_end_date+").")
								event.preventDefault();
								 event.stopImmediatePropagation();
								 return false;
								 
							 
						 }
						 else
							 if (end_date < project_start_date && end_date !='' && start_date > project_start_date && start_date!='')
							 {
									 
									$('#date_error').text("End Date cannot be before project start date("+project_start_date+").")
									event.preventDefault();
									 event.stopImmediatePropagation();
									 return false;
									 
								 
							 }
							 
							 else
							 if (end_date > project_end_date && end_date !='' && start_date < project_end_date && start_date!='')
							 {
									 
									$('#date_error').text("End date cannot be greater than Project Date("+project_end_date+").")
									event.preventDefault();
									 event.stopImmediatePropagation();
									 return false;
									 
								 
							 }
						 else
							if (end_date > project_end_date && start_date > project_end_date && end_date !='' && start_date!='')
								 {
										 
										$('#date_error').text("Start date & end date cannot be after project end date("+project_end_date+").")
										event.preventDefault();
										 event.stopImmediatePropagation();
										 return false;
										 
									 
								 } 
							 else
							if (end_date < project_start_date && start_date < project_start_date && end_date !='' && start_date!='')
										 {
												 
												$('#date_error').text("Start date & end date cannot be before project start date("+project_start_date+").")
												event.preventDefault();
												 event.stopImmediatePropagation();
												 return false;
												 
											 
										 } 
							else
								if(start_date > end_date)
								{
									$('#date_error').text("Start date cannot be after end date.")
									event.preventDefault();
									 event.stopImmediatePropagation();
									 return false;
									
								}
						 else
						
							 {
							 
							 $('#date_error').text("");
							 $.post( "/sprint", $("#add_sprint").serialize())
						  		.done(function( data ) {
						  			if (data!="true"){
						  				alert("Something Went Wrong");
						  				return false
						  			} 
						  		//	$("#backlog_form").reset();
						  			
						  			
						  			 
						  		
						  		});
							
							 }	
						 }	
								
						})
					
						
			/* 		$("#submit_sprint").on("click",function(){
						$.post( "/sprint", $("#add_sprint").serialize())
				  		.done(function( data ) {
				  			if (data!="true"){
				  				alert("Something Went Wrong");
				  				return false
				  			} 
				  		})
					});
						 */
				  			
				  			$('#add-sprint-modal').on('hidden.bs.modal', function(e)
								    { 
									//	alert("hey");
										 $('#date_error').text("");
										$(this).removeData('bs.modal');
										$(this).find('form')[0].reset();
										sprint_validator.resetForm();
										$('#tasks_sprints').load('/sprint #tasks_sprints', function(result) {
						  				    //var variable = $('#edit_permissions').html();
						  				});
								
								    }) ;
							
				  		
					
					$('#edit-issue-modal').on('hidden.bs.modal', function(e)
						    { 
						        $(this).removeData();
						        $('#tasks_sprints').load('/sprint #tasks_sprints', function(result) {
				  				    //var variable = $('#edit_permissions').html();
				  				});
						        
						    }) ;
					
				
				});
		</script>		
		
{% endblock %}	
	


     
{%block content%}	
     
        
		
		
		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Sprint Items</h2>
						
						<!-- Backlog Filter section -->
						<div class="apm-backlog-filter-box">
							
							<!-- Add issue button -->
							<a href="/task" data-toggle="modal" data-target="#add-issue-modal">
												<button class="apm-listing-add-proj-btn pro-button apm-add-sprint-btn" id="add-issue">Add Issue</button>
											</a>
								
								<button class="apm-listing-add-proj-btn pro-button apm-add-sprint-btn" id="add-sprint">Add Sprint</button>
							
							
							<!-- Backlog Filter section ENDS -->
							
						</div>
						<!-- Add Sprint Button ENDS -->
						
						
						<hr>
						
						
							<div class="row" id="tasks_sprints">
								<div class="col-md-12">
									<div class="">
									{%if sprints%}
									{% for sprint in sprints%}
									{%if sprint.status%}
											<!-- Sprint 1 panel -->
											<div class="panel panel-default apm-sprint-panel" id="sprint">
												<div class="panel-heading">
													{{sprint.name}}
												<!-- Sprint Action dropdown starts -->
              									<li class="dropdown sprint-action-dropdown-box">
              									 <a href="#" class="dropdown-toggle sprint-action-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
             									  <i class="fa fa-cogs"></i> Action
            									   <span class="caret"></span></a>
            								   <ul class="dropdown-menu sprint-action-dropdown bullet">
           								      <li><a href="/sprint/edit?edit_key={{sprint.key.urlsafe}}" data-toggle="modal" data-target="#edit-sprint-modal"><i class="fa fa-pencil"></i> Edit Sprint</a></li>
                 						<!-- 	 <li><a href="#"><i class="fa fa-check-circle"></i> Complete Sprint</a></li>  -->
                						<li><a href="/sprint/delete?delete_key={{sprint.key.urlsafe}}"  data-toggle="modal" data-target="#delete-sprint-modal"><i class="fa fa-trash"></i> Delete Sprint</a></li>
               								</ul>
            								  </li>
										<!-- Sprint Action dropdown Ends -->
												</div>
												<div class="panel-body">
													<div class="table-responsive">
														<table class="table apm-sprint-table apm-sprint-item-table">
															<thead>
																<tr>	
																	
																	<th>Title</th>
																	<th>Task Description</th>
																	<th>Planned Start Date</th>
																	<th>Planned End Date</th>
																	<th>Assigned To</th>
																	<th>Status</th>
																	<th>Complexity</th>
																	<th>Estimated Efforts (Hrs.)</th>
																	<th>Action Items</th>
																</tr>
															</thead>
															<tr class="separator" />
															<tbody>
															{%if tasks%}
															{%for task in tasks %}
															{%if task.status%}
																{%ifequal task.sprint sprint.key%}
															  <tr class="find_empty">
																
																<td title="User Story">{{task.name}}</td>
																<td title="Task Description">{{task.description}}</td>
																<td title="Planned Start Date">{{task.startDate}}</td>
																<td title="Planned End Date">{{task.endDate}}</td>
																<td title="Assigned To">{{task.assignee.get.userName}}</td>
																<td title="Status">{{task.task_status}}</td>
																<td title="Complexity">{{task.complexity.get.estimationLevel}}</td>
																
																<td title="Actual Efforts (Hrs.)">{{task.actual_efforts}}</td>
															  	<td>
															  	<a href="/mytasks/view?key={{task.key.urlsafe}}"><i class="fa fa-eye apm-add-proj-view" aria-hidden="true"></i></a>
															  	<a href="/task/edittask?edit_key={{task.key.urlsafe}}&key=ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" data-toggle="modal" data-target="#edit-issue-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Task"  id="{{task.key.urlsafe}}"></i></a>
																<a href="/task/deletetask?delete_key={{task.key.urlsafe}}&key=ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" data-toggle="modal" data-target="#delete-issue-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Task"  id="{{task.key.urlsafe}}"></i></a>
															  	</td>
															  	
															  </tr>
															  <tr class="separator" />
															   
															  {% endifequal %}
															 
															  {%endif%}
															  {% endfor %}
															  
															  {%endif%}
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<!-- Sprint 1 panel ENDS -->
											{%endif%}

									{% endfor%}		
									{%endif%}		
									
										
													
											

											</div>	

											
									
									
											
											
											
									</div>
								</div> <!-- .col-md-12 ends -->	
								
								
							</div>	 <!-- .row ends -->	
						</div>
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		<!-- edit Issue Modal Starts -->
			<div id="edit-issue-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- edit Issue Modal Ends -->
	<!-- edit Issue Modal Starts -->
			<div id="delete-issue-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- edit Issue Modal Ends -->
		<!-- edit Issue Modal Starts -->
			<div id="delete-sprint-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- edit Issue Modal Ends -->
	
	<!-- edit Issue Modal Starts -->
			<div id="edit-sprint-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- edit Issue Modal Ends -->
		
	<!-- Create Issue Modal Starts -->
			<div id="add-issue-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- Create Issue Modal Ends -->
	
		<!-- Create Spritn Modal Starts -->
			<div id="add-sprint-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add New Sprint</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
										<form role="form" id="add_sprint">
										<input type="hidden" value="ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" name="project_key">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Title<font color="red">*</font></label>
												<input name="name" type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
											  
											  
											  
											  
													
													  <div class="form-group task-form-group">
														<label class="task-label">Description<font color="red">*</font></label>
														<textarea name="desc" rows="4" class="form-control add-task-textbox apm-modal-textarea"></textarea>
													  </div>
												  
												  
												
											  <div class="error" id="date_error"></div>	
											  <div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Start Date</label>
														<input name="start" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="sprint_start">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">End Date</label>
														<input name="end" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="sprint_end">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker1" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
											<div class="form-group task-form-group">
														<label class="task-label">Working Hours/Day (Hrs)<font color="red">*</font></label>
														<input name="workinghours" type="number" class="form-control add-task-textbox apm-modal-textbox" value="" id="" maxlength="3">
													  </div>
											<div class="form-group task-form-group">
														<label class="task-label">Sprint Length</label>
														<input disabled type="text" class="form-control add-task-textbox apm-modal-textbox" value="0 weeks" id="length">
													  </div>
													  
												<div class="form-group task-form-group">
														<label class="task-label">Release</label>
														<select class="form-control add-task-textbox apm-modal-textbox" name="release" id="release">
														<option value="None">None</option>
														{%for i in release%}
														{%if i.status%}
															<option value={{i.key.urlsafe}}>{{i.releaseName}}</option>
														{%endif%}
														{%endfor%}
												</select>
												 </div>
											  
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button"  class="add-task-btn-modal" data-dismiss="modal" id="submit_sprint" >Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Create Sprint Modal Ends -->
{%endblock%}		
		
		
		
		
</body>
</html>