{% extends "base.html" %}

{% block title %}User | Project | Backlog{% endblock %}
		
{% block header_links%}
		
		<style>
			.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
			.apm-listing-add-proj-box {
				margin-top: -80px!important;
			}
			.apm-member-listing-table {
				margin-top: 25px!important;
			}
			.apm-sprint-detail-span{
 				color:#407CD6!important;
			}
			.panel-edit-link{
 				float:right;
			}
			.panel-edit-link a, .panel-edit-link a:active, .panel-edit-link a:visited, .panel-edit-link a:focus{
 				color:#fff!important;
 				text-transform:uppercase;
 				letter-spacing:1px;
			}
			
			.apm-sprint-table thead tr:first-child {
    			padding: 2px 2px!important;
    			color: #000!important;
    			border: none!important;
    			background: transparent!important;
    			font-size: 10px!important;
    			letter-spacing: 0!important;
			}
			.error{
			color:red;
			}
		</style>
		
			
		<script>
				$(document).ready(function(){
					
				/*******************for detail table start************************/	
					 var a=$(".table tr:eq(2) td").map(function() {
				           return $(this).text();
				       }).get().join("|");
					 
					 row_key=$(".table tr:eq(2)").attr("id");
					
					 $("#edit_key").attr("href", "/backlog/edit?edit_key="+row_key)
					 $("#delete_key").attr("href", "/backlog/delete?delete_key="+row_key)
				     
					 var update="/backlog/update?update_key="+row_key;
					 var edit="/backlog/edit?edit_key="+row_key;
				     var delete_key ="/backlog/delete?delete_key="+row_key;
				     
				     
				     
				       var myList =a;
				       var myArray = myList.split( '|' );  
				       
				       
				     
				       $('#edit_delete_panel').html('<a href="'+edit+'" id="edit_key" data-toggle="modal" data-target="#edit-backlog-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Release"  id="{{i.key.urlsafe}}"></i></a><a id="delete_key" href="'+delete_key+'" data-toggle="modal" data-target="#delete-backlog-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Release"  id="{{i.key.urlsafe}}"></i></a>');
						
				       $('#sprint').html(myArray[0]);
				       $('#sprint_name').html(myArray[0]);
				       $('#backlog_name').html(myArray[1]);
				       $('#description').html(myArray[2]);
				      
				       if( myArray[3] == '' || myArray[3] == 'None')
				    	   {
				    	   $('#assignee').html('<a href="'+update+'" id="update_key" data-toggle="modal" data-target="#add-assignee-modal">Assign<i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Update User Story" id="{{i.key.urlsafe}}"></i></a>');
				    	   }
				       else
				    	   {
				      			 $('#assignee').html(myArray[3]);
				    	   }
				       $('#rough_estimate').html(myArray[4]);
				       $('#priority').html(myArray[5]);
				       $('#status').html(myArray[6]);
				      
					 
					 
					//alert( $.trim(a));
					//console.log(a);
					
					/*******************for detail table end************************/	
					
				
					/*******************user story validation starts************************/	
					var validator=   $("#backlog_form").validate({
						      rules: {
						    	 
						          backlog_name: 
						          {
							      		 required: true
							      },
							      description: 
							      {
								  		 required: true
						          },
						          rough_estimate: 
						          {
										 required: true
										
								  },
								  priority: 
								  {
										 required: true
										
									
								  }
					   
					   
						         },
						         messages: 
						         {
						        	
						           backlog_name: 
						           {
						             required: "Please enter story name."
						           },
						           description:
						           {
							             required: "Please enter story description."
							       },
							       rough_estimate:
							       {
							             required: "Please enter rough estimation."
							            
							       },
							       priority: 
							       {
							             required: "Please enter priority."
							       }
						           
						         }
						     });
					
					/*******************user story validation ends************************/	
					
					
					/***********************sprint validation starts******************************/
					
					var sprint_validator=   $("#add_sprint").validate({
						      rules: {
						    	  name: 
						    	  {
						           		 required: true
						          },
						          desc: 
						          {
							      		 required: true
							      },
							      start: 
							      {
								  		 required: true
						          },
						          end: 
						          {
										 required: true
										
								  },
								  workinghours: 
								  {
										 required: true
										
									
								  }
								 /*  ,
								  release: 
								  {
										 required: true
										
									
								  }
					    */
					   
						         },
						         messages: 
						         {
						        	 name: 
						           {
						             required: "Please enter sprint name."
						           },
						           desc: 
						           {
						             required: "Please enter sprint description."
						           },
						           start:
						           {
							             required: "Please select start date."
							       },
							       end:
							       {
							             required: "Please select end date."
							            
							       },
							       workinghours: 
							       {
							             required: "Please enter working hours."
							       }
							    /*    ,
							       release: 
							       {
							             required: "Please select release."
							       } */
						           
						         }
						     });
					/***********************sprint validation ends******************************/
					//$("#details").hide();
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					$('.datepicker').datepicker({
						format: 'dd/mm/yyyy',
						startDate: '0d'
					});
					
					
					$("#add-sprint").click(function(e) {
						$('#add-sprint-modal').modal('show');
					});
					$("#add-issue").click(function(e) {
						$('#add-issue-modal').modal('show');
					});
				
					
					//sprint 
					$('.datepicker1').datepicker({
						format: 'mm/dd/yyyy',
						startDate: '0d'
					});
					
					
					
					
				/********************user story starts**********************************/
					$("#add_backlogs").on("click",function(){
						 if (!$('#backlog_form').valid()){
							    event.preventDefault();
							    event.stopImmediatePropagation();
							    return false;
						 }
						 else
							 {
							$.post( '/backlog/addbacklog', $("#backlog_form").serialize())
							.done(function( data ) {
								if (data!="true"){
									alert("Backlog cannot be added");
									return false
								} else {
									
									
									
								}
							});
							
							
						 	}		
								
						})
					
						$('#add-issue-modal').on('hidden.bs.modal', function(e)
									    { 
									 	
									        $(this).removeData('bs.modal');
									        $(this).find('form')[0].reset();
									        validator.resetForm();
									        $('.table').load('/backlog .table', function(result) {
							  				});
										
									 
										
									    }) ;
	

							
					/********************user story ends**********************************/		
					
					$(".table").on("click",".clickable-row",function(){
					//	$(".clickable-row").click(function() {
					
						 $("#details").show();
					     key=$(this).attr("id")
						 
					     //alert($(this).attr("id"))
						 
					     $("#edit_key").attr("href", "/backlog/edit?edit_key="+key)
						 $("#delete_key").attr("href", "/backlog/delete?delete_key="+key)
					     
						 var update="/backlog/update?update_key="+key;
						 var edit="/backlog/edit?edit_key="+key;
					     var delete_key ="/backlog/delete?delete_key="+key;
					     
					     
					       var $test = $(this).find('td').map(function() {
					           return $(this).text();
					       }).get().join("|");
					     
					       var myList = $test;
					       var myArray = myList.split( '|' );  
					       
					       
					     
					       $('#edit_delete_panel').html('<a href="'+edit+'" id="edit_key" data-toggle="modal" data-target="#edit-backlog-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Release"  id="{{i.key.urlsafe}}"></i></a><a id="delete_key" href="'+delete_key+'" data-toggle="modal" data-target="#delete-backlog-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Release"  id="{{i.key.urlsafe}}"></i></a>');
							
					       $('#sprint').html(myArray[0]);
					       $('#sprint_name').html(myArray[0]);
					       $('#backlog_name').html(myArray[1]);
					       $('#description').html(myArray[2]);
					      
					       if( myArray[3] == '' || myArray[3] == 'None')
					    	   {
					    	   $('#assignee').html('<a href="'+update+'" id="update_key" data-toggle="modal" data-target="#add-assignee-modal">Assign<i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Update User Story" id="{{i.key.urlsafe}}"></i></a>');
					    	   }
					       else
					    	   {
					      			 $('#assignee').html(myArray[3]);
					    	   }
					       $('#rough_estimate').html(myArray[4]);
					       $('#priority').html(myArray[5]);
					       $('#status').html(myArray[6]);
					      
					    
					    });
					
					//sprint
					
					$('#sprint_end').datepicker()
				    .on('changeDate', function(e) {
				    	if ($('#sprint_start').val()!=""){
					        start=$('#sprint_start').val();
					        end=$('#sprint_end').val();
					        secs=(new Date(end)).getTime()/1000-(new Date(start)).getTime()/1000
					        secs=secs/60/60/24;
					        if (secs>7){
					        	week=parseInt(secs/7);
					        	days=secs%7;
					        	$("#length").val(week+" weeks "+days+" days")
					        }
					        else {
					        	if(secs==0){
					        		$("#length").val("1 Day")
					        	} else {
					        	$("#length").val(secs+" Days")
					        	}
					        }
				    	}
				    });
					$('#sprint_start').datepicker()
				    .on('changeDate', function(e) {
				    	if ($('#sprint_end').val()!=""){
				    		start=$('#sprint_start').val();
					        end=$('#sprint_end').val();
					        secs=(new Date(end)).getTime()/1000-(new Date(start)).getTime()/1000
					        secs=secs/60/60/24;
					        if (secs>7){
					        	week=parseInt(secs/7);
					        	days=secs%7;
					        	$("#length").val(week+" weeks "+days+" days")
					        }
					        else {
					        	if(secs==0){
					        		$("#length").val("1 Day")
					        	} else {
					        	$("#length").val(secs+" Days")
					        	}
					        }
				    	}
				    });
					
					
					
					/**********************for sprint***********************************/
						$("#add-sprint").click(function(e) {
							$('#add-sprint-modal').modal('show');
						});
						
						
						$("#submit_sprint").on("click",function(){
							 if (!$('#add_sprint').valid()){
								    event.preventDefault();
								    event.stopImmediatePropagation();
								    return false;
							 }
							 else
								 {
								 $.post( "/sprint", $("#add_sprint").serialize())
							  		.done(function( data ) {
							  			if (data!="true"){
							  				alert("Something Went Wrong");
							  				return false
							  			} 
							  		//	$("#backlog_form").reset();
							  			
							  			
							  			 $('#backlog_form').load('/backlog #backlog_form', function(result) {
							  				}); 
							  		
							  		});
								
								
							 	}		
									
							})
						
						
					
							
							
							
							
					
						
						
						$('#add-sprint-modal').on('hidden.bs.modal', function(e)
							    { 
									$(this).removeData('bs.modal');
									sprint_validator.resetForm();
									$(this).find('form')[0].reset();
									
							
							    }) ;
						
						
						/**************sprint ends*************************/
						

				});
					
				function minmax(value, min, max) 
				{
				    if(parseInt(value) < min || isNaN(value)) 
				        return 0; 
				    else if(parseInt(value) > max) 
				        return 5; 
				    else return value;
				}					
		</script>
		
{% endblock %}	
	


     
{%block content%}	
 

		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Backlogs</h2>
				
						<!-- Backlog Filter section -->
						<div class="apm-backlog-filter-box">
							
							<!-- Filter 1 -->
							<div class="dropdown apm-backlog-filter-dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							  <i class="fa fa-filter backlog-filter-icon" aria-hidden="true"></i>Filter 1
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<li><a href="#">option 1</a></li>
								<li><a href="#">option 2</a></li>
								<li><a href="#">option 3</a></li>
							  </ul>
							</div>
							
							<!-- Filter 2 -->
							<div class="dropdown apm-backlog-filter-dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							  <i class="fa fa-filter backlog-filter-icon" aria-hidden="true"></i>Filter 2
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<li><a href="#">option 1</a></li>
								<li><a href="#">option 2</a></li>
								<li><a href="#">option 3</a></li>
							  </ul>
							</div>
							
							<!-- Filter 3 -->
							<div class="dropdown apm-backlog-filter-dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							  <i class="fa fa-filter backlog-filter-icon" aria-hidden="true"></i>Filter 3
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<li><a href="#">option 1</a></li>
								<li><a href="#">option 2</a></li>
								<li><a href="#">option 3</a></li>
							  </ul>
							</div>
							
							<!-- Add Sprint Button & Add issue button -->
								<br class="btn-separator">
								<button class="apm-listing-add-proj-btn pro-button apm-add-sprint-btn" id="add-issue" data-toggle="modal" data-dismiss="modal">Add User Story</button>
								
								<button class="apm-listing-add-proj-btn pro-button apm-add-sprint-btn" id="add-sprint" data-toggle="modal"  data-dismiss="modal">Add Sprint</button>
							
							<!-- Backlog Filter section ENDS -->
							
						</div>
						<!-- Add Sprint Button ENDS -->
						
						
						<hr>
						
						
							<div class="row">
								<div class="col-md-9">
									<div class="">
											<!-- Sprint 1 panel -->
											<div class="panel panel-default apm-sprint-panel">
												<div class="panel-heading">
													All User Stories
												</div>
												<div class="panel-body">
													<div class="table-responsive">
														<table class="table apm-sprint-table">
															<tbody>
               													 <tr> 
               													  <td><b>Sprint Name</b></td>
               													  <td><b>Story Name</b></td>
               													  <td><b>Story Description</b></td>
               													  <td><b>Assigned To</b></td>
                												  <td><b>Rough Effort Estimate</b></td>
              													   <td><b>Priority</b></td>
              													   <td><b>Status</b></td>
                 
             													   </tr>
             												
														<tr class="separator" />
															{%for i in productBacklog%}
														
															{%if i.status%}
															{%if i.project_key.get.name == session.current_project.get.name %}
															  <tr class='clickable-row' id="{{i.key.urlsafe}}" >
																<td>{%if i.sprintId != None  %}
																		{{i.sprintId.get.name}}
																	{%else%}
																	{{i.sprintId}}
																	{%endif%}
																</td>
																<td>{{i.backlog_name}}</td>
																<td>{{i.storyDesc}}</td>
																<!-- <td>{{i.startDate}}</td> -->
																<td>{{i.assignee.get.name}}</td>
																<td>{{i.roughEstimate}}</td>
																<td>{{i.priority}}</td>
																<td>
																	{{i.user_story_status}}
																</td>
															  </tr>
															  
															  <tr class="separator" />
															    {%endif%}
															  {%endif%}
															  {%endfor%}
															
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<!-- Sprint 1 panel ENDS -->
											
											
											
									</div>
								</div> <!-- .col-md-9 ends -->	
								
								
								<!-- Box to show Details of sprint item -->
								<div class="col-md-3" id="details">
										<div class="panel panel-default apm-sprint-panel">
												<div class="panel-heading">
													Details : <i id="sprint"></i>
													
													<span class="panel-edit-link" id="edit_delete_panel" ><!-- <a href="#" id="edit_key" data-toggle="modal" data-target="#edit-backlog-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Release"  id="{{i.key.urlsafe}}"></i></a>
																<a id="delete_key" href="#" data-toggle="modal" data-target="#delete-backlog-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Release"  id="{{i.key.urlsafe}}"></i></a>
												 -->	<!-- 	<a id="edit_key" href="#" data-toggle="modal" data-target="#edit-backlog-modal">
														Edit</a> -->
													</span>
												</div>
												<div class="panel-body apm-subpanel-body">	
													<ul class="apm-sprint-detail-list">
														<li ><b><span class=".apm-sprint-detail-span">Sprint Name -</span></b><i id="sprint_name"></i></li>
														
														<li><b><span class=".apm-sprint-detail-span">Story Name -</span></b><i id="backlog_name"></i></li>
														<li><b><span class=".apm-sprint-detail-span">Story Description -</span></b><i id="description"></i></li>
														<li><b><span class=".apm-sprint-detail-span">Assigned To -</span></b><i id="assignee">												
														  </li>
														<li><b><span class=".apm-sprint-detail-span">Rough Effort Estimate  -</span></b><i id="rough_estimate"></i></li>
														<li><b><span class=".apm-sprint-detail-span">Priority -</span></b><i id="priority"></i></li>
														<li><b><span class=".apm-sprint-detail-span">Status -</span></b><i id="status"></i></li>
													</ul>
												</div>
										</div>		
								</div> <!-- .col-md-3 ends -->	
								
							</div>	 <!-- .row ends -->	
						</div>
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
	<!-- Create Spritn Modal Starts -->
			<div id="add-sprint-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add New Sprint</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
										<form role="form" id="add_sprint">
										<input type="hidden" value="ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" name="project_key">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Name</label>
												<input name="name" type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
											  
											  
											  
											  
													
													  <div class="form-group task-form-group">
														<label class="task-label">Description</label>
														<textarea name="desc" rows="4" class="form-control add-task-textbox apm-modal-textarea"></textarea>
													  </div>
												  
												  
												
											  
											  <div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Start Date</label>
														<input name="start" type="text" class="form-control apm-landing-textbox-reg datepicker1" readonly="true" id="sprint_start">
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">End Date</label>
														<input name="end" type="text" class="form-control apm-landing-textbox-reg datepicker1" readonly="true" id="sprint_end">
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
											<div class="form-group task-form-group">
														<label class="task-label">Working Hours/Day (Hrs)</label>
														<input name="workinghours" type="number" class="form-control add-task-textbox apm-modal-textbox" value="" id="" maxlength="3">
													  </div>
											<div class="form-group task-form-group">
														<label class="task-label">Sprint Length</label>
														<input disabled type="text" class="form-control add-task-textbox apm-modal-textbox" value="0 weeks" id="length">
													  </div>
											  
											  	<div class="form-group task-form-group">
														<label class="task-label">Release</label>
														<select class="form-control add-task-textbox apm-modal-textbox" name="release" id="release">
														<option value="None">None</option>
														{%for i in release%}
														{%if i.status%}
															<option value={{i.key.urlsafe}}>{{i.name}}</option>
														{%endif%}
														{%endfor%}
												</select>
												 </div>
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="submit_sprint">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Create Sprint Modal Ends -->
	
	
	
	<!-- Create Issue Modal Starts -->
			<div id="add-issue-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add New User Story</h4>
				  </div>
				  
				  	<form role="form" id="backlog_form" action="/backlog/addbacklog" method="post">
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
									
											  <!-- Project Name --> 
											<!--   <div class="form-group task-form-group">
												<label class="task-label">Project Name</label>
												<select class="form-control add-task-textbox apm-modal-textbox" name="project">
												
													
													{% for proj in project %}
															
															{%if company_name == proj.companyid.get.domain %}
														
  															<option value="{{proj.key.urlsafe}}">{{proj.name}}</option>
  													{%endif%}
  												{%endfor%}
												</select>
											
										 </div> -->
										 
										   <!-- Issue Type --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Sprint</label>
												<select class="form-control add-task-textbox apm-modal-textbox" name="sprint" id="sprint">
													<option value="None">None</option>
													{%for i in sprint%}
													{%if i.status%}
														
																<option value={{i.key.urlsafe}}>{{i.name}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  
										 
										 	   <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Story Name</label>
												<input type="text" class="form-control add-task-textbox apm-modal-textbox" name="backlog_name">
												</div> 
											  
											  <!-- Issue Type --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Assign To</label>
												<select class="form-control add-task-textbox apm-modal-textbox" name="assignee" id="assignee">
													<option value="None">None</option>
													{%for i in user_data%}
													{%if i.status%}
																<option value={{i.key.urlsafe}}>{{i.name}}</option>
													{%endif%}		
													{%endfor%}
												</select>
											  </div>
											  
											  
										 
										
											  
											  <!-- Issue Type --> 
											  <div class="form-group task-form-group">
												<label style="display:none;" class="task-label">Type</label>
												<select style="display:none;" class="form-control add-task-textbox apm-modal-textbox" name="type">
													{%for i in type%}
													<option style="display:none;" value={{i.key.urlsafe}}>{{i.name}}</option>
													{%endfor%}
												</select>
											  </div>
											  
											   <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Description</label>
													<!-- <input type="text" class="form-control add-task-textbox apm-modal-textbox">-->
													  <textarea name="description" class="form-control apm-landing-textbox-reg apm-text-area" rows="4"></textarea>
													   </div> 
											  
											  <div class="row">
												 
												  
												  <div class="col-sm-6">
													  <!-- Last Name --> 
													  <div class="form-group task-form-group">
														<label class="task-label">Rough Estimate(In hrs)</label>
														<input type="text" class="form-control add-task-textbox apm-modal-textbox" name="rough_estimate" onkeypress="if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;">
													  </div>
												  </div>
											
												  <div class="col-sm-6">
													  <!-- Designation --> 
													  <div class="form-group task-form-group">
														<label class="task-label">Priority</label>
														<input type="text" class="form-control add-task-textbox apm-modal-textbox" name="priority" min="1" max="5" maxlength="1" onkeypress="this.value = minmax(this.value, 0, 5)">
													  </div>
												  </div>
												  
												  
											  </div>
											  
										
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
				  <button type="button" class="add-task-btn-modal" data-dismiss="modal" value="Add" name="add_backlogs" id="add_backlogs" >Add</button>
					<!-- <input type="submit" class="add-task-btn-modal" data-dismiss="modal" value="Add" name="add_backlogs" id="add_backlogs"> -->
					
				<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				  </form>
				</div>

			  </div>
			</div>
	<!-- Create Issue Modal Ends -->
	
	<!-- Add User Modal Ends -->
		<!--Edit Modal Starts -->
			<div id="edit-backlog-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				</div>

			  </div>
			</div>
	<!-- edit Modal Ends -->
	<!-- Add User Modal Ends -->
		<!--Edit Modal Starts -->
			<div id="delete-backlog-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				</div>

			  </div>
			</div>
	<!-- edit Modal Ends -->
		
			<!-- Add User Modal Ends -->
		<!--Edit Modal Starts -->
			<div id="add-assignee-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				</div>

			  </div>
			</div>
	<!-- edit Modal Ends -->
		
	{%endblock%}