<!DOCTYPE html>
<html lang="en">
<head>
		<title>APM - Eternus Solutions Pvt. Ltd.</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
		<link rel="stylesheet" href="assets/css/sidebar.css">
		<link rel="stylesheet" href="assets/css/button.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		
	</head>
<body class="apm-landing-body">
    
	<section class="landing-top-section">
		
			<div class="landing-top-left-box">
				<img src="assets/img/eternus.png">
			</div>
		
		
			<div class="landing-top-right-box">
				<form class="form-inline" role="form">
				  <div class="form-group apm-landing-form-grp">
					<label for="email">User Name</label>
					<input type="email" class="form-control apm-landing-textbox">
				  </div>
				  <div class="form-group apm-landing-form-grp">
					<label for="pwd">Password</label>
					<input type="password" class="form-control apm-landing-textbox">
				  </div>
				 
				  <button type="submit" class="apm-landing-login-btn">Login</button>
				  
				  <!-- Forgot Password Link -->
				  <a href="#" title="Forgot Password?"><i class="fa fa-question-circle apm-landing-forgt-pass-link"></i></a>
				  
				</form>
			</div>
		
	</section>
	
	<section class="apm-landing-middle-box">
		<h2 class="apm-landing-main-heading">Eternus APM</h2>
		
		<p class="apm-landing-para">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
		</p>	
	
		<div class="container apm-landing-container">
			
			<!-- Left Box -->
			<div class="col-md-6 apm-landing-left-box">
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8">
						<img src="assets/img/pro.png" class="img-responsive">
					</div>	
					<div class="col-md-2">
					</div>
				</div>
				<h3 class="apm-left-img-heading">Get lots more with APM...</h3>
			</div>
			<!-- Left Box ENDS -->
			
			<!-- Right Box -->
			<div class="col-md-6 apm-landing-right-box">
				<div class="row">
					<div class="col-md-2 col-sm-2">
					</div>
					<div class="col-md-8 col-sm-8">
						<h4 class="apm-landing-reg-comp-label">Register Your Company</h4>
						<form role="form">
						  <div class="form-group">
							<label class="apm-landing-reg-label">Company Name</label>
							<input type="text" class="form-control apm-landing-textbox-reg">
						  </div>
						  <div class="form-group">
							<label class="apm-landing-reg-label">Company Email</label>
							<input type="text" class="form-control apm-landing-textbox-reg">
						  </div>
						  <div class="form-group">
							<label class="apm-landing-reg-label">Password</label>
							<input type="password" class="form-control apm-landing-textbox-reg">
						  </div>
						  
						  <button type="submit" class="apm-landing-reg-btn">Register</button>
						</form>
					</div>	
					<div class="col-md-2 col-sm-2">
					</div>
				</div>
				
			</div>
			<!-- Right Box ENDS -->
			
		</div>
	</section>
	
	
	
	
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/side-menu.js"></script>
	
	<script>
			$(document).ready(function(){
				
			});
	</script>
</body>
</html>