{% extends "base.html" %}

{% block title %}User |Effort Estimation {% endblock %}
		
{% block header_links%}
		
	<style>
			.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
			
		</style>
		
		<script>
				$(document).ready(function(){
					
					$('.datepicker').datepicker({
						format: 'dd/mm/yyyy',
						startDate: '0d'
					});
					
					
					$("#apm-addmember-btn").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addmember-btn2").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addestimates-btn").click(function(e) {
						$('#add-estimation-timeline-modal').modal('show');
					});
					
					$(".apm-eff-est-hr-num").click(function(e) {
						console.log("Inside put hour");
						$('#put-hour-modal').modal('show');
					});
					
					
					/******* To change modal header text according to member names ******/
					
					$('.apm-eff-est-table').on('click', '.cell-effort', function () {
						
						console.log("Inside put table");
						var th = $('.apm-eff-est-table th').eq($(this).index());
						var cells = [];
						var id = $(this).closest('td').attr('id');
						console.log("the id is"+id);
						$('td', $(this).closest('tr')).each(function() {
					        cells.push($(this).html());
					    });
						
						console.log("the val is"+cells[0])
						
						$('#put-hour-modal #member-header-text').text(th.text());
						$('#celldate').html(cells[0]);
						$('#celldate').attr('name',id);
						
						
						
						
					});
					
					/******* To show Modal on Effort estimation dropdown ******/
					$(".effort-dropdown").change(function () {
						$('#info-modal').modal('show');
					});
					
					$(".sprint-dropdown").change(function () {
						var e = document.getElementById("sprintselect");
						var strSprint = e.options[e.selectedIndex].value;
						console.log("the members are"+strSprint)
						window.location.href = "/efforts?sprint_id="+strSprint;
					});
					
					$("#submit").on("click",function(){
					 
					var concatid = $('#celldate').attr('name'); 
					var arr = concatid.split('_');
					var effestid = arr[0];
					var userid = arr[1];
					var eff = $('#effesti').val();
					console.log("the concatid is"+concatid);
					console.log("the est id"+effestid)
					console.log("the userid is"+userid);
					console.log("the eff is"+eff)
					var parameters = "estival="+eff+"&effestid="+effestid+"&userid="+userid+""
					console.log("the param are"+parameters);   
					$.post( "/efforts/edit", parameters)
			  		.done(function( data ) {
			  			console.log("comes here"+data)
			  			if(data == "success")
			  				{
			  				console.log("comes here after success")
			  				$('#effesti').val(eff);
			  				}
			  			
			  				
			  			
			  		});
					})
					
					
					/*On click of member hours. change it to textbox*/
					/*$(".apm-eff-est-hr-num").click(function(e) {
						$(".apm-eff-est-hr-num").each(function() {
						  $(this).show();
						  $(this).siblings('.apm-eff-est-hr-text').hide();
						});
						$(this).hide();
						$(this).siblings('.apm-eff-est-hr-text').show();
						$('.apm-eff-est-hr-text').focus();
					});*/

				});
		</script>	
		{% endblock %}	
	
{%block content%}	
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Effort Estimation</h2>
						
						<hr>
						
						<div class="row apm-select-sprint-dropdown">
							<div class="col-md-2">
							<div class="form-group">
										<label class="apm-effort-est-lbl">Select Sprint:</label>
										<select class="form-control add-task-textbox apm-modal-textbox apm-effort-est-dropdown sprint-dropdown" id="sprintselect">
										
										{% for sprints in sprint %}
										    {% if sprints.key == efforestimate.0.sprint %}
											<option  value= "{{ sprints.key.id }}" selected> {{ sprints.name }}</option>
											
											{%else%}
											
											<option  value= "{{ sprints.key.id }}"> {{ sprints.name }}</option>
											{%endif%}
										{%endfor%}
										</select>
									</div>
							</div>
						</div>
						
						
						
						<div class="row">
							
							
							<div class="col-md-12 apm-eff-est-table-box">
							{% for sprints in sprint %}
							 {% if sprints.key == efforestimate.0.sprint %}
								<h4 class="apm-eff-est-sprint-name">{{ sprints.name }}</h4>
								{%endif%}
								{%endfor%}
								<hr>
								
								<div class="table-responsive">
												<table class="table table-condensed table-bordered apm-member-listing-table apm-all-proj-table apm-eff-est-table">
													
														<tr>
															
															<th rowspan="2">DATES</th>
															{% for eff in efforestimate.0.effort %}
															
															<th id="{{eff.userKey.id}}">{{ eff.userName }} </th>
													
															{%endfor%}
															
															<th>Total Efforts</th>
														</tr>
													
													
														<tr>
														{% for eff in efforestimate.0.effort %}
															<td>
																<select class="form-control add-task-textbox apm-modal-textbox apm-effort-est-dropdown effort-dropdown" placeholder="Availability">
																	<option>-Availability-</option>
																	<option>100%</option>
																	<option>75% </option>
																	<option>50% </option>
																	<option>25% </option>
																</select>
															</td>
															{%endfor%}
															<!-- <td>
																<select class="form-control add-task-textbox apm-modal-textbox apm-effort-est-dropdown effort-dropdown" placeholder="Availability">
																	<option>-Availability-</option>
																	<option>100% - 8 hrs.</option>
																	<option>75% - 6 hrs.</option>
																	<option>50% - 4 hrs.</option>
																	<option>25% - 2 hrs.</option>
																</select>
															</td>
															<td>
																<select class="form-control add-task-textbox apm-modal-textbox apm-effort-est-dropdown effort-dropdown" placeholder="Availability">
																	<option>-Availability-</option>
																	<option>100% - 8 hrs.</option>
																	<option>75% - 6 hrs.</option>
																	<option>50% - 4 hrs.</option>
																	<option>25% - 2 hrs.</option>
																</select>
															</td>
															<td>
																<select class="form-control add-task-textbox apm-modal-textbox apm-effort-est-dropdown effort-dropdown" placeholder="Availability">
																	<option>-Availability-</option>
																	<option>100% - 8 hrs.</option>
																	<option>75% - 6 hrs.</option>
																	<option>50% - 4 hrs.</option>
																	<option>25% - 2 hrs.</option>
																</select>
															</td> -->
															<td style="vertical-align: middle;">
																<b>DAYWISE</b>
															</td>
														</tr>
														
														
														<!-- Main table rows starts -->
														
														{% for est in efforestimate %}
														<tr>
														
															<td>{{ est.date }}</td>
															{% for eff in est.effort %}
															<td id="{{est.key.id}}_{{eff.userKey.id}}" title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">{{eff.effortHours}}</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															{%endfor%}
															<td><b>{{est.total_effort}}</b></td>
														</tr>
														{%endfor%}
														<!-- <tr>
															<td>3 May 2016</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">5</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">1</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">4</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">2</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td><b>12</b></td>
														</tr>
														<tr>
															<td>2 May 2016</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">5</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">1</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">4</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">2</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td><b>11</b></td>
														</tr>
														<tr>
															<td>3 May 2016</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">5</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">1</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">4</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">2</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td><b>12</b></td>
														</tr>
														<tr>
															<td>2 May 2016</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">5</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">1</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">4</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">2</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td><b>11</b></td>
														</tr>
														<tr>
															<td></td>
															<td title="Click on number to edit">
																<span class="apm-eff-est-hr-num">5</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit">
																<span class="apm-eff-est-hr-num">1</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit">
																<span class="apm-eff-est-hr-num">4</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td title="Click on number to edit">
																<span class="apm-eff-est-hr-num">2</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															<td><b>12</b></td>
														</tr> -->
													
												</table>
											</div>
											
											
											<!--<div class="">
												<button class="apm-add-proj-btn apm-eff-est-save-btn">SAVE</button>
											</div>  -->

							</div> <!-- .col-md-10 ENDS -->
						</div>
						
						
					
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
		<!-- Add Team Members Starts -->
			<div id="add-member-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add Team Member</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-2">
								</div>
								
								<div class="col-md-8">
										<form role="form">
											  <!-- Team Mamber Name --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Member Name</label>
												<select class="form-control apm-landing-textbox-reg apm-modal-textbox">
													<option>- Select -</option>
													<option>Atul</option>
													<option>Harshit</option>
													<option>Ram</option>
													<option>Kajal</option>
												</select>
											  </div>
											  
											  <!-- Team Mamber Role --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Role</label>
												<select class="form-control apm-landing-textbox-reg apm-modal-textbox">
													<option>- Select -</option>
													<option>Software Developer</option>
													<option>Software Tester</option>
													<option>UI/UX developer</option>
												</select>
											  </div>
											  
											
										</form>
										
								</div>	
								<div class="col-md-2">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Add Team Members Modal Ends -->
	
	
	<!-- Add Estimation Timelines Starts -->
			<div id="add-estimation-timeline-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add Estimation Guidelines</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-2">
								</div>
								
								<div class="col-md-8">
										<form role="form">
											  <!-- Complexity --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Complexity</label>
												<input type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											  
											  <!-- Complexity Points --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Complexity Points</label>
												<input type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											  
											  <!-- Estimated Efforts --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Estimated Efforts</label>
												<input type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											
										</form>
										
								</div>	
								<div class="col-md-2">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Add Estimation Timelines Modal Ends -->
	
	<!-- Put Hour value Modal Starts -->
			<div id="put-hour-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog modal-sm">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading" id="member-header-text">Member 1</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								
								<div class="col-md-12">
										<form role="form">
											  <!-- Complexity --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Date</label> :
												<label class="apm-landing-reg-label" id="celldate"></label>
											  </div>
											
											  
											  <!-- Estimated Efforts --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Estimated Hours</label>
												<input type="text" id="effesti" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											
										</form>
										
								</div>	
								
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" id="submit" class="add-task-btn-modal" data-dismiss="modal">Save</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Put Hour value Modal Ends -->
		
	<!-- Information modal on change of dropdown Modal Starts -->
			<div id="info-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading" id="member-header-text">Information</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								
								<div class="col-md-12">
									<p class="est-eff-information-modal-text">	
										
										<b>Some information text:</b><br><br>
										
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
										
									</p>
								</div>	
								
							</div>
							
				  </div>
				  
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal">OK</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
					
				  </div>
				</div>

			  </div>
			</div>
	<!-- Information modal on change of dropdown Modal Ends -->		
	
	
		
{%endblock%}