<!DOCTYPE html>
<html lang="en">
<head>
		<title>{% block title%}User- Dashboard {% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="../assets_new/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets_new/css/style.css">
		<link rel="stylesheet" href="../assets_new/css/sidebar.css">
		<link rel="stylesheet" href="../assets_new/css/button.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<style>
			
		</style>
		
		{% block header_links%}{% endblock %}
	</head>
<body>
    <nav class="navbar navbar-default no-margin nav-apm">
    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header fixed-brand">
                    
					<!-- Menu Toggle -->
					<i class="fa fa-bars fa-2x collapse in" data-toggle="collapse" id="menu-toggle-2" aria-hidden="true"></i>
					
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".apm-navbar" aria-expanded="false" aria-controls="navbar">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
                    <a class="navbar-brand apm-nav-brand" href="#">APM</a>
					
                </div><!-- navbar-header-->
 
                <div class="collapse navbar-collapse apm-navbar" id="bs-example-navbar-collapse-1">
                            <!-- <ul class="nav navbar-nav">
                                <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-share-alt"></i> SOCIAL MEDIA
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-facebook-official"></i> Facebook</a></li>
										  <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
										  <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
										</ul>
									  </li>
									  
									  
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-sticky-note"></i> PROJECTS
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-cog"></i> Project 1</a></li>
										  <li><a href="#"><i class="fa fa-cog"></i> Project 2</a></li>
										  <li><a href="#"><i class="fa fa-cog"></i> Project 3</a></li>
										</ul>
									  </li>
									  
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ISSUES
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Issue 1</a></li>
										  <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Issue 2</a></li>
										  <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Issue 3</a></li>
										</ul>
									  </li>
									  
                            </ul>
							 -->
							
							
							<ul class="nav navbar-nav navbar-right nav-desktop">
									<li class="search-field-box">
										<i class="fa fa-search search-icon"></i><input type="text" class="form-control search-field" placeholder="Search...">
									</li>
									 
 									  <li class="dropdown">
										<a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										
										Hi , {{user.name}}
										{%if blob%}
										<img src="/view_photo?photo_key={{blob}}" class="apm-profile-thumb"> </a>
										{%else%}
										<i class="fa fa-user fa-3x"></i></a>
										{%endif%}
										<ul class="dropdown-menu multi-level menu-user">
										  <li><a href="/admin/dashboard"><i class="fa fa-refresh"></i> Switch Role</a></li>
										  <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
									      <li class="dropdown-submenu">
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-cog"></i> Settings</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-bell"></i> Notifications</a></li>
													  <li><a href="#"><i class="fa fa-link"></i> Linked Accounts</a></li>
													  <li><a href="#"><i class="fa fa-trash"></i> Clear History</a></li>
													  <li><a href="#"><i class="fa fa-share-square"></i> Share Query</a></li>
													  <li><a href="#"><i class="fa fa-certificate"></i> Assistance</a></li>
													</ul>
										  </li>
										  <li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
										  <li role="separator" class="divider"></li>
										  <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
										</ul>
									  </li>
									</ul>
							
                </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
	
	
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
 
					<li class="active">
						<a href="/dashboard" class="sidebar-main-list-name"><i class="fa fa-th-large side-font-icons"></i> Dashboard</a>
						
					</li>
					<li>
						<a class="sidebar-main-list-name pro-planning-link" data-toggle="collapse" data-parent="" href="#collapseOne"><i class="fa fa-list"></i> Project Planning <span class="caret sidebar-caret"></span></a>
						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body sidebar-list-panel">
								<ul class="sidebar-list" style="display:block!important;">
									<li>
										<a href="/project" class="sidebar-list-sub-item">Projects</a>
									</li>
									<li>
										<a href="/release" class="sidebar-list-sub-item">Release</a>
									</li>
									<li>
										<a href="#" class="sidebar-list-sub-item">Backlog</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a class="sidebar-main-list-name pro-planning-link" data-toggle="collapse" data-parent="" href="#collapseTwo"><i class="fa fa-list"></i> Sprint Planning <span class="caret sidebar-caret"></span></a>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body sidebar-list-panel">
								<ul class="sidebar-list" style="display:block!important;">
									<li>
										<a href="#" class="sidebar-list-sub-item">Effort Estimation</a>
									</li>
									<li>
										<a href="#" class="sidebar-list-sub-item">Sprint Items</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-file-text side-font-icons"></i> Document Management</a>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-pie-chart side-font-icons"></i> Reports</a>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-bell side-font-icons"></i> Alerts & Notifications</a>
					</li>
					
					
					{% block sidebar%}
					{% endblock %}
               
            </ul>
        </div><!-- /#sidebar-wrapper -->
		
		{%block content%}
		
     
        
		{%endblock%}
	
		
		
		
    </div>
    <!-- /#wrapper -->
  
		<script src="../assets_new/js/jquery.js"></script>
		<script src="../assets_new/js/bootstrap.min.js"></script>
		<script src="../assets_new/js/side-menu.js"></script>
		<script src="../assets_new/js/bootstrap-datepicker.min.js"></script>
		<script src="../assets_new/js/main.js"></script>
</body>
</html>