<script>
		
$("#delete_timelog").on("click",function(){
	$.post( "/timelog/delete", $("#delete_form").serialize())
		.done(function( data ) {
			if (data!="true"){
				alert("Time log cannot be deleted");
				return false
			} else {
				
				
				
			}
		});
		
		
			
		})
		$('#delete-timelog-modal').on('hidden.bs.modal', function(e)
				    { 
				        $(this).removeData('bs.modal');
				        
				        $('#success').load('/mytasks/view?key={{timelog_info.task_key.urlsafe}} #table1', function(result) {
		  				});
				    }) ;
	</script>			


	<form role="form" id="delete_form" enctype="multipart/form-data">
				
				
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Delete Time Log</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								
								<div class="col-md-10">
										
									<table class="table table-condensed">
    
    <tbody>
      <tr>
        <td>Task : </td>
        <td>{{timelog_info.task_key.get.name}}</td>
        
      </tr>
     
     <tr>
        <td>Date : </td>
        <td>{{timelog_info.today_date}}</td>
        
      </tr>
      
      <tr>
        <td>Time Spent : </td>
        <td>{%if timelog_info.hour %}{{timelog_info.hour}}{%else%}00{%endif%}:{%if timelog_info.minute %}{{timelog_info.minute}}{%else%}00{%endif%}</td>
        
      </tr>
      
      <tr>
        <td>Billable : </td>
        <td>{%if timelog_info.billable%} Yes {%else%} No {%endif%}</td>
        
      </tr>
      
      <tr>
        <td>Description : </td>
        <td>{{timelog_info.description}}</td>
        
      </tr>
      
        <tr>
        <td>Task Status: </td>
        <td>{{timelog_info.task_key.get.task_status}}</td>
        
      </tr>
      
       
    </tbody>
</table>
										
									
											
										
										 <input type="hidden" id="task_key" name="task_key" value="{{timelog_info.task_key.urlsafe}}">
											<input type="hidden" id="key" name="delete_key" value="{{timelog_info.key.urlsafe}}">
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
						
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<input type="submit" class="add-task-btn-modal" data-dismiss="modal" id="delete_timelog" value="Delete Time Log">
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</button>
				  </div>
	</form>			