<script>
$(document).ready(function(){
/*****************************form submit starts****************************************************************/
$('#delete_task').on("click",function(){
	$.post( "/task/deletetask", $("#delete_form").serialize())
		.done(function( data ) {
			if (data!="true"){
				alert("Task cannot be deleted");
				return false
			} else {
				
				 $('#tasks_sprints').load('/sprint #tasks_sprints', function(result) {
	  				   
	  				    console.log('inside');
	  					$(".table").each(function(){
							if (!$(this).find("tr.find_empty").length){
							a=$(this).find("tbody")[0];
							$(a).append("<tr><td colspan='10' align='center'>There are no tasks in the sprint</td></tr>")
							}
							
						})
	  				    
	  				});
				
			}
		});
		
		
			
		})
		
/*****************************form submit ends****************************************************************/
 
/*****************************hide modal starts****************************************************************/ 		
		
		$('#delete-timelog-modal').on('hidden.bs.modal', function(e)
				    { 
				        $(this).removeData('bs.modal');
				     
				    }) ;
/*****************************hide modal ends*****************************************************************/ 
}) ;
</script>			


	<form role="form" id="delete_form" enctype="multipart/form-data">
				
				
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Delete Task</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								
								<div class="col-md-10">
										
									<table class="table table-condensed">
    
    <tbody>
    <tr>
        <td>Sprint : </td>
        <td>{%if task_data.sprint%}{{task_data.sprint.get.name}}{%else%}None{%endif%}</td>
        
      </tr>
      
      <tr>
        <td>User Story : </td>
        <td>{%if task_data.user_story%}{{task_data.user_story.get.backlog_name}}{%else%}None{%endif%}</td>
        
      </tr>
    
      <tr>
        <td>Title : </td>
        <td>{{task_data.name}}</td>
        
      </tr>
     
     <tr>
        <td>Description : </td>
        <td>{{task_data.description}}</td>
        
      </tr>
      
      <tr>
        <td>Assignee : </td>
        <td>{%if task_data.assignee%}{{task_data.assignee.get.name}}{%else%}None{%endif%}</td>
        
      </tr>
      
      <tr>
        <td>Planned Start Date: </td>
        <td>{%if task_data.startDate%}{{task_data.startDate|date:'d/m/Y'}}{%else%}None{%endif%}</td>
        
      </tr>
      
      <tr>
        <td>Planned End Date : </td>
        <td>{%if task_data.endDate%}{{task_data.endDate|date:'d/m/Y'}}{%else%}None{%endif%}</td>
        
      </tr>
      
        <tr>
        <td>Complexity: </td>
        <td>{{task_data.complexity.get.estimationLevel}}</td>
        
      </tr>
       <tr>
        <td>Issue Type : </td>
        <td>{{task_data.type.get.name}}</td>
        
      </tr>
       <tr>
        <td>Estimated Efforts : </td>
        <td>{{task_data.actual_efforts}}</td>
        
      </tr>
       
    </tbody>
</table>
										
									
											
										
		 <input type="hidden" id="delete_key" name="delete_key" value="{{task_data.key.urlsafe}}">
											
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
						
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<input type="submit" class="add-task-btn-modal" data-dismiss="modal" id="delete_task" value="Delete task">
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</button>
				  </div>
	</form>			