
<style>
.error{
			color:red;
			display: inline-block;
    		max-width: 100%;
    		margin-bottom: 5px;
    		font-weight: 700;
			}
			
</style>
<script>
$(document).ready(function(){	
	
/*********************************************edit form validation starts*********************************************************/	
	
	var release_validator=   $("#edit_form").validate({
	      rules: {
	    	  release_name: 
	    	  {
	           		 required: true
	          },
	          release_date: 
	          {
		      		 required: true
		      }
 
	         },
	         messages: 
	         {
	        	 release_name: 
	           {
	             required: "Please enter release name."
	           },
	           release_date: 
	           {
	             required: "Please enter release date."
	           }
	         }
	     });
	
/*********************************************edit form validation ends*********************************************************/	

/*********************************************edit form post starts*********************************************************/	

	$("#edit_release").on("click",function(event){
		 if (!$('#edit_form').valid()){
			    event.preventDefault();
			    event.stopImmediatePropagation();
			    return false;
		 }
		 else
		 {
			 var release_date=$('#edit_release_date').val();
			 var project_start_date="{{session.current_project.get.startDate|date:'m/d/Y'}}";
			 var project_end_date="{{session.current_project.get.endDate|date:'m/d/Y'}}"
			 
			 var start_date=project_start_date;
			 var end_date=project_end_date;
			 
			
			 release_date =Date.parse(release_date);
			 project_start_date=Date.parse(project_start_date);
			 project_end_date =Date.parse(project_end_date);
			 
			
			 //console.log(release_date,project_start_date,project_end_date);
			 
			 if (release_date > project_end_date){
				 
				 $('#new_date_error').text("Release date cannot be after project end date("+end_date+").")
				event.preventDefault();
				 event.stopImmediatePropagation();
				 return false;
				 
			 }
			if (release_date < project_start_date){
				 
				 $('#new_date_error').text("Release date cannot be before project start date("+start_date+").")
				event.preventDefault();
				 event.stopImmediatePropagation();
				 return false;
				 
			 }
			
			 
			 else
			{	 
			 $('#new_date_error').text("");
			// alert("hello");
			 $.post( '/release/edit', $("#edit_form").serialize())
				.done(function( data ) {
					if (data!="true"){
						alert("Sprint associated with this release has "+data+" so please check edit date.");
						return false
					} else {
						
						  $('.table').load('/release .table', function(result) {
			  				});
						
					}
				});
			 
		 }
			
		 }
				
				
			})
			
/*********************************************edit form post ends*********************************************************/	

/* $("#edit_release").on("click",function(){
	$.post( '/release/edit', $("#edit_form").serialize())
		.done(function( data ) {
			if (data!="true"){
				alert("Release cannot be updated");
				return false
			} else {
				
				
				
			}
		});
		
		
			
			
		}); */
		
/*********************************************edit modal close starts*********************************************************/	
		
			$('#edit-release-modal').on('hidden.bs.modal', function(e)
				    { 
						$('#new_date_error').text("");
				        $(this).removeData('bs.modal');
				        $(this).find('form')[0].reset();
				        
				        /* $('.table').load('/release .table', function(result) {
		  				}); */
				    }) ;
		
/*********************************************edit modal close ends*********************************************************/	
		
/*********************************************datepicker starts*********************************************************/	
		
$('.datepicker').datepicker({
	format: 'mm/dd/yyyy',
	//startDate: '0d',
	autoclose:true
});

$('.form-group').find('.open-datetimepicker').on('click', function(){
    $('#edit_release_date').trigger('focus');
});

/*********************************************datepicker ends*********************************************************/	

});

	</script>			

	
				
				
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Edit Release</h4>
				  </div>
				  
				  <form role="form" id="edit_form" action="/release/edit" method="post">
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								
								<div class="col-md-10">
									<div class="error" id="new_date_error"></div>		
									
										
											<!-- First Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label"  style="display:none;">Project Name</label>
												<input  style="display:none;" type="text" class="form-control add-task-textbox" name="proj_name" value="{{release_info.projectid.urlsafe}}" readonly>
											  </div> 
										
										    <!-- Last Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Release Name<font color="red">*</font></label>
												<input type="text" class="form-control add-task-textbox" name="release_name" id="release_name" value="{{release_info.releaseName}}">
											  </div>
											  
											   <!-- Email --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Release Date<font color="red">*</font></label>
												<input type="text" class="form-control add-task-textbox datepicker" name="release_date" id="edit_release_date" value="{{release_info.releaseDate|date:'m/d/Y'}}" readonly>
											 <i class="fa fa-calendar datepicker-cal open-datetimepicker" aria-hidden="true"></i>
											  </div>
										
											<input type="hidden" id="key" name="key" value="{{release_info.key.urlsafe}}">
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
						
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<input type="submit" class="add-task-btn-modal" data-dismiss="modal" id="edit_release" value="Update">
				
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</button>
				  </div>
	</form>	
	

		