
<style>
.error{
			color:red;
			display: inline-block;
    		max-width: 100%;
    		margin-bottom: 5px;
    		font-weight: 700;
		}
</style>

<script>

$(document).ready(function(){
			
/***************************************length of week starts*************************************/
	  
	  var sprint_start=$('#start').val();
      var sprint_end=$('#end').val();
      
      if(sprint_start != '' & sprint_end != '')
      {
      	secs=(new Date(sprint_end)).getTime()/1000-(new Date(sprint_start)).getTime()/1000
      	secs=secs/60/60/24;
      	if (secs>=7){
      		week=parseInt(secs/7);
      		days=secs%6;
      		$("#length").val(week+" weeks "+days+" days")
      	}
      	else {
      		if(secs==0){
      		$("#length").val("1 Day")
      		} else {
      			secs=secs+1;
      			$("#length").val(secs+" Days")
      		}
      	 }					
      }			
					
/***************************************length of week ends*************************************/		
/****************************icon click starts*****************************************************/
$('.form-group').find('.open-datetimepicker').on('click', function(){
					    $('#start').trigger('focus');
					});
					

$('.form-group').find('.open-datetimepicker1').on('click', function(){
					    $('#end').trigger('focus');
					});

					
/******************************icon click ends*******************************************/					
/************************************sprint validation starts***************************************/
					
					var sprint_validator=   $("#edit_sprint").validate({
						      rules: {
						    	  name: 
						    	  {
						           		 required: true
						          },
						          desc: 
						          {
							      		 required: true
							      },
							   
								  new_workinghours: 
								  {
										 required: true
										
									
								  }
								
					   
						         },
						         messages: 
						         {
						        	 name: 
						           {
						             required: "Please enter sprint name."
						           },
						           desc: 
						           {
						             required: "Please enter sprint description."
						           },
						       
							       new_workinghours: 
							       {
							             required: "Please enter working hours."
							       }
							   
						           
						         }
						     });
/***************************************sprint validation ends**********************************************/
					
/*********************************datepicker function starts*******************************************/					
					
					$('body').on('focus',"#start,#start_edit", function(){
					    $(this).datepicker({
							format: 'dd/mm/yyyy',
							startDate: '0d'
						});
					});
					$('body').on('focus',"#end,#end_edit", function(){
					    $(this).datepicker({
							format: 'dd/mm/yyyy',
							startDate: '0d'
						});
					    
					});
					$('.datepicker').datepicker({
						format: 'mm/dd/yyyy',
						startDate: '0d',
						autoclose:true
					});
					$('.datepicker').datepicker()
				    .on('changeDate', function(e) {
				        $('.datepicker').datepicker('hide');
				    });
					
					
				 
					
					
					$('#end').datepicker()
				    .on('changeDate', function(e) {
				    	if ($('#start').val()!=""){
					        start=$('#start').val();
					        end=$('#end').val();
					        secs=(new Date(end)).getTime()/1000-(new Date(start)).getTime()/1000
					        secs=secs/60/60/24;
					        if (secs>=7){
					        	week=parseInt(secs/7);
					        	days=secs%6;
					        	$("#length").val(week+" weeks "+days+" days")
					        }
					        else {
					        	if(secs==0){
					        		$("#length").val("1 Day")
					        	} else {
					        		secs=secs+1;
					        	$("#length").val(secs+" Days")
					        	}
					        }
				    	}
				    });
					$('#start').datepicker()
				    .on('changeDate', function(e) {
				    	if ($('#end').val()!=""){
				    		start=$('#start').val();
					        end=$('#end').val();
					        secs=(new Date(end)).getTime()/1000-(new Date(start)).getTime()/1000
					        secs=secs/60/60/24;
					        if (secs>=7){
					        	week=parseInt(secs/7);
					        	days=secs%6;
					        	$("#length").val(week+" weeks "+days+" days")
					        }
					        else {
					        	if(secs==0){
					        		$("#length").val("1 Day")
					        	} else {
					        		secs=secs+1;
					        	$("#length").val(secs+" Days")
					        	}
					        }
				    	}
				    });
					
					
					
/*********************************datepicker function ends*******************************************/	
					/*$("#add-issue").click(function(e) {
						$('#add-issue-modal').modal('show');
					});*/
				
/*********************************submit function starts*******************************************/
					$("#submit_sprint").on("click",function(event){
						console.log("comes inside");
						 if (!$('#edit_sprint').valid()){
							    console.log("comes inside if");
							    event.preventDefault();
							    event.stopImmediatePropagation();
							    return false;
						 }
						 else
						 {
						 console.log("comes inside else");
						 var start_date=$('#start').val();
						 var end_date=$('#end').val();
					 	 var project_start_date="{{session.current_project.get.startDate|date:'m/d/Y'}}";
						 var project_end_date="{{session.current_project.get.endDate|date:'m/d/Y'}}";
						 
						 var project_startdate=project_start_date;
						 var project_enddate=project_end_date;
						 
						 start_date =Date.parse(start_date);
						 end_date=Date.parse(end_date);
						 project_start_date=Date.parse(project_start_date);
						 project_end_date =Date.parse(project_end_date);
						 
						 
						 if(start_date < project_start_date && start_date!='' && end_date > project_start_date && end_date !='')
						 {
							 
								$('#date_error').text("Start date cannot before project start date("+project_startdate+").")
								event.preventDefault();
								 event.stopImmediatePropagation();
								 return false;
								 
							 
						 }
						 
						 if (start_date > project_end_date && start_date!='' && end_date < project_end_date && end_date !='')
						 {
								 
								$('#date_error').text("Start date cannot be after project end date("+project_enddate+").")
								event.preventDefault();
								 event.stopImmediatePropagation();
								 return false;
								 
							 
						 }
						 else
							 if (end_date < project_start_date && end_date !='' && start_date > project_start_date && start_date!='')
							 {
									 
									$('#date_error').text("End Date cannot be before project start date("+project_startdate+").")
									event.preventDefault();
									 event.stopImmediatePropagation();
									 return false;
									 
								 
							 }
							 
							 else
							 if (end_date > project_end_date && end_date !='' && start_date < project_end_date && start_date!='')
							 {
									 
									$('#date_error').text("End date cannot be greater than Project Date("+project_enddate+").")
									event.preventDefault();
									 event.stopImmediatePropagation();
									 return false;
									 
								 
							 }
						 else
							if (end_date > project_end_date && start_date > project_end_date && end_date !='' && start_date!='')
								 {
										 
										$('#date_error').text("Start date & end date cannot be after project end date("+project_enddate+").")
										event.preventDefault();
										 event.stopImmediatePropagation();
										 return false;
										 
									 
								 } 
							 else
							if (end_date < project_start_date && start_date < project_start_date && end_date !='' && start_date!='')
										 {
												 
												$('#date_error').text("Start date & end date cannot be before project start date("+project_startdate+").")
												event.preventDefault();
												 event.stopImmediatePropagation();
												 return false;
												 
											 
										 } 
							else
								if(start_date > end_date)
								{
									$('#date_error').text("Start date cannot be after end date.")
									event.preventDefault();
									 event.stopImmediatePropagation();
									 return false;
									
								}
						 else
						
							 {
							 
							 $('#date_error').text("");
							 
							 $.post( "/sprint/edit", $("#edit_sprint").serialize())
						  		.done(function( data ) {
						  			if (data!="true"){
						  				alert("Something Went Wrong");
						  				return false
						  			} 
						  		//	$("#backlog_form").reset();
						  			
						  			
						  			 
						  		
						  		});
							
							 }
						 	}		
								
						})
					
						
			/* 		$("#submit_sprint").on("click",function(){
						$.post( "/sprint", $("#add_sprint").serialize())
				  		.done(function( data ) {
				  			if (data!="true"){
				  				alert("Something Went Wrong");
				  				return false
				  			} 
				  		})
					});
						 */
				  			
/*********************************submit function ends*******************************************/
 
/*********************************close modal starts*******************************************/
		$('#edit-sprint-modal').on('hidden.bs.modal', function(e)
								    { 
									//	alert("hey");
									$('#date_error').text("");
										$(this).removeData('bs.modal');
										//$(this).find('form')[0].reset();
										//sprint_validator.resetForm();
										$('#tasks_sprints').load('/sprint #tasks_sprints', function(result) {
						  				    //var variable = $('#edit_permissions').html();
						  				$(".table").each(function(){
												if (!$(this).find("tr.find_empty").length){
												a=$(this).find("tbody")[0];
												$(a).append("<tr><td colspan='10' align='center'>There are no tasks in the sprint</td></tr>")
												}
												
											})
										
										
										
										});
								
								    }) ;
							
/*********************************close modal ends*******************************************/				  		
				
				});
				

		</script>	
		 
 <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Edit Sprint</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
										<form role="form" id="edit_sprint">
										<input type="hidden" value="ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" name="project_key">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Title<font color="red">*</font></label>
												<input name="name" type="text" class="form-control add-task-textbox apm-modal-textbox" value="{{sprint_info.name}}">
											  </div>
											  
											  <div class="form-group task-form-group">
												<label class="task-label">Description<font color="red">*</font></label>
												<textarea name="desc" rows="4" class="form-control add-task-textbox apm-modal-textarea">{{sprint_info.description}}</textarea>
											  </div>
												  
												  
												
											  
											  <div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Start Date</label>
														<input name="start" id="start" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="sprint_start" value="{{sprint_info.startDate|date:'m/d/Y'}}">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">End Date</label>
														<input name="end" id="end" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="sprint_end" value="{{sprint_info.endDate|date:'m/d/Y'}}">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker1" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
											 <div class="error" id="date_error"></div>	
											<div class="form-group task-form-group">
														<label class="task-label">Working Hours/Day (Hrs)<font color="red">*</font></label>
														<input name="new_workinghours" type="text" class="form-control add-task-textbox apm-modal-textbox" id="new_workinghours" min="1" max="24" maxlength="2" value="{{sprint_info.workinghours}}">
														<input name="old_workinghours" type="hidden" class="form-control add-task-textbox apm-modal-textbox" value="{{sprint_info.workinghours}}">
													  </div>
											
											<div class="form-group task-form-group">
														<label class="task-label">Sprint Length</label>
														<input disabled type="text" class="form-control add-task-textbox apm-modal-textbox" value="0 weeks" id="length" value="{{sprint_info.workinghours}}">
											</div>  
													  
												<div class="form-group task-form-group">
														<label class="task-label">Release</label>
														<select class="form-control add-task-textbox apm-modal-textbox" name="release" id="release" >
														{%if sprint_info.release_key%}
														<option value="{{sprint_info.release_key.urlsafe}}">{{sprint_info.release_key.get.releaseName}}</option>
														{%endif%}
														<option value="None">None</option>
														{%for i in release%}
														{%if i.status%}
														{%if i.releaseName != sprint_info.release_key.get.releaseName%}
															<option value={{i.key.urlsafe}}>{{i.releaseName}}</option>
														{%endif%}
														{%endif%}
														{%endfor%}
												</select>
												 </div>
											  <input name="edit_key" type="hidden" value="{{sprint_info.key.urlsafe}}">
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button"  class="add-task-btn-modal" data-dismiss="modal" id="submit_sprint" >Update</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				
