<script>
$(document).ready(function(){	
	/*******************user story validation starts************************/	
	var validator=   $("#edit_form").validate({
		      rules: {
		    	 
		          backlog_name: 
		          {
			      		 required: true
			      },
			      description: 
			      {
				  		 required: true
		          },
		          rough_estimate: 
		          {
						 required: true,
						 number:true
						
				  },
				  priority: 
				  {
						 required: true
						
					
				  }
	   
	   
		         },
		         messages: 
		         {
		        	
		           backlog_name: 
		           {
		             required: "Please enter story name."
		           },
		           description:
		           {
			             required: "Please enter story description."
			       },
			       rough_estimate:
			       {
			             required: "Please enter rough estimation.",
			             number:"Please enter numbers only."
			            
			       },
			       priority: 
			       {
			             required: "Please enter priority."
			       }
		           
		         }
		     });
	
	/*******************user story validation ends************************/	

$("#edit_userstory").on("click",function(){
	
	 if (!$('#edit_form').valid()){
		    event.preventDefault();
		    event.stopImmediatePropagation();
		    return false;
	 }
	 else
		 {
		$.post( '/backlog/edit', $("#edit_form").serialize())
		.done(function( data ) {
			if (data!="true"){
				alert("User Story cannot updated.");
				return false
			} else {
				
				alert("User Story is updated successfully.");
				
			}
		});
		
		 }
			
			
		});
		
		
			$('#edit-backlog-modal').on('hidden.bs.modal', function(e)
				    { 
				        $(this).removeData('bs.modal');
				        
				        $('.table').load('/backlog .table', function(result) {
				        	
				        	/*******************for detail table start************************/	
							 var a=$(".table tr:eq(2) td").map(function() {
						           return $(this).text();
						       }).get().join("|");
							 
							 row_key=$(".table tr:eq(2)").attr("id");
							 
							 if(a != "No User Story Found." )
							{
							 $("#edit_key").attr("href", "/backlog/edit?edit_key="+row_key)
							 $("#delete_key").attr("href", "/backlog/delete?delete_key="+row_key)
						     
							 var update="/backlog/update?update_key="+row_key;
							 var edit="/backlog/edit?edit_key="+row_key;
						     var delete_key ="/backlog/delete?delete_key="+row_key;
						     $('#edit_delete_panel').html('<a href="'+edit+'" id="edit_key" data-toggle="modal" data-target="#edit-backlog-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Release"  id="{{i.key.urlsafe}}"></i></a><a id="delete_key" href="'+delete_key+'" data-toggle="modal" data-target="#delete-backlog-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Release"  id="{{i.key.urlsafe}}"></i></a>');
								
							}
						     
						     
						       var myList =a;
						       var myArray = myList.split( '|' );  
						       
						       
						     
						       
						       $('#sprint').html(myArray[0]);
						       $('#sprint_name').html(myArray[0]);
						       $('#backlog_name').html(myArray[1]);
						       $('#description').html(myArray[2]);
						      
						       if( myArray[3] == '' || myArray[3] == 'None')
						    	   {
						    	   $('#assignee').html('<a href="'+update+'" id="update_key" data-toggle="modal" data-target="#add-assignee-modal">Assign<i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Update User Story" id="{{i.key.urlsafe}}"></i></a>');
						    	   }
						       else
						    	   {
						      			 $('#assignee').html(myArray[3]);
						    	   }
						       $('#rough_estimate').html(myArray[4]);
						       $('#priority').html(myArray[5]);
						       $('#status').html(myArray[6]);
						      
							 
							 
							//alert( $.trim(a));
							//console.log(a);
							
							/*******************for detail table end************************/	
				        	
		  				});
				       
				        
				    }) ;
});
	</script>			


	<form role="form" id="edit_form" enctype="multipart/form-data">
				
				
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading" >Edit User Story</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								
								<div class="col-md-10">
										
									
											<!-- First Name --> 
											 <!--  <div class="form-group task-form-group">
												<label class="task-label">Project Name</label>
												<input type="text" class="form-control add-task-textbox" name="project" value="{{backlog_info.project_key.get.name}}">
											  </div> -->
										
										    <!-- Last Name --> 
											  <div class="form-group task-form-group">
											
												<label class="task-label">Sprint</label>
												<select class="form-control add-task-textbox apm-modal-textbox" name="sprint">
													<option value="None">None</option>
													{%for i in sprint%}
													{%if i.status%}
														
																<option value={{i.key.urlsafe}}>{{i.name}}</option>
													{%endif%}
													{%endfor%}
												</select>  
												</div>
											  
											   <!-- Email --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Story Name<font color="red">*</font></label>
												<input type="text" class="form-control add-task-textbox" name="backlog_name" value="{{backlog_info.backlog_name}}">
											  </div>
											 
											   <!-- Issue Type --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Assign To</label>
												<select class="form-control add-task-textbox apm-modal-textbox" name="assignee" id="assignee">
													<option value="None">None</option>
													{% for team in team%}
													{%if team.status%}
													<option value="{{team.key.urlsafe}}">{{team.userName}}</option>
													{%endif%}
													{%endfor%}
												</select>
											  </div>
											  
											   <!-- Designation --> 
											  <div class="form-group task-form-group">
												<label class="task-label" style="display:none;">Type</label>
												<input style="display:none;" type="text" class="form-control add-task-textbox" name="type" value="{{backlog_info.type.urlsafe}}">
											  </div>
											  
											  <!-- Employee ID --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Description<font color="red">*</font></label>
												<textarea name="description" class="form-control apm-landing-textbox-reg apm-text-area" rows="4" >{{backlog_info.storyDesc}}</textarea>
													  
											  </div>
											  
											  <div class="row">
											 <!-- Company Name --> 
											  <div class="col-sm-6">
											  <div class="form-group task-form-group">
												<label class="task-label">Rough Estimate(In hrs)<font color="red">*</font></label>
												<input type="text" class="form-control add-task-textbox" name="rough_estimate" value="{{backlog_info.roughEstimate}}" >
											  </div>
											  </div>
											  
											  
											  <!-- Domain --> 
											   <div class="col-sm-6">
											  <div class="form-group task-form-group">
												<label class="task-label">Priority<font color="red">*</font></label>
												<input type="number" class="form-control add-task-textbox" name="priority" min="1" max="5" value="{{backlog_info.priority}}">
											  </div> 
											  </div>
											  
											  </div>
											 
											<input type="hidden" id="key" name="key" value="{{backlog_info.key.urlsafe}}">
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
						
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<input type="submit" class="add-task-btn-modal" data-dismiss="modal" id="edit_userstory" value="Update">
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</button>
				  </div>
	</form>			</html>