
<style>
.error{
			color:red;
			display: inline-block;
    		max-width: 100%;
    		margin-bottom: 5px;
    		font-weight: 700;
		}
</style>

<script>

//$(document).ready(function(){
			
		  		
				
			//	});
				

		</script>	
		 
 <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Edit Sprint</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
										<form role="form" id="edit_sprint">
										<input type="hidden" value="ag1zfmFwbS1ldGVybnVzchQLEgdQcm9qZWN0GICAgICWpZILDA" name="project_key">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Title<font color="red">*</font></label>
												<input name="name" type="text" class="form-control add-task-textbox apm-modal-textbox" value="{{sprint_info.name}}">
											  </div>
											  
											  <div class="form-group task-form-group">
												<label class="task-label">Description<font color="red">*</font></label>
												<textarea name="desc" rows="4" class="form-control add-task-textbox apm-modal-textarea">{{sprint_info.description}}</textarea>
											  </div>
												  
												  
												
											  
											  <div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="task-label">Start Date<font color="red">*</font></label>
														<input name="start" id="start" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="sprint_start" value="{{sprint_info.startDate|date:'m/d/Y'}}">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="task-label">End Date<font color="red">*</font></label>
														<input name="end" id="end" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="sprint_end" value="{{sprint_info.endDate|date:'m/d/Y'}}">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker1" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
											 <div class="error" id="date_error"></div>	
											<div class="form-group task-form-group">
														<label class="task-label">Working Hours/Day (Hrs)<font color="red">*</font></label>
														<input name="new_workinghours" type="text" class="form-control add-task-textbox apm-modal-textbox" id="new_workinghours" min="1" max="24" maxlength="2" value="{{sprint_info.workinghours}}">
														<input name="old_workinghours" type="hidden" class="form-control add-task-textbox apm-modal-textbox" value="{{sprint_info.workinghours}}">
													  </div>
											
											<div class="form-group task-form-group">
														<label class="task-label">Sprint Length</label>
														<input disabled type="text" class="form-control add-task-textbox apm-modal-textbox" value="0 weeks" id="length" value="{{sprint_info.workinghours}}">
											</div>  
													  
												<div class="form-group task-form-group">
														<label class="task-label">Release</label>
														<select class="form-control add-task-textbox apm-modal-textbox" name="release" id="release" >
														{%if sprint_info.release_key%}
														<option value="{{sprint_info.release_key.urlsafe}}">{{sprint_info.release_key.get.releaseName}}</option>
														{%endif%}
														<option value="None">None</option>
														{%for i in release%}
														{%if i.status%}
														{%if i.releaseName != sprint_info.release_key.get.releaseName%}
															<option value={{i.key.urlsafe}}>{{i.releaseName}}</option>
														{%endif%}
														{%endif%}
														{%endfor%}
												</select>
												 </div>
											  <input name="edit_key" type="hidden" value="{{sprint_info.key.urlsafe}}">
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button"  class="add-task-btn-modal" data-dismiss="modal" id="submit_sprint" >Update</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				
