{% extends "base.html" %}

{% block title %}User | Tasks {% endblock %}
		
{% block header_links%}
		
		<style>
			.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
			.apm-listing-add-proj-box {
				margin-top: -80px!important;
			}
			.apm-member-listing-table {
				margin-top: 25px!important;
			}
			.apm-sprint-detail-span{
 				color:#407CD6!important;
			}
			.panel-edit-link{
 				float:right;
			}
			.panel-edit-link a, .panel-edit-link a:active, .panel-edit-link a:visited, .panel-edit-link a:focus{
 				color:#fff!important;
 				text-transform:uppercase;
 				letter-spacing:1px;
			}
			
			.apm-sprint-table thead tr:first-child {
    			padding: 2px 2px!important;
    			color: #000!important;
    			border: none!important;
    			background: transparent!important;
    			font-size: 10px!important;
    			letter-spacing: 0!important;
			}
		</style>
		
			
		<script>
				$(document).ready(function(){
					
					 $("#status_dropdown li").on("click", function(){
						//  alert($(this).text());
						  
						  var filter_name=$(this).text();
						  
						  if(filter_name == 'Pending Tasks')
						
						  {
							  
						  $("#fbody").find("tr td").not("#table_header").filter(function() {
							    if($(this).text() == "Open"){
							        retval=1;
							        
							      	$('#table_header').show();
							        $(this).parent().show();
							       // alert('Same item found');
							        return false;
							    }else{
							        retval=0;
							        $(this).parent().hide();
							        $('#table_header').show();
							    }
							});
							  }
						  else
						  if(filter_name == 'Completed Tasks')
								
						  {
							  $("#fbody").find("tr td").not("#table_header").filter(function() {
								    if($(this).text() == "Done"){
								        retval=1;
								        
								      	$('#table_header').show();
								        $(this).parent().show();
								       // alert('Same item found');
								        return false;
								    }else{
								        retval=0;
								        $(this).parent().hide();
								        $('#table_header').show();
								    }
								});  
						  }
						  else
						  if(filter_name == 'Ongoing Tasks')
								
						  {
							  $("#fbody").find("tr td").not("#table_header").filter(function() {
								    if($(this).text() == "In Progress"){
								        retval=1;
								        
								      	$('#table_header').show();
								        $(this).parent().show();
								       // alert('Same item found');
								        return false;
								    }else{
								        retval=0;
								        $(this).parent().hide();
								        $('#table_header').show();
								    }
								});
						  }
						  
						  else
						  {
							  $("#fbody").find("tr").show()
						  }
						  
						  
						});
					 
					//$("#details").hide();
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					
					
					
					 $('table tr').click(function(){
						
					
					       		 window.location = $(this).attr('href');
					        	 return false;
						
					        
					    });

					 
					 //for filter 
					 var query_string= getParameterByName('status');
					 if (query_string)
						 {
						 query_string= query_string.trim();
						 }
					 
					 var data;
					
					
					 
					 if (query_string == 'open')
					{
					 
						$('#status_button').html(" <i class='fa fa-filter backlog-filter-icon' aria-hidden='true'></i>Pending Tasks<span class='caret'></span>");
						
						var retval=0;   
					
						$("#fbody").find("tr td").not("#table_header").filter(function() {
						    if($(this).text() == "Open"){
						        retval=1;
						        
						      	$('#table_header').show();
						        $(this).parent().show();
						       // alert('Same item found');
						        return false;
						    }else{
						        retval=0;
						        $(this).parent().hide();
						        $('#table_header').show();
						    }
						});
					 
					}
					 else
						 if(query_string == 'done')
						 {
							 	//data1='Done';
								$('#status_button').html("<i class='fa fa-filter backlog-filter-icon' aria-hidden='true'></i>Completed Tasks<span class='caret'></span>");
								var retval=0;   
							
								$("#fbody").find("tr td").not("#table_header").filter(function() {
								    if($(this).text() == "Done"){
								        retval=1;
								        
								      	$('#table_header').show();
								        $(this).parent().show();
								       // alert('Same item found');
								        return false;
								    }else{
								        retval=0;
								        $(this).parent().hide();
								        $('#table_header').show();
								    }
								});
							 
							}
						 else
							
								 if(query_string == 'inprogress')
								 {
								
								$('#status_button').html(" <i class='fa fa-filter backlog-filter-icon' aria-hidden='true'></i>Ongoing Tasks<span class='caret'></span>");
										var retval=0;   
									
										$("#fbody").find("tr td").not("#table_header").filter(function() {
										    if($(this).text() == "In Progress"){
										        retval=1;
										        
										      	$('#table_header').show();
										        $(this).parent().show();
										       // alert('Same item found');
										        return false;
										    }else{
										        retval=0;
										        $(this).parent().hide();
										        $('#table_header').show();
										    }
										});
									 
							}
					 
				});
				
				function getParameterByName(name, url) {
				    if (!url) url = window.location.href;
				    name = name.replace(/[\[\]]/g, "\\$&");
				    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				        results = regex.exec(url);
				    if (!results) return null;
				    if (!results[2]) return '';
				    return decodeURIComponent(results[2].replace(/\+/g, " "));
				}
					
		</script>
		
{% endblock %}	
	


     
{%block content%}	
 

		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Assigned Issues</h2>
				
						<!-- Backlog Filter section -->
						<div class="apm-backlog-filter-box">
							
							<!-- Filter 1 -->
							<div class="dropdown apm-backlog-filter-dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="status_button">
							  <i class="fa fa-filter backlog-filter-icon" aria-hidden="true"></i>Status
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu" id="status_dropdown">
								<li><a href="#" value="Pending Tasks">Pending Tasks</a></li>
								<li><a href="#" value="Ongoing Tasks">Ongoing Tasks</a></li>
								<li><a href="#" value="Completed Tasks">Completed Tasks</a></li>
								<li><a href="#" value="All Tasks">All Tasks</a></li>
							  </ul>
							</div>
							
							<!-- Filter 2 -->
							<div class="dropdown apm-backlog-filter-dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							  <i class="fa fa-filter backlog-filter-icon" aria-hidden="true"></i>Filter 2
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<li><a href="#">option 1</a></li>
								<li><a href="#">option 2</a></li>
								<li><a href="#">option 3</a></li>
							  </ul>
							</div>
							
							<!-- Filter 3 -->
							<div class="dropdown apm-backlog-filter-dropdown">
							  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
							  <i class="fa fa-filter backlog-filter-icon" aria-hidden="true"></i>Filter 3
							  <span class="caret"></span></button>
							  <ul class="dropdown-menu">
								<li><a href="#">option 1</a></li>
								<li><a href="#">option 2</a></li>
								<li><a href="#">option 3</a></li>
							  </ul>
							</div>
							
							
							
						</div>
						
						
						
						<hr>
						
						
							<div class="row">
								<div class="col-md-12">
									<div class="">
											<!-- Sprint 1 panel -->
											<div class="panel panel-default apm-sprint-panel">
												<div class="panel-heading">
													Assigned Issues
												</div>
												<div class="panel-body">
													<div class="table-responsive">
														<table class="table apm-sprint-table">
															<tbody id="fbody">
               													 <tr id="table_header" href="#"> 
               													  <td><b>Title</b></td>
               													  <td><b>Task Description</b></td>
                												  <td><b>Effort Estimate</b></td>
              													   <td><b>Status</b></td>
                 												
             													   </tr>
             												
														<tr class="separator" />
														{% if tasks %}
															{%for task in tasks%}
															{%if task.status%}
															
															  <tr class='clickable-row' href="/mytasks/view?key={{task.key.urlsafe}}" >
															<!--   <a class="task_key" href="/mytasks/view?key={{task.key.urlsafe}}" ></a> -->
																<td>{{task.name}}</td>
																<td>{{task.description}}</td>
																<td>{{task.actual_efforts}}</td>
																<td>{{task.task_status}}</td>
																
															  </tr>
															  
															  <tr class="separator" />
															   
															  {%endif%}
															  {%endfor%}
														{%else%}
															<tr id="blank_row" href="#">
																<td colspan="5" style="text-align:center;">Hurray! There are no tasks assigned to you for now .</td>
														{%endif%}
																
															  </tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<!-- Sprint 1 panel ENDS -->
											
											
											
									</div>
								</div> <!-- .col-md-9 ends -->	
								
								
								
								
							</div>	 <!-- .row ends -->	
						</div>
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
	
	{%endblock%}