{% extends "base.html" %}

{% block title %}User | Project | Release{% endblock %}
		
{% block header_links%}
		<title>APM - All Projects</title>
		
		<style>
			.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
			.error{
			color:red;
			display: inline-block;
    		max-width: 100%;
    		margin-bottom: 5px;
    		font-weight: 700;
			}
			
		</style>
	<script>
				$(document).ready(function(){
					
					var release_validator=   $("#release_form").validate({
					      rules: {
					    	  release_name: 
					    	  {
					           		 required: true
					          },
					          release_date: 
					          {
						      		 required: true
						      }
				   
					         },
					         messages: 
					         {
					        	 release_name: 
					           {
					             required: "Please enter release name."
					           },
					           release_date: 
					           {
					             required: "Please enter release date."
					           }
					         }
					     });
					
					
					
					$('.form-group').find('.open-datetimepicker').on('click', function(){
					    $('#release_date').trigger('focus');
					});
				
					
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					$('.datepicker').datepicker({
						format: 'dd/mm/yyyy',
						startDate: '0d'
					});
					
					$("#add_release").click(function(e) {
						$('#add-release-modal').modal('show');
					});
					
					
					$("#submit").on("click",function(event){
						 if (!$('#release_form').valid()){
							    event.preventDefault();
							    event.stopImmediatePropagation();
							    return false;
						 }
						 else
						 {
							 var release_date=$('#release_date').val();
							 var project_start_date="{{session.current_project.get.startDate|date:'d/m/Y'}}";
							 var project_end_date="{{session.current_project.get.endDate|date:'d/m/Y'}}";
							
							 var start_date=project_start_date;
							 var end_date=project_end_date;
							 
							 release_date =Date.parse(release_date);
							 project_start_date=Date.parse(project_start_date);
							 project_end_date =Date.parse(project_end_date);
							 
							console.log(release_date,project_start_date,project_end_date);
							 
							 if (release_date > project_end_date){
								 
								 $('#date_error').text("Release date cannot be after project end date("+end_date+").")
								event.preventDefault();
								 event.stopImmediatePropagation();
								 return false;
								 
							 }
							 else
								 if (release_date < project_start_date){
									 
									 $('#date_error').text("Release date cannot be before project start date("+start_date+").")
									event.preventDefault();
									 event.stopImmediatePropagation();
									 return false;
									 
								 } 
							
							 
							 else
							{	 
							 $('#date_error').text("");
								$.post( '/release', $("#release_form").serialize())
								.done(function( data ) {
								if (data!="true"){
									alert("Release cannot be added");
									return false
								} else {
									
									  $('.table').load('/release .table', function(result) {
						  				});
									
								}
								
							});
							 
						 }
							
						 }
								
								
							})
							
							
					$('#add-release-modal').on('hidden.bs.modal', function(e)
									    { 
											 $('#date_error').text("");
									        $(this).removeData('bs.modal');
									        $(this).find('form')[0].reset();
									       /*  $('.table').load('/release .table', function(result) {
							  				}); */
									    }) ;
					

				});
				
				
				
				
				
		</script>	
		
{% endblock %}	
	


     
{%block content%}	
		

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">All Releases</h2>
						
						<hr>
						
						
							<div class="row">
								<div class="col-md-10">
									<div class="">
											<div class="apm-listing-add-proj-box">
												<a ><button class="apm-listing-add-proj-btn" id="add_release">Add Release</button></a>
											</div>
											<div class="table-responsive">
												<table  class="table-condensed table table-bordered apm-member-listing-table apm-all-proj-table">
													<thead>
														<tr>
															<th></th>
														<!-- 	<th>Project Name</th> -->
															<th>Release Name</th>
															<th>Release Date</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
													{% for i in release %}
												
													{%if company_name == i.projectid.get.companyid.get.domain %}
													{%if i.status%}
													{%if i.projectid.get.name == session.current_project.get.name %}
														<tr id="{{i.key.urlsafe}}">
															<td><i class="fa fa-cogs" aria-hidden="true"></i></td>
															
															<!-- <td><a href="/project/viewproject?proj_id={{i.projectid.key.id}}">{{ i.projectid.get.name }}</a></td>
															 -->
															<td>{{i.releaseName}}</td>
															<td>{{ i.releaseDate }}</td>
															<td>
																<a href="/release/edit?edit_key={{i.key.urlsafe}}" data-toggle="modal" data-target="#edit-release-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Release"  id="{{i.key.urlsafe}}"></a></i>
																<!-- <a href="/release/delete?delete_key={{i.key.urlsafe}}" data-toggle="modal" data-target="#delete-release-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Release"  id="{{i.key.urlsafe}}"></a></i> -->
															</td>
														</tr>
														{%endif%}
														{%endif%}
														{%endif%}
													{%endfor%}
													</tbody>
												</table>
											</div>
									</div>
								</div>
								<div class="col-md-2">
									
								</div>
							</div>		
						</div>
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
		<!-- Add Team Members Starts -->
			<div id="add-release-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add Release</h4>
				  </div>
				 
				  
				  <form role="form" id="release_form" action="/release" method="post">
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-2">
								</div>
								
								<div class="col-md-8">
								 <div class="error" id="date_error"></div>		
									
											  
												<!-- Project Title -->
											<div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Release Name<font color="red">*</font></label>
												<input name="release_name" type="text" class="form-control apm-landing-textbox-reg">
											</div>
											
											
												<!-- Start Date -->
												<div class="form-group task-form-group">
													<div class="form-group">
														<label class="apm-landing-reg-label">Release Date<font color="red">*</font></label>
														<input name="release_date" id="release_date" type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true">
														<i class="fa fa-calendar datepicker-cal open-datetimepicker" aria-hidden="true"></i>
													</div>
												</div>
												
										
											
										
										
								</div>	
								<div class="col-md-2">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<input type="submit" class="add-task-btn-modal" data-dismiss="modal" id="submit" value="Add" >
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				
				  </div>
				  </form>
				</div>

			  </div>
			</div>
	<!-- Add Team Members Modal Ends -->
	<!--Edit Modal Starts -->
			<div id="edit-release-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				</div>

			  </div>
			</div>
	<!-- edit Modal Ends -->
	
	<!-- delete Modal Starts -->
			<div id="delete-release-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				 
				</div>

			  </div>
			</div>
	<!--delete Modal Ends -->
{%endblock%}
		
		
