{% extends "base.html" %}

{% block title %}User|Test{% endblock %}

{% block header_links%}
		<style>
			.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
			
			
			
			/* draggable targets */
			[data-draggable="target"]
			{
			   	list-style-type: none;
				height: 500px;
				overflow-y: auto;
				padding: 15px;
				border-radius: 0.2em;
				color: #555;
				background:#f8f8f8;
				border:1px solid #eee;
			}

			/* draggable items */
			[data-draggable="item"]
			{
				display: block;
				list-style-type: none;
				margin: 0 0 2px 0;
				padding: 12px;
				border: 1px solid #fff;
				margin-bottom: 15px;
				background:#fff;
				cursor:move;
				/*height: 115px;*/
				height:auto;
				-webkit-box-shadow: -1px 1px 3px 0px rgba(122,122,122,1);
				-moz-box-shadow: -1px 1px 3px 0px rgba(122,122,122,1);
				box-shadow: -1px 1px 3px 0px rgba(122,122,122,1);
			}
			@media (max-width: 991px){
				[data-draggable="item"]{
					height: auto;
				}
			}	
			.to-do-list [data-draggable="item"]{
				border-left:5px solid #ff0000;
			}
			.in-progress-list [data-draggable="item"]{
				border-left:5px solid #F0AD4E;
			}
			.done-list [data-draggable="item"]{
				border-left:5px solid #5CB85C;
			}
			.drag-task-heading{
				margin:0;
				margin-bottom:8px;
				font-size:12px;
				letter-spacing:1px;
				font-weight:600;
				text-transform:uppercase;
			}
			.drag-task-descr{
				margin:0;
				font-size:12px;
				letter-spacing:1px;
				font-weight:500;
				line-height: 1.8em;
			}
			.apm-user-actionitem-label{
				font-family:Raleway;
				letter-spacing:1px;
				font-size: 16px;
			}
			
			/*********** For user dashboard chart structure *******/
			
			.user-dashboard-right-box{
				padding-right:0;
			}
			.user-dashboard-left-box{
				padding-left:0;
			}
			@media (max-width: 767px){
				.user-dashboard-right-box{
					padding-right:15px;
				}
				.user-dashboard-left-box{
					padding-left:15px;
				}
			}	
		</style>
	
	{% endblock %}	
	
{%block content%}	
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                   <div class="col-lg-12">
					
					<h2 class="apm-all-reports-heading">User Dashboard</h2>
						
					<hr>
						
					<!----- Left Box  --->	
					<div class="col-md-8 user-dashboard-left-box">
						<!-- Number Boxes -->
						<div class="row apm-numbox-row">
							<div class="col-md-4 col-sm-4">
								<div class="apm-numbox-dashboard apm-numbox-1">
									<h2 class="apm-numbox-heading">{{open_count}}</h2>
									<label class="apm-numbox-label"> <a href="/mytasks?status=open"  style="text-decoration: none; color: white;">Pending Tasks</a></label>
								</div>	
							</div>
						
							<div class="col-md-4 col-sm-4">
								<div class="apm-numbox-dashboard apm-numbox-3">
									<h2 class="apm-numbox-heading">{{inprogress_count}}</h2>
									<label class="apm-numbox-label"> <a href="/mytasks?status=inprogress" style="text-decoration: none; color: white;">Ongoing Tasks</a></label>
								</div>	
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="apm-numbox-dashboard apm-numbox-4">
									<h2 class="apm-numbox-heading">{{completed_count}}</h2>
									<label class="apm-numbox-label"> <a href="/mytasks?status=done" style="text-decoration: none; color: white;">Completed Tasks</a></label>
								</div>	
							</div>
						</div>
						<!-- Number Boxes ENDS -->
						
						
						
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<h4 class="apm-user-actionitem-label">Pending Tasks:</h4>
								<!--<div class="apm-user-action-item">
									
								</div>-->
								<ol data-draggable="target" class="to-do-list">
								{%for i in tasks%}
								{%if i.task_status == 'Open' %}
								  <li data-draggable="item">
								   <a href="/mytasks/view?key={{i.key.urlsafe}}" style="text-decoration: none;">
									<h5 class="drag-task-heading">Task- {{i.name}}</h5>
									<p class="drag-task-descr">{{i.description}}</p>
								  </a>
								  </li>
								  {%endif%}
								  {%endfor%}
								
								
								</ol>
							</div>
							<div class="col-md-4 col-sm-4">
								<h4 class="apm-user-actionitem-label">Ongoing Tasks:</h4>
								<ol data-draggable="target" class="in-progress-list">
								{%for i in tasks%}
									{%if i.task_status == 'In Progress' %}
								   <li data-draggable="item">
								   <a href="/mytasks/view?key={{i.key.urlsafe}}" style="text-decoration: none;">
									<h5 class="drag-task-heading">Task-{{i.name}}</h5>
									<p class="drag-task-descr">{{i.description}}</p>
								 	</a>
								  </li>
								  	{%endif%}
								  	{%endfor%}
								 
								
								</ol>
							</div>
							<div class="col-md-4 col-sm-4">
								<h4 class="apm-user-actionitem-label">Completed Tasks:</h4>
								<ol data-draggable="target" class="done-list">
									{%for i in tasks%}
									{%if i.task_status == 'Done' %}
								   <li data-draggable="item">
								     	<a href="/mytasks/view?key={{i.key.urlsafe}}" style="text-decoration: none;">
									<h5 class="drag-task-heading">Task -{{i.name}}</h5>
									<p class="drag-task-descr">{{i.description}}</p>
								  </a>
								  </li>
								 	{%endif%}
								  	{%endfor%}
								
								  
								 
								</ol>
							</div>
							
						</div>
					</div> <!-- .col-md-8 ends -->
						
						
					<!----- Right Box  --->		
					<div class="col-md-4 user-dashboard-right-box">
						<!-- Chart 1 -->
						<div class="panel panel-default">
									<div class="panel-heading apm-panel-heading">
										Burndown Chart
									</div>
									<div class="panel-body apm-panel-body">
										<img src="../assets_new/img/pie.png" class="img-responsive" style="width: 35%;">
										<p class="apm-para">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										</p>
									</div>
						</div>
						
						<!-- Chart 2 -->
						<div class="panel panel-default">
									<div class="panel-heading apm-panel-heading">
										Velocity Chart
									</div>
									<div class="panel-body apm-panel-body">
										<img src="../assets_new/img/barchart.png" class="img-responsive" style="width: 40%;">
										<p class="apm-para">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										</p>
									</div>
						</div>
					</div>		
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->

		<script src="../assets_new/js/draggable.js"></script>
{% endblock %}