{% extends "base.html" %}

{% block title %}User | Dashboard{% endblock %}
		
{% block header_links%}
		<style>
			.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			
			/******** for select sprint dropdown *****/
			.effort-heading{
				float:left;
			}
			.select-sprint-label{
				margin-left:50px;
			}
			.select-sprint-dropdown-box{
				padding-top: 8px;
			}
			@media (max-width: 600px){
				.effort-heading{
					float:none;
				}
				.select-sprint-label{
					margin-left:0px;
				}
				.apm-eff-est-table-box {
					margin-top: 8px;
				}
			}
		</style>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
		
		  google.charts.load('current', {'packages': ['corechart', 'bar']});
		  
		  /******************************************************when sprint id is present starts*******************************************************************************/
		  
		  var s= window.location.href.split(".com/").pop();
		  if (s.indexOf("?sprint_id")>1)
		  {
		  			 
		  	//resource workload chart
		  	var sprint_id = window.location.href.split(".com/test?sprint_id=").pop();
		  	$.post("/efforts/chart?sprint_id="+sprint_id).done(function(data){
		  					 //console.log(data);	 
		  					$('#curve_chart').html(data); 
		  				 });
		  			  
		  			  
		  }

		  else
		  { 
		  	$.post('/efforts/chart').done(function(data){
		  		//console.log(data);	
		  	
		  		$('#curve_chart').html(data);
		  						
		  		});
		  	
		  	
		  	
		 }
		  		
		  /********************************************************when sprint id is present ends***************************************************************************************/
		  		   	

		  
				$(document).ready(function(){
					
					var modal_id ;
					var modal_val ;
					
					$('.datepicker').datepicker({
						format: 'dd/mm/yyyy',
						startDate: '0d'
					});
					
					
					$("#apm-addmember-btn").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addmember-btn2").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addestimates-btn").click(function(e) {
						$('#add-estimation-timeline-modal').modal('show');
					});
					
					$(".apm-eff-est-hr-num").click(function(e) {
						console.log("Inside put hour");
						$('#put-hour-modal').modal('show');
					});
					
					
					/******* To change modal header text according to member names ******/
					
					$('.apm-eff-est-table').on('click', '.cell-effort', function () {
						
						console.log("Inside put table");
						var th = $('.apm-eff-est-table th').eq($(this).index());
						//console.log("the th is"+JSON.stringify(th));
						var cells = [];
						var id = $(this).closest('td').attr('id');
						console.log("the id is"+id);
						$('td', $(this).closest('tr')).each(function() {
					        cells.push($(this).html());
					    });
						
						console.log("the val is"+cells[0])
						
						$('#put-hour-modal #member-header-text').text(th.text());
						$('#celldate').html(cells[0]);
						$('#celldate').attr('name',id);
						
						
						
						
					});
					
					/******* To show Modal on Effort estimation dropdown ******/
					$(".effort-dropdown").change(function () {
						
						$('#info-modal').modal('show');
						modal_id = $(this).children(":selected").attr("id");
						modal_val = $(this).children(":selected").val();
						modal_val = modal_val.replace("%","");
					});
					
					$("#submitperc").on("click",function(){
						var e = document.getElementById("sprintselect");
						var strSprint = e.options[e.selectedIndex].value;
						console.log("the id is"+modal_id);
						console.log("the value is"+modal_val);
						var parameters = "estiper="+modal_val+"&sprintid="+strSprint+"&userid="+modal_id+""
						$.post( "/efforts/edit", parameters)
				  		.done(function( data ) {
				  			if(data == "reload")
				  				{
				  				window.location.href = "/test?sprint_id="+strSprint;
				  				}
				  			
				  			
				  			});
						/* $.post("/test?sprint_id="+strSprint).done(function(data){
		  					 //console.log(data);	 
		  					$('#curve_chart').html(data); 
		  				 }); */
						
					})
					
					$(".sprint-dropdown").change(function () {
						var e = document.getElementById("sprintselect");
						var strSprint = e.options[e.selectedIndex].value;
						console.log("the sprint id is"+strSprint)
						window.location.href = "/test?sprint_id="+strSprint;
					});
					
					$("#submit").on("click",function(){
					 
					var concatid = $('#celldate').attr('name'); 
					var arr = concatid.split('_');
					var effestid = arr[0];
					var userid = arr[1];
					var eff = $('#effesti').val();
					var total = $('#'+effestid+'_total b').html();
					var oldval = $('#'+concatid+' span:eq(0)').html();
					console.log("the total is"+total);
					console.log("the oldval is"+oldval);
					console.log("the concatid is"+concatid);
					console.log("the est id"+effestid)
					console.log("the userid is"+userid);
					console.log("the eff is"+eff)
					var parameters = "estival="+eff+"&effestid="+effestid+"&userid="+userid+""
					console.log("the param are"+parameters);   
					$.post( "/efforts/edit", parameters)
			  		.done(function( data ) {
			  			console.log("comes here"+data)
			  			if(data == "success")
			  				{
			  				
			  					if (s.indexOf("?sprint_id")>1)
			  			  		{
			  			  			 
			  			  			
			  			  			var sprint_id = window.location.href.split(".com/test?sprint_id=").pop();
			  			  			$.post("/efforts/chart?sprint_id="+sprint_id).done(function(data){
			  			  					 //console.log(data);	 
			  			  					$('#curve_chart').html(data); 
			  			  				drawChart();	
			  			  				 });
			  			  			  
			  			  			  
			  			  		}

			  			  		else
			  			  		{ 
			  			  			$.post('/efforts/chart').done(function(data){
			  			  			
			  			  	
			  			  			$('#curve_chart').html(data);
			  			  			drawChart();				
			  			  			});
			  			  	
			  			  	
			  			  	
			  			 		}
			  				
			  			  
			  				console.log("comes here after success");
			  				$('#'+concatid+' span').html(eff);
			  				var ttl = total - oldval ;
			  				console.log("minus"+ttl);
			  				ttl = ttl + parseInt(eff) ;
			  				console.log("plus"+ttl);
			  				$('#'+effestid+'_total b').html(ttl);
			  				
			  			//	window.location.href = "/test";
			  				}
			  			
			  			
			  				
			  			
			  		});
					})

				});
	
		
		</script>
{% endblock %}	
	


     
{%block content%}	


        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading effort-heading">Effort Estimation</h2>
						
						<!-- Select sprint dropdown -->
						<div class="form-group select-sprint-dropdown-box">
										<label class="apm-effort-est-lbl select-sprint-label">Select Sprint:</label>
										<select class="add-task-textbox apm-modal-textbox apm-effort-est-dropdown sprint-dropdown" id="sprintselect">
											{% for sprints in sprint %}
										    {% if sprints.key == efforestimate.0.sprint %}
											<option  value= "{{ sprints.key.id }}" selected> {{ sprints.name }}</option>
											
											{%else%}
											
											<option  value= "{{ sprints.key.id }}"> {{ sprints.name }}</option>
											{%endif%}
										{%endfor%}
										</select>
						</div>
						<!-- Select sprint dropdown Ends -->
						
						<hr>
						
						<div class="row apm-select-sprint-dropdown">
							
							<!-- <div class="col-md-1"></div> -->
							<div class="col-md-10 apm-eff-est-table-box">
							
							
								{% for sprints in sprint %}
							 						{% if sprints.key == efforestimate.0.sprint %}
														<h4 class="apm-eff-est-sprint-name">{{ sprints.name }}</h4>
													{%endif%}
												{%endfor%}
								<hr>
								
								<!--Burndown Chart-->
								<div class="panel panel-default">
											<div class="panel-heading apm-panel-heading">
												{% for sprints in sprint %}
							 						{% if sprints.key == efforestimate.0.sprint %}
														<h4 class="apm-eff-est-sprint-name">{{ sprints.name }}</h4>
													{%endif%}
												{%endfor%}
							
											</div>
											<div class="panel-body">
												<div id="curve_chart" style="width: 100%; height: auto;"></div>
											</div>
								</div>
								
								<div class="table-responsive">
												<table class="table table-condensed table-bordered apm-member-listing-table apm-all-proj-table apm-eff-est-table">
													
														<tr>
															
														<th rowspan="2">DATES</th>
															{% for eff in efforestimate.0.effort %}
															
															<th id="{{eff.userKey.id}}">{{ eff.userName }} </th>
													
															{%endfor%}
															
															<th>Total Efforts</th>
														</tr>
													
													
														<tr>
															{% for eff in efforestimate.0.effort %}
															<td>
																<select class="form-control add-task-textbox apm-modal-textbox apm-effort-est-dropdown effort-dropdown" placeholder="Availability">
																	<option>-Availability-</option>
																	<option id="{{eff.userKey.id}}">100%</option>
																	<option id="{{eff.userKey.id}}">75% </option>
																	<option id="{{eff.userKey.id}}">50% </option>
																	<option id="{{eff.userKey.id}}">25% </option>
																</select>
															</td>
															{%endfor%}
														
															<td style="vertical-align: middle;">
																<b>DAYWISE</b>
															</td>
														</tr>
														
														
														<!-- Main table rows starts -->
														
														<!-- Main table rows starts -->
														
														{% for est in efforestimate %}
														<tr>
														
															<td>{{ est.date }}</td>
															{% for eff in est.effort %}
															<td id="{{est.key.id}}_{{eff.userKey.id}}" title="Click to edit" class="cell-effort">
																<span class="apm-eff-est-hr-num">{{eff.effortHours}}</span>
																<span class="apm-eff-est-hr-text"><input type="text" class="form-control add-task-textbox apm-modal-textbox"></span>
															</td>
															{%endfor%}
															<td id="{{est.key.id}}_total"><b>{{est.total_effort}}</b></td>
														</tr>
														{%endfor%}
													
												</table>
											</div>
											
											
											<!--<div class="">
												<button class="apm-add-proj-btn apm-eff-est-save-btn">SAVE</button>
											</div>  -->

							</div> <!-- .col-md-10 ENDS -->
							<div class="col-md-1"></div>
						</div>
						
						
					
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
<!-- Put Hour value Modal Starts -->
			<div id="put-hour-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog modal-sm">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading" id="member-header-text">Member 1</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								
								<div class="col-md-12">
										<form role="form">
											  <!-- Complexity --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Date</label> :
												<label class="apm-landing-reg-label" id="celldate"></label>
											  </div>
											
											  
											  <!-- Estimated Efforts --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Estimated Hours</label>
												<input type="text" id="effesti" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											
										</form>
										
								</div>	
								
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" id="submit" class="add-task-btn-modal" data-dismiss="modal">Save</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Put Hour value Modal Ends -->
		
	<!-- Information modal on change of dropdown Modal Starts -->
			<div id="info-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading" id="member-header-text">Information</h4>
				  </div>
					<div  class="modal-body user-management-body">
							<div class="row">
								
								<div class="col-md-12">
									<p class="est-eff-information-modal-text">	
										
										<b>Update Availability:</b><br><br>
										
										The efforts for the person will be updated based on the selected availability percentage of total work hours.
										
									</p>
								</div>	
								
							</div>
							
				  </div>
				  
				  <div class="modal-footer add-task-modal-footer">
					<button id="submitperc" type="button" class="add-task-btn-modal" data-dismiss="modal">OK</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
					
				  </div>
				</div>

			  </div>
			</div>
	<!-- Information modal on change of dropdown Modal Ends -->		
	
	
		

		
	{%endblock%}