{% extends "base.html" %}

{% block title %}User | Profile{% endblock %}
		
{% block header_links%}
		<link rel="stylesheet" href="../assets_new/css/bootstrap-datepicker.min.css">
		
		
		<style>
			.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
			
		</style>
		
		
		<script src="../assets_new/js/bootstrap-datepicker.min.js"></script>
		<script src="../assets_new/js/main.js"></script>
		
			
		<script>
				$(document).ready(function(){
					 $(".edit_my_profile_fields").hide();
					 
					$( "#edit_my_profile_button" ).click(function() {
						  $(".edit_my_profile_fields").show();
						  
						  $(".label_my_profile_fields").hide();
						  
						});
					
					//for image
					if ('{{user_image}}') {
					$(".get_profile_image").attr('src', '/view_photo?photo_key={{user_image}}');
				}
					
					
				});
		</script>
		
{% endblock %}	
	


     
{%block content%}	
		
		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">My Profile</h2>
						
						<hr>
						
						<div class="apm-user-profile-box">
							<div class="row">
								<div class="col-md-10 apm-profile-container">
									<div class="row" style="border: 1px solid #eee;">
								{%for i in user_db%}
				
										{% if i.email_address == user.email_address and i.key.id == user.user_id %}
										
										<!-- User Profile Image -->
										<div class="col-md-3 col-sm-3 apm-profile-img-box">
										
											{%if not i.blob_key%}	
								
								<img id="preview_image" src="http://placehold.it/100x100" class="edit_my_profile_fields img-responsive" value="img?entity_id={{ i.blob_key }}">
									<!-- <img id="preview_image" src="http://placehold.it/240x240" height="240" width="240" value="img?entity_id={{ i.blob_key }}"> 
									 -->
										{%else%}
									<img id="preview_image"  class="edit_my_profile_fields img-responsive" src="/view_photo?photo_key={{i.blob_key}}" > 
								{%endif%}
										
										
											
											
											<div class="apm-profile-edit-box">
												<button id="edit_my_profile_button" class="apm-listing-add-proj-btn apm-edit-pro-btn">Edit My Profile</button>
											</div>
										</div>
										
											<form role="form" id="user_form" action="{{upload_url}}"  method="post" enctype="multipart/form-data">
									
										
										
										<!-- User Profile Information -->
										<div class="col-md-9 col-sm-9 apm-profile-info-box">
											<div class="row" style="padding-left: 15px;">
											
													<h2 class="apm-profile-page-main-heading">{{i.name}}, <span>{{role}}</span></h2>
													
													<hr class="apm-profile-hr">
													
													<!-- Profile image -->
													<div class="form-group">
														<div class="row">
															<div class="col-md-3 col-xs-6">
																<label class="edit_my_profile_fields apm-user-info-label">Profile Image:</label>
															</div>
															<div class="col-md-6 col-xs-6">
															<!-- 	<label class="label_my_profile_fields apm-user-info-label2">{{i.empid}}</label> -->
																
																	<!-- <input type="text" class="edit_my_profile_fields form-control project-management-textbox" name="emp_id" value="{{i.empid}}">-->
																<input type="file" class="edit_my_profile_fields" id="file" name="file">
																
																
															</div>
														</div>
													</div>
													
													
													<!-- Employee ID -->
													<div class="form-group">
														<div class="row">
															<div class="col-md-3 col-xs-6">
																<label class="apm-user-info-label">Employee ID:</label>
															</div>
															<div class="col-md-6 col-xs-6">
																<label class="label_my_profile_fields apm-user-info-label2">{{i.empid}}</label>
																
																	<input type="text" class="edit_my_profile_fields form-control project-management-textbox" name="emp_id" value="{{i.empid}}">
										
																
																
															</div>
														</div>
													</div>
													
													<!-- First Name -->
													<div class="form-group">
														<div class="row">
															<div class="col-md-3 col-xs-6">
																<label class="apm-user-info-label">First Name:</label>
															</div>
															<div class="col-md-6 col-xs-6">
																<label class="label_my_profile_fields apm-user-info-label2">{{i.name}}</label>
																
																<input type="text" class="edit_my_profile_fields form-control project-management-textbox" name="first_name" value="{{i.name}}">
										
																
															</div>
														</div>
													</div>
													
													<!-- Last Name -->
													<div class="form-group">
														<div class="row">
															<div class="col-md-3 col-xs-6">
																<label class="apm-user-info-label">Last Name:</label>
															</div>
															<div class="col-md-6 col-xs-6">
																<label class="label_my_profile_fields apm-user-info-label2">{{i.last_name}}</label>
																
																<input type="text" class="edit_my_profile_fields form-control project-management-textbox" name="last_name" value="{{i.last_name}}">
											
																
															</div>
														</div>
													</div>
													
													<!-- Email ID -->
													<div class="form-group">
														<div class="row">
															<div class="col-md-3 col-xs-6">
																<label class="apm-user-info-label">Designation:</label>
															</div>
															<div class="col-md-6 col-xs-6">
																<label class="label_my_profile_fields apm-user-info-label2">{{i.designation}}</label>
																<input type="text" class="edit_my_profile_fields form-control project-management-textbox" name="designation" value="{{i.designation}}">
										
															</div>
														</div>
													</div>
													
													<!-- Designation -->
													<div class="form-group">
														<div class="row">
															<div class="col-md-3 col-xs-6">
																<label class="apm-user-info-label">Email ID:</label>
															</div>
															<div class="col-md-6 col-xs-6">
																<label class="label_my_profile_fields apm-user-info-label2">{{i.email_address}}</label>
																
																<input type="text" class="edit_my_profile_fields form-control project-management-textbox" name="email" value="{{i.email_address}}" readonly>
										
																
															</div>
														</div>
													</div>
													
													<!-- Contact No. -->
													<div class="form-group">
														<div class="row">
															<div class="col-md-3 col-xs-6">
																<label class="apm-user-info-label">Contact No.:</label>
															</div>
															<div class="col-md-6 col-xs-6">
																<label class="label_my_profile_fields apm-user-info-label2">{{i.contact}}</label>
																<input type="text" class="edit_my_profile_fields form-control project-management-textbox" name="contact_no" value="{{i.contact}}">
										
															</div>
														</div>
													</div>
													
													<!-- Role -->
													<div class="form-group">
														<div class="row">
															<div class="col-md-3 col-xs-6">
																<label class="apm-user-info-label">Role:</label>
															</div>
															<div class="col-md-6 col-xs-6">
																<label class="apm-user-info-label2">{{role}}</label>
															</div>
														</div>
													</div>
											
												</form>
								<input type="submit" name="my_profile" id="my_profile" value="Update" class="edit_my_profile_fields register-btn pro-button">
								
								
								{%endif%}
								{%endfor%}
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2">
								</div>
							</div>
							
						</div>
						
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
				{%endblock%}
   
  
		
	
