{% extends "base.html" %}

{% block title %}User | Sprint{% endblock %}
{% block header_links%}
<script>
				$(document).ready(function(){
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					
					$('#to').datepicker({
						format: 'dd/mm/yyyy',
						endDate:'0d'
					});
					$('#from').datepicker({
						format: 'dd/mm/yyyy',
						endDate:'0d'
					});
					$('body').on('focus',".prev_next", function(){
						$(".prev_next").on('click',function(){
							var date_val=$(this).val();
							$('#timesheet').load('/timesheet?from='+date_val+' #timesheet', function(result) {
			  				    //var variable = $('#edit_permissions').html();
			  				});
					    
					});
					
					})
					$('body').on('focus',"#range_date", function(){
					$("#range_date").on('click',function(){
						var date_frm=$("#from").val();
						var date_to=$("#to").val();
						$('#timesheet').load('/timesheet?from='+date_frm+'&to='+date_to+' #timesheet', function(result) {
		  				    //var variable = $('#edit_permissions').html();
		  				});
					})
					});
						
				});
					
					
		</script>		
{% endblock %}
{%block content%}
<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Timesheet</h2>
						
						<hr>
						
					<!-- Main Timesheet content starts-->
						
					<!-- Task Details content starts-->
						<div class="row">
							<div class="col-md-11">
								
							
								<div class="row">
									<div class="col-md-2 col-sm-2">
											<div class="form-group">
														<label class="apm-landing-reg-label">From:</label>
														<input type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="from">
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
											</div>
									</div>
									<div class="col-md-2 col-sm-2">
											<div class="form-group">
														<label class="apm-landing-reg-label">To:</label>
														<input type="text" class="form-control apm-landing-textbox-reg datepicker" readonly="true" id="to">
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
											</div>
									</div>
									<div class="col-md-1 col-sm-1">
										<button type="button" class="apm-timesheet-go-btn" id="range_date">Go</button>
									</div>
									
								</div>
								<div id="timesheet">
									
								<h4 class="apm-timesheet-monthname-weekname">
									{%for a in logs%}{%if forloop.first%} {{a.date}} {%endif%}{%endfor%}<span class="to-span">To</span> {%for a in logs%}{%if forloop.last%} {{a.date}} {%endif%}{%endfor%}
								<!-- Timesheet Previous / Next week buttons -->
        <div class="timesheet-navigation-box">
         <button class="prev_next" value="{{previous}}"> << Prev Week </button>
         <button class="prev_next" value="{{next}}"> Next Week >> </button>
        </div>
								
								</h4>
								
								<hr class="apm-timesheet-separator">
								
								<div class="table-responsive">
									<table class="table table-bordered table-condensed apm-task-descr-table apm-timesheet-table">
										<thead>
										  <tr>
											<th>Day</th>
											<th>Tasks</th>
											<th>Efforts (Hrs.)</th>
											<th>Total Efforts (Hrs.)</th>
										  </tr>
										</thead>
										
										<tbody class="apm-timesheet-body">
										{% for log in logs%}
										{%if log.items%}
										{%for item in log.items%}
											{%if forloop.first%}
										  <tr>
											<td rowspan="{{log.items|length}}" class="apm-timesheet-td-bold">{{log.date|date:"l, d N, Y"}}</td>
											<td><a href="/mytasks/view?key={{item.task_key.urlsafe}}">{{item.task_key.get.name}}</a></td>
											<td>	{{ item.total_effort|floatformat:2 }}</td>
											
											<td rowspan="{{log.items|length}}" class="apm-timesheet-td-bold">{{log.total|floatformat:2}}</td>
										  </tr>
										  {%else%}
										  <tr>
											<td><a href="/mytasks/view?key={{item.task_key.urlsafe}}">{{item.task_key.get.name}}</a></td>
											<td>	{{ item.total_effort|floatformat:2 }}</td>
										  </tr>
										  {%endif%}
										 {%endfor%}
										 <tr class="timesheet-row-separator"></tr>
										{%else%}
										<tr>
											<td class="apm-timesheet-td-bold">{{log.date|date:"l, d N, Y"}}</td>
											<td>-</td>
											<td>-</td>
											<td class="apm-timesheet-td-bold">-</td>
										  </tr>
										  <tr class="timesheet-row-separator"></tr>
										  {%endif%}
										  {%endfor%}
										 
										</tbody>
									</table>
								</div>
								
								<h4 class="week-total-hrs-label">Total Efforts of Week : {{week_total|floatformat:2}} Hours</h4>
								
							</div>	
							</div>
						</div>
						
					<!-- Task Details content ENDS -->
						
						
						<hr>
					
					<!-- Main timesheet content ENDS-->
						
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->		

        
		
	
{%endblock%}		
		
		
		
		
</body>
</html>