{% extends "base.html" %}

{% block title %}User | Tasks {% endblock %}
		
{% block header_links%}
		
	<style>
		.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
		</style>
		
			
		<script>
				$(document).ready(function(){
					//$("#details").hide();
					$("#post_comment").on("click",function(){
						if($("#comment_form").val()!=""){
								$.post( "/mytasks/comment?key={{task.key.urlsafe}}", $("#comment_form"))
						  		.done(function( data ) {
						  			if (data!="true"){
						  				alert("Something Went Wrong");
						  				return false
						  			}  else {
						  				 $('#comments').load('/mytasks/view?key={{task.key.urlsafe}} #comments', function(result) {
							  				    //var variable = $('#edit_permissions').html();
							  				});
						  			}
						  		});
					}
							});
					
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					
					
						
						$('.datepicker').datepicker({
							format: 'dd/mm/yyyy',
							startDate: '0d'
						});
						
						
						$(".apm-task-add-timelog-link").click(function(e) {
							$('#apm-task-add-timelog-modal').modal('show');
						});

						$('#task_completed').on('click', function () {
						    $(this).val(this.checked ? 1 : 0);
						    console.log($(this).val());
						});
						
						$('#billable').on('click', function () {
						    $(this).val(this.checked ? 1 : 0);
						    console.log($(this).val());
						});
				
						
						$("#log_time_button").on("click",function(){
							$.post( "/mytasks/view", $("#time_log_form").serialize())
					  		.done(function( data ) {
					  			if (data!="true"){
					  				alert("Something Went Wrong");
					  				return false
					  			} 
					  		})
						});
							

					
						$('#apm-task-add-timelog-modal').on('hidden.bs.modal', function(e)
							    { 
									$(this).removeData('bs.modal');
									$(this).find('form')[0].reset();
									 $('#success').load('/mytasks/view?key={{task.key.urlsafe}} #table1', function(result) {
						  				   
						  				});
							    }) ;

				});
					
		</script>
		
{% endblock %}	
	


     
{%block content%}	
 
<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Task / Issue Details</h2>
						
						<hr>
				
														
													
					<!-- Main Task description content starts-->
							{%if task.status%}
					<!-- Task Details content starts-->
						<div class="row">
							<div class="col-md-8">
								<h3 class="apm-all-reports-taskname"><b>Task - </b> {{task.name}}</h3>
								
								<hr>
								
								<p class="apm-task-descr">
									{{task.description}} 
								</p>
								
								<div class="table-responsive">
									<table class="table table-bordered table-condensed apm-task-descr-table">
										<thead>
										  <tr>
											<th>Project</th>
											<th>Sprint</th>
											<th>Assigned To</th>
											<th>Estimated Hours</th>
											<th>Status</th>
										  </tr>
										</thead>
										<tbody>
										  <tr>
											<td>{{task.project.get.name}}</td>
											<td>{{task.sprint.get.name}}</td>
											<td>{{task.assignee.get.userName}}</td>	
											<td>{{task.actual_efforts}}</td>
											<td>{{task.task_status}}</td>
										  </tr>
										</tbody>
									</table>
								</div>
							</div>	
						</div>
						{%endif%}	
					<!-- Task Details content ENDS -->
						
						<hr>
						
						
						<!-- Task Time Log content starts-->
							<h3 class="apm-all-reports-subheading">Time Logs</h3>
							
							<p class="apm-task-timelog-para">
								There are no time logs for this task - <a href="#" class="apm-task-add-timelog-link">Log Time for this task</a>
							</p>
							
							<div id="success">
						
							<div class="table-responsive" id="table1">
								{%if time_log%}
								<table class="table table-bordered table-condensed apm-task-descr-table" >
											<thead>
											  <tr>
												<th>Date</th>
												<th>Who</th>
												<th>Description</th>
												<th>Billable</th>
												<th>Time</th>
												<th>Action</th>
											  </tr>
											</thead>
											<tbody>
											
											{%for i in time_log%}
											{%if i.status%}
											
											  <tr>
												<td>{{i.today_date}}</td>
												<td>{{i.assigne_key.get.name}}</td>
												<td>{{i.description}}</td>
												<td>{%if i.billable%}
													Yes
													{%else%}
													No
													{%endif%}
												</td>
												<td>{{i.hour}}:{{i.minute}}</td>
												<td>
												<a href="/timelog/edit?edit_key={{i.key.urlsafe}}" data-toggle="modal" data-target="#edit-timelog-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Time Log"  id="{{i.key.urlsafe}}"></a></i>
												<a href="/timelog/delete?delete_key={{i.key.urlsafe}}" data-toggle="modal" data-target="#delete-timelog-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Time Log"  id="{{i.key.urlsafe}}"></a></i>
											
												</td>
											  </tr>
											  
											  {%endif%}
											 {%endfor%}
											
											</tbody>
								</table>
								<p class="apm-task-timelog-para">
								<a href="#" class="apm-task-add-timelog-link">Log More Time for this task</a>
							</p>
							  {%endif%}
							</div>
							
							
							</div>
							
						<!-- Task Time Log content ENDS-->
						
						<hr>
						
						<!-- Task Comments content starts-->
							<h3 class="apm-all-reports-subheading">Comments</h3>
							
							<div class="row" id="comments">
								<div class="col-md-10">
									<!-- Textarea for Comment -->
									
									<div class="form-group">
										<textarea class="form-control apm-text-area" rows="3" placeholder="Add your comments here..." name="comment" id="comment_form"></textarea>
									</div>
									<br>
									<button id="post_comment">Comment</button>
									
									<!-- User's Comments -->
									
									<!-- Comment Row 1 -->
									
									{%for comment in task.comments|dictsortreversed:"created_date"%}
										
										<div class="row apm-comment-row">
											<h4 class="apm-comment-username">
												<i class="fa fa-user"></i>{{comment.created_by}} <span class="apm-comment-date-time-span">{{comment.created_date}}</span>
											</h4>
											
											<p class="apm-comment-content">
												{{comment.comment}} 
											</p>
										</div>
										
										<hr>
									{%endfor%}
									
									
								</div>
							</div>
							
						<!-- Task Comments content ENDs-->
						
						<hr>
						
						<div class="apm-back-task-box">
							<a href="/mytasks" class="apm-backbtn-pro-details">
							<i class="fa fa-reply" aria-hidden="true"></i> Back to Tasks</a>
						</div>
					<!-- Main Task description content ENDS-->
						
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
		
        
<div id="apm-task-add-timelog-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Log Time</h4>
				  </div>
				   
				  <form id="time_log_form" action="/mytasks/view" method="post">
					<div class="modal-body user-management-body">
							
							<div class="row apm-logtime-modal-row">
								<div class="col-md-12">
									<label class="apm-logtime-task-label">Task : {{task.name}}</label>
								</div>
							</div>
							
							<hr class="apm-logtime-separator">
							
							<div class="row apm-logtime-modal-row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="apm-logtime-modal-label">Date</label>
										<input type="text" class="form-control apm-landing-textbox-reg datepicker" id="date" name="date" readonly="true">
										<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
									</div>
								</div>
							
								<div class="col-md-4">
									<div class="form-group">
										<label class="apm-logtime-modal-label">Time Spent</label>
										<br>
										<input type="text" class="apm-landing-textbox-reg hour-text" placeholder="hours" id="hours" name="hours">
										<input type="text" class="apm-landing-textbox-reg min-text" placeholder="minutes" id="minutes" name="minutes">
									</div>
								</div>	

								<div class="col-md-4">
									<div class="checkbox billable-check">
									  <label class="apm-logtime-modal-label"><input type="checkbox" value="" name="billable" id="billable">Billable?</label>
									</div>
								</div>		
							</div>
							
							<div class="row apm-logtime-modal-row">
								<div class="col-md-12">
									<div class="form-group">
										<label class="apm-logtime-modal-label">Description</label>
										<textarea class="form-control apm-text-area" rows="3" id="description" name="description"></textarea>
									</div>
								</div>
							</div>
							
							<div class="row apm-logtime-modal-row">
								<div class="col-md-4">
									<div class="checkbox">
									  <label class="apm-logtime-modal-label"><input type="checkbox" value="" id="task_completed" name="task_completed">Task is now complete</label>
									</div>
								</div>		
							</div>
							
				  </div>
				 <input type="hidden" id="task_key" name="task_key" value="{{task.key.urlsafe}}">
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="log_time_button">Log Time</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				  </form>
				</div>

			  </div>
			</div>
	<!-- Add Time Logs Modal Ends -->
  
			<!--Edit Modal Starts -->
			<div id="edit-timelog-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				</div>

			  </div>
			</div>
	<!-- edit Modal Ends -->
	
	<!-- delete Modal Starts -->
			<div id="delete-timelog-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				 
				</div>

			  </div>
			</div>
	<!--delete Modal Ends -->
	
	{%endblock%}