<!DOCTYPE html>
<html lang="en">
<head>
		<title>APM - Project</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="/assets_new/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets_new/css/style.css">
		<link rel="stylesheet" href="/assets_new/css/sidebar.css">
		<link rel="stylesheet" href="/assets_new/css/button.css">
		<link rel="stylesheet" href="/assets_new/css/bootstrap-datepicker.min.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<style>
			.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
			
		</style>
		
	
		
	</head>
<body>
    <nav class="navbar navbar-default no-margin nav-apm">
    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header fixed-brand">
                    
					<!-- Menu Toggle -->
					<i class="fa fa-bars fa-2x collapse in" data-toggle="collapse" id="menu-toggle-2" aria-hidden="true"></i>
					
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".apm-navbar" aria-expanded="false" aria-controls="navbar">
					  <span class="sr-only">Toggle navigation</span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					  <span class="icon-bar"></span>
					</button>
					
					<!-- Project Name in dropdown -->
					<span class="dropdown">
						<a class="navbar-brand apm-nav-brand-1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project 1 <span class="caret"></span></a></a>
						<ul class="dropdown-menu apm-dropdown-projects">
						    <li><a href="#"><i class="fa fa-cog"></i> Project 2</a></li>
							<li><a href="#"><i class="fa fa-cog"></i> Project 3</a></li>
							<li><a href="#"><i class="fa fa-cog"></i> Project 4</a></li>
							<li class="divider"></li>
							<li><a href="#">View All Projects</a></li>
						</ul>
					</span>
                </div><!-- navbar-header-->
 
                <div class="collapse navbar-collapse apm-navbar" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-share-alt"></i> SOCIAL MEDIA
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-facebook-official"></i> Facebook</a></li>
										  <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
										  <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
										</ul>
									  </li>
									  
									  
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-sticky-note"></i> DOCUMENTS
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-file"></i> Document 1</a></li>
										  <li><a href="#"><i class="fa fa-file"></i> Document 2</a></li>
										  <li><a href="#"><i class="fa fa-file"></i> Document 3</a></li>
										</ul>
									  </li>
									  
									  <li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ISSUES
										<span class="caret"></span></a>
										<ul class="dropdown-menu">
										  <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Issue 1</a></li>
										  <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Issue 2</a></li>
										  <li><a href="#"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Issue 3</a></li>
										</ul>
									  </li>
									  
                            </ul>
							
							
							
							<ul class="nav navbar-nav navbar-right nav-desktop">
									<li class="search-field-box">
										<i class="fa fa-search search-icon"></i><input type="text" class="form-control search-field" placeholder="Search...">
									</li>
									 
 									  <li class="dropdown">
										<a href="#" class="dropdown-toggle user-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
										
										<i class="fa fa-user fa-3x"></i></a>
										
										<ul class="dropdown-menu multi-level menu-user">
										  <li><a href="#"><i class="fa fa-refresh"></i> Switch Role</a></li>
										  <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
									      <li class="dropdown-submenu">
													<a href="#"><i class="fa fa-caret-left arrow-left"></i><i class="fa fa-cog"></i> Settings</a>
													<ul class="dropdown-menu submenu-list">
													  <li><a href="#"><i class="fa fa-bell"></i> Notifications</a></li>
													  <li><a href="#"><i class="fa fa-link"></i> Linked Accounts</a></li>
													  <li><a href="#"><i class="fa fa-trash"></i> Clear History</a></li>
													  <li><a href="#"><i class="fa fa-share-square"></i> Share Query</a></li>
													  <li><a href="#"><i class="fa fa-certificate"></i> Assistance</a></li>
													</ul>
										  </li>
										  <li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
										  <li role="separator" class="divider"></li>
										  <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
										</ul>
									  </li>
									</ul>
							
                </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
	
	
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
 
					<li class="active">
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-th-large side-font-icons"></i> Dashboard</a>
						
					</li>
					<li>
						<a class="sidebar-main-list-name pro-planning-link" data-toggle="collapse" data-parent="" href="#collapseOne"><i class="fa fa-list"></i> Project Planning <span class="caret sidebar-caret"></span></a>
						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body sidebar-list-panel">
								<ul class="sidebar-list" style="display:block!important;">
									<li>
										<a href="/project" class="sidebar-list-sub-item">Projects</a>
									</li>
									<li>
										<a href="#" class="sidebar-list-sub-item">Release</a>
									</li>
									<li>
										<a href="#" class="sidebar-list-sub-item">Product Backlog</a>
									</li>
									<li>
										<a href="#" class="sidebar-list-sub-item">Sprint Planning</a>
									</li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-file-text side-font-icons"></i> Document Management</a>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-pie-chart side-font-icons"></i> Reports</a>
					</li>
					<li>
						<a href="#" class="sidebar-main-list-name"><i class="fa fa-bell side-font-icons"></i> Alerts & Notifications</a>
					</li>
               
            </ul>
        </div><!-- /#sidebar-wrapper -->
		
		
		
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Project</h2>
						
						<hr>
						
					<!-- Main add project content starts-->
						<ul class="nav nav-tabs">
							<li class="active"><a href="#proj-details" class="apm-add-proj-tab-title">Project Details</a></li>
							<li><a href="#proj-team" class="apm-add-proj-tab-title">Project Team</a></li>
							<li><a href="#estimation-guidelines" class="apm-add-proj-tab-title">Estimation Guidelines</a></li>
						</ul>

						<div class="tab-content">
							
							<!-- Project Details -->
							<div id="proj-details" class="tab-pane fade in active">
								<div class="row">
									<div  class="col-md-3">
										<form role="form" id="prj">
										
											<!-- Project Title -->
											<div  class="form-group">
												<label class="apm-landing-reg-label">Project Title</label>
											
												<input name="proj_name" type="text" class="form-control apm-landing-textbox-reg" value= {{ project.name }}>
											</div>
											
											<!-- Project Description -->
											<div class="form-group">
												<label class="apm-landing-reg-label">Project Description</label>
												<textarea name="proj_desc" class="form-control apm-landing-textbox-reg apm-text-area" rows="4"> {{project.description}} </textarea>
											</div>
											<div class="row">
												<!-- Start Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">Start Date</label>
														<input name="proj_start" type="text" class="form-control apm-landing-textbox-reg datepicker" value="{{project.startDate}}" readonly="true" >
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
													</div>
												</div>
												
												<!-- End Date -->
												<div class="col-md-6">
													<div class="form-group">
														<label class="apm-landing-reg-label">End Date</label>
														<input name="proj_end" type="text" class="form-control apm-landing-textbox-reg datepicker" value = "{{project.endDate}}" readonly="true">
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
													</div>
												</div>
												
											</div>
										</form>
									</div>
									<div class="col-md-9">
									</div>
								</div>
								<div class="apm-add-proj-btnbox">
							<button class="apm-add-proj-btn" id="submit">SAVE</button>
							<button class="apm-add-proj-btn">CANCEL</button>
						</div>
							</div>
							<!-- Project Details ENDS-->
							
							
							<!-- Project Team -->
							<div id="proj-team" class="tab-pane fade">
								<div class="apm-nomember-box" style="display:none;">
									<h4 class="apm-nomember-text">You have no members in your project. <br>Please add members by clicking Add Member button.</h4>
									<button class="apm-addmember-btn" id="apm-addmember-btn">Add Member</button>
								</div>
								
								<div class="apm-member-listing-box">
									<div class="row">
										<div class="col-md-5">
											
											<div class="apm-nomember-box-listing">
												<button class="apm-addmember-btn" id="apm-addmember-btn2">Add Member</button>
											</div>
											
											<div class="table-responsive">
												<table id="memlist" class="table table-bordered apm-member-listing-table">
													<thead>
													  <tr>
														<th>Member Name</th>
														<th>Role</th>
														<th>Action</th>
													  </tr>
													</thead>
													<tbody>
													{% for mem in projmem %}
													  <tr id="{{mem.key.id}}">
														<td>{{ mem.userName }}</td>
														<td>{{ mem.userRole }}</td>
														<td>
															<i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit"></i>
															<i id="deletemember" class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete"></i>
														</td>
													  </tr>
													   {%endfor%}
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-7">
											
										</div>
									</div>
								
								</div>
								
							</div>
							<!-- Project Team ENDS -->
							
							
							<!-- Project estimation-guidelines -->
							<div id="estimation-guidelines" class="tab-pane fade">
								<div class="apm-member-listing-box">
									<div class="row">
										<div class="col-md-5">
											
											<div class="apm-nomember-box-listing">
												<button class="apm-addmember-btn" id="apm-addestimates-btn">Add Estimates</button>
											</div>
											
											<div class="table-responsive">
												<table id="estilist" class="table table-bordered apm-member-listing-table">
													<thead>
													  <tr>
														<th>Complexity</th>
														<th>Complexity Points</th>
														<th>Estimated Efforts</th>
														<th>Action</th>
													  </tr>
													</thead>
													<tbody>
													{% for esti in estimation %}
													  <tr id="{{esti.key.id}}">
														<td>{{ esti.estimationLevel }}</td>
														<td>{{ esti.estimationPoint }}</td>
														<td>{{ esti.estimationHours }}</td>
														<td>
															<i class="fa fa-pencil apm-add-esti-edit" aria-hidden="true" title="Edit"></i>
															<i id="delestimate" class="fa fa-trash apm-add-esti-delete" aria-hidden="true" title="Delete"></i>
														</td>
													  </tr>
													  {%endfor%}
													 
													</tbody>
												</table>
											</div>
										</div>
										<div class="col-md-7">
											
										</div>
									</div>
								
								</div>
							</div>
							<!-- Project estimation-guidelines -->
							
							
						</div>
						
						<hr>
						
						
					<!-- Main add project content ENDS-->
						
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
		<!-- Add Team Members Starts -->
			<div id="add-member-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add Team Member</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-2">
								</div>
								
								<div class="col-md-8">
										<form role="form" id="members">
											  <!-- Team Mamber Name --> 
											  <div  class="form-group task-form-group">
												<label class="apm-landing-reg-label">Member Name</label>
												<select id="memselect" class="form-control apm-landing-textbox-reg apm-modal-textbox">
													<option>- Select -</option>
													{% for users in userslist %}
													<option  value= "{{ users.key.id }}"> {{ users.name }}</option>
													{%endfor%}
												</select>
											  </div>
											  
											  <!-- Team Mamber Role --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Role</label>
												<select id="memrole" class="form-control apm-landing-textbox-reg apm-modal-textbox">
													<option>- Select -</option>
													{% for role in roles %}
													<option  value= "{{ role.key.id }}"> {{ role.role }}</option>
													{%endfor%}
												</select>
											  </div>
											  
											
										</form>
										
								</div>	
								<div class="col-md-2">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="addmember">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Add Team Members Modal Ends -->
	
	
	<!-- Edit Team Members Starts -->
			<div id="edit-member-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Edit Team Member</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-2">
								</div>
								
								<div class="col-md-8">
										<form role="form" id="editmembers">
											  <!-- Team Mamber Name --> 
											  <div  class="form-group task-form-group">
												<label class="apm-landing-reg-label">Member Name</label>
												<select name="memsel"id="editmemselect" class="form-control apm-landing-textbox-reg apm-modal-textbox" disabled>
													
												</select>
											  </div>
											  
											  <!-- Team Mamber Role --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Role</label>
												<select id="editmemrole" class="form-control apm-landing-textbox-reg apm-modal-textbox">
													
													{% for role in roles %}
													<option  value= "{{ role.key.id }}"> {{ role.role }}</option>
													{%endfor%}
												</select>
											  </div>
											  
											
										</form>
										
								</div>	
								<div class="col-md-2">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="editmember">Edit</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Edit Team Members Modal Ends -->
	
	
	<!-- Add Estimation Timelines Starts -->
			<div id="add-estimation-timeline-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add Estimation Guidelines</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-2">
								</div>
								
								<div class="col-md-8">
										<form role="form">
											  <!-- Complexity --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Complexity</label>
												<input id="complexity" type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											  
											  <!-- Complexity Points --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Complexity Points</label>
												<input id="points" type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											  
											  <!-- Estimated Efforts --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Estimated Efforts</label>
												<input id="efforts" type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											
										</form>
										
								</div>	
								<div class="col-md-2">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="addestimates" >Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Add Estimation Timelines Modal Ends -->
	
	
	<!-- Edit Estimation Timelines Starts -->
			<div id="edit-estimation-timeline-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add Estimation Guidelines</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-2">
								</div>
								
								<div class="col-md-8">
										<form role="form">
											  <!-- Complexity --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Complexity</label>
												<input id="editcomplexity" type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											  
											  <!-- Complexity Points --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Complexity Points</label>
												<input id="editpoints" type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											  
											  <!-- Estimated Efforts --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Estimated Efforts</label>
												<input id="editefforts" type="text" class="form-control apm-landing-textbox-reg apm-modal-textbox">
											  </div>
											
										</form>
										
								</div>	
								<div class="col-md-2">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="editestimates" >Edit</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Edit Estimation Timelines Modal Ends -->
		
		<script src="/assets_new/js/jquery.js"></script>
		<script src="/assets_new/js/bootstrap.min.js"></script>
		<script src="/assets_new/js/side-menu.js"></script>
		<script src="/assets_new/js/bootstrap-datepicker.min.js"></script>
		<script src="/assets_new/js/main.js"></script>
		
		
		<script>
				$(document).ready(function(){
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					$('.datepicker').datepicker({
						format: 'dd/mm/yyyy',
						startDate: '0d'
					});
					
					
					$("#apm-addmember-btn").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					
					$(".apm-add-proj-edit").click(function(e) {
						
						
						var cells = [];
					
						   
						    $('td', $(this).closest('tr')).each(function() {
						        cells.push($(this).html());
						    });
						console.log("the value is"+cells[0])
						
						var optionsAsString = "<option value='" + $(this).closest('tr').attr('id') + "' selected>" + cells[0] + "</option>";
						$( 'select[name ="memsel"]' ).append( optionsAsString );
						
						var optionsAsString1 = "<option selected>" + cells[1] + "</option>";
						$( 'select[id ="editmemrole"]' ).append( optionsAsString1 );
						$('#edit-member-modal').modal('show');
					});
					
					
                  $(".apm-add-esti-edit").click(function(e) {
						
						    var cells = [];
					        var id = $(this).closest('tr').attr('id')
						   
						    $('td', $(this).closest('tr')).each(function() {
						        cells.push($(this).html());
						    });
						console.log("the value is"+cells[0])
						$('#editcomplexity').attr('name',id );
						$('#editcomplexity').val(cells[0]);
						$('#editpoints').val(cells[1]);
						$('#editefforts').val(cells[2]);
						
						$('#edit-estimation-timeline-modal').modal('show');
					});
					
					$("#apm-addmember-btn2").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addestimates-btn").click(function(e) {
						$('#add-estimation-timeline-modal').modal('show');
					});
					
					$("#submit").on("click",function(){
						
						 
						var ser = $("#prj").serialize();
						ser += "&projid" + "=" +{{ project.key.id }} 
					       
					$.post( "/project/editproj", ser)
			  		.done(function( data ) {
			  		
			  				console.log("the data is"+data);
			  				window.location.href = "/project/viewproject?proj_id="+data;
			  				
			  		
			  		});
					
					
				})
				
					$("#addmember").on("click",function(){
						
						var e = document.getElementById("memselect");
						var strUser = e.options[e.selectedIndex].value;
						console.log("the members are"+strUser)
						 
						var r = document.getElementById("memrole");
						var strRole = r.options[r.selectedIndex].text;
						console.log("the role are"+strRole) 
						
						var projid = {{ project.key.id }}
						console.log("the projid are"+projid) 
						
						var parameters = "role="+strRole+"&projid="+projid+"&userid="+strUser+""
					    console.log("the param are"+parameters);   
					$.post( "/project/addmembertoproj", parameters)
			  		.done(function( data ) {
			  			console.log("the data is"+data);
			  			var d = JSON.parse(data);
		                
			  			
			  			$("#memlist").append('<tr id='+d.id+'> <td>'+d.userName+'</td> <td>'+d.userRole+'</td> <td> <i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit"></i> <i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete"></i> </td> </tr>');
			  			
			  			
			  				
			  			
			  		}); 
					
					
				})
				
				
				$("#editmember").on("click",function(){
						
						var e = document.getElementById("editmemselect");
						var strUser = e.options[e.selectedIndex].value;
						console.log("the members are"+strUser)
						 
						var r = document.getElementById("editmemrole");
						var strRole = r.options[r.selectedIndex].text;
						console.log("the role are"+strRole) 
						
						var projid = {{ project.key.id }}
						console.log("the projid are"+projid) 
						
						var parameters = "role="+strRole+"&projid="+projid+"&userid="+strUser+""
					    console.log("the param are"+parameters);   
					$.post( "/project/editmembertoproj", parameters)
			  		.done(function( data ) {
			  			console.log("the data is"+data);
			  			var d = JSON.parse(data);
			  			
			  			$('#' +d.id).remove();
			  			$("#memlist").append('<tr id='+d.userid+'> <td>'+d.userName+'</td> <td>'+d.userRole+'</td> <td> <i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit"></i> <i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete"></i> </td> </tr>');
			  			
			  			
			  				
			  			
			  		}); 
					
					
				})
				
				
				$("#addestimates").on("click",function(){
						
						var e = document.getElementById("complexity");
						var strComplexity = e.value;
						console.log("the members are"+strComplexity)
						 
						var r = document.getElementById("points");
						var strPoints = r.value ;
						console.log("the role are"+strPoints) 
						
						var p = document.getElementById("efforts");
						var strEfforts = p.value;
						console.log("the role are"+strEfforts) 
						
						var projid = {{ project.key.id }}
						console.log("the projid are"+projid) 
						
						var parameters = "complexity="+strComplexity+"&projid="+projid+"&points="+strPoints+"&efforts="+strEfforts+""
					    console.log("the param are"+parameters);   
					$.post( "/project/addestimatetoproj", parameters)
			  		.done(function( data ) {
			  			console.log("the data is"+data);
		                var d = data ;
		                var esti = JSON.parse(data);
		                $('#' +d.id).remove();
		                $("#estilist").append('<tr id='+esti.id+'> <td>'+esti.estimationLevel+'</td> <td>'+esti.estimationPoint+'</td> <td>'+esti.estimationHours+'</td> <td> <i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit"></i> <i id="delestimate" class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete"></i> </td> </tr>');
			  				
			  			
			  		}); 
					
					
				})
				
				$("#editestimates").on("click",function(){
						
						var e = document.getElementById("editcomplexity");
						var strComplexity = e.value;
						var strId = e.name;
						console.log("the members are"+strComplexity)
						 
						var r = document.getElementById("editpoints");
						var strPoints = r.value ;
						console.log("the role are"+strPoints) 
						
						var p = document.getElementById("editefforts");
						var strEfforts = p.value;
						console.log("the role are"+strEfforts) 
						
						var projid = {{ project.key.id }}
						console.log("the projid are"+projid) 
						
						var parameters = "complexity="+strComplexity+"&projid="+projid+"&points="+strPoints+"&estid="+strId+"&efforts="+strEfforts+""
					    console.log("the param are"+parameters);   
					$.post( "/project/editestimatetoproj", parameters)
			  		.done(function( data ) {
			  			console.log("the data is"+data);
		                var d = data ;
		                var esti = JSON.parse(data);
		                $('#'+esti.id).remove();
		                $("#estilist").append('<tr id='+esti.id+'> <td>'+esti.estimationLevel+'</td> <td>'+esti.estimationPoint+'</td> <td>'+esti.estimationHours+'</td> <td> <i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit"></i> <i id="delestimate" class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete"></i> </td> </tr>');
			  				
			  			
			  		}); 
					
					
				})
				
					$(".apm-add-esti-delete").on("click",function(){
						
						console.log("comes here"); 
						var ser =  $(this).closest('tr').attr('id');
						console.log("comes here"+ser); 
						var parameters = "id="+ser+""
					$.post( "/project/deleteEstimate", parameters)
			  		.done(function( data ) {
			  			if (data =="success"){
			  				
			  				$("#"+ser).remove() ;
			  				
			  			} else {
			  				
			  				
			  			}
			  		});
					
					
				})
				
				$(".apm-add-proj-delete").on("click",function(){
						
						console.log("comes here"); 
						var ser =  $(this).closest('tr').attr('id');
						console.log("comes here"+ser); 
						var parameters = "id="+ser+""
					$.post( "/project/deleteMember", parameters)
			  		.done(function( data ) {
			  			if (data =="success"){
			  				
			  				$("#"+ser).remove() ;
			  				
			  			} else {
			  				
			  				
			  			}
			  		});
					
					
				})

				});
		</script>
</body>
</html>