{% extends "base.html" %}

{% block title %}User | Tasks {% endblock %}
		
{% block header_links%}
		
	<style>
		.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
			.apm-task-descr-list{
    line-height: 2.4em;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: -5px;
    margin-top: 30px;
    list-style-type: square;
}
		</style>
		
			
		<script>
				$(document).ready(function(){
				
				//alert(document.referrer);
				var str=document.referrer;

				var last_page_url =str.split("/")[3]
				if(last_page_url == 'sprint')
				{
					$("#back_to_task").prop("href", "/sprint");
					//$('.href_class').hide();
				}
				
					
				
				var default_status= $('#new_status').text().replace('Status:', '');
				if (default_status == 'Open')
				{
				 $('#status_dropdown').val( '0' );
				
				}
				else
				if (default_status == 'In Progress')
				{
					 $('#status_dropdown').val( '1' );
				}
				else
				if (default_status == 'Done')
				{
					 $('#status_dropdown').val( '2' );
					 $("#apm-task-add-timelog-modal #task_completed").prop( "checked", true );
				}
				else
					if (default_status == 'Deferred')
					{
						 $('#status_dropdown').val( '4' );
					}
				
				
				var task_key=$('#task_key').val();
				 
				 
				 
					$( "#status_dropdown" ).on("change",function() {
						
						var status =this.value;
						$.post( "/task/status",  {status: status,task_key: task_key},function( data ) {
							
							  //alert(data);
							if (data!="true"){
				  				alert("Status cannot be updated ");
				  				return false
				  			}  else {
				  				 $('#new_status').load('/mytasks/view?key={{task.key.urlsafe}} #new_status', function(result) {
					  				   
					  				});
				  					alert('Status changed successfully !!!');
				  				
				  				$("#apm-task-add-timelog-modal #task_completed").prop( "checked", true );
				  				
				  		}	
						
						});
					});
					
					
					
		/***********************time log validation starts******************************/
					
					var time_validator=   $("#time_log_form").validate({
						      rules: {
						    	  hours: 
						    	  {
						    		  number: true
						    	
						          },
						          minutes: 
						          {
						        	  number: true
							      }
							 
					   
						         },
						         messages: 
						         {
						        	 hours: 
						           {
						        		 number: "Please enter hours in numbers."
						           },
						           minutes: 
						           {
						        	   number: "Please enter minutes in numbers."
						           }
						         
						         }
						     });
					/***********************time log validation ends******************************/	
				
					
					
					/*$("#log_time_button").on("click",function(event){
						 if (!$('#time_log_form').valid()){
							    event.preventDefault();
							    event.stopImmediatePropagation();
							    return false;
						 }
						 else
							 {
								$.post( "/mytasks/view", $("#time_log_form").serialize())
						  		.done(function( data ) {
						  			if (data!="true"){
						  				alert("Something Went Wrong");
						  				return false
						  			} 
						  		})
							
						 	}		
								
						})*/
					
					
					
					
					//$("#details").hide();
					$(document).on("click",'#post_comment',function(e){
						 e.preventDefault();
						if($("#comment_form").val()!=""){
							 $('#post_comment').prop('disabled', true);
							
								$.post( "/mytasks/comment?key={{task.key.urlsafe}}", $("#comment_form"))
						  		.done(function( data ) {
						  			if (data!="true"){
						  				alert("Something Went Wrong");
						  				return false
						  			}  else {
						  				 $('#comments').load('/mytasks/view?key={{task.key.urlsafe}} #comments', function(result) {
							  				    //var variable = $('#edit_permissions').html();
						  					  $('#post_comment').prop('disabled', false);
							  				});
						  			}
						  		});
					}
							});
					
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					
					
						
						$('.datepicker').datepicker({
							format: 'dd/mm/yyyy',
							//startDate: '0d',
							autoclose:true
						});
						
						
						$(".apm-task-add-timelog-link").click(function(e) {
						
							/* if (default_status == 'Done')
							{
					  					  			
					  			  		$("#apm-task-add-timelog-modal #task_completed").prop( "checked", true );
					  			}
					  			else
					  			{
	  					  			
				  			  		$("#apm-task-add-timelog-modal #task_completed").prop( "checked", false );
				  				}  */
								$('#apm-task-add-timelog-modal').modal('show');
							
						});

						$('#task_completed').on('click', function () {
						    $(this).val(this.checked ? 1 : 0);
						    console.log($(this).val());
						});
						
						$('#billable').on('click', function () {
						    $(this).val(this.checked ? 1 : 0);
						    console.log($(this).val());
						});
				
						
						/* $("#log_time_button").on("click",function(){
							$.post( "/mytasks/view", $("#time_log_form").serialize())
					  		.done(function( data ) {
					  			if (data!="true"){
					  				alert("Something Went Wrong");
					  				return false
					  			} 
					  		})
						}); */
							

					
						$('#apm-task-add-timelog-modal').on('hidden.bs.modal', function(e)
							    { 
									$(this).removeData('bs.modal');
									$(this).find('form')[0].reset();
									//time_validator.resetForm();
									$('#success').load('/mytasks/view?key={{task.key.urlsafe}} #table1', function(result) {
						  				   console.log('updated');
						  				});
									 $('#new_status').load('/mytasks/view?key={{task.key.urlsafe}} #new_status', function(result) {
						  				   
						  				});
									/*  $('#apm-task-add-timelog-modal').load('/mytasks/view?key={{task.key.urlsafe}} #apm-task-add-timelog-modal', function(result) {
						  				   
						  				});  */
						  				
										
						  				
							  		
						  				
						  				
						  				
							    }) ;

						
						
						
						
					
				});
					
		</script>
		
{% endblock %}	
	


     
{%block content%}	
 
<!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Task / Issue Details</h2>
						
						
						<div class="dropdown apm-backlog-filter-dropdown" style="float: right;margin-top: -30px;">
							  <select id="status_dropdown" style="font-size: 13px;padding: 2px 12px;letter-spacing: 1px;">
  							
  								<option value="0">Open</option>
  								<option value="1">In Progress</option>
  								<option value="2">Done</option>
  								<option value="4">Deferred</option>
							</select>
							</div>
							
						
							<hr>							
													
					<!-- Main Task description content starts-->
							{%if task.status%}
					<!-- Task Details content starts-->
						<div class="row">
							<div class="col-md-8">
								<h3 class="apm-all-reports-taskname"><b>Task - </b> {{task.name}}</h3>
								
								<hr>
								
								<p class="apm-task-descr">
									{{task.description}} 
								</p>
								
							<!-- 	<div class="table-responsive">
									<table class="table table-bordered table-condensed apm-task-descr-table">
										<thead>
										  <tr>
											<th>Project</th>
											<th>Sprint</th>
											<th>Assigned To</th>
											<th>Estimated Hours</th>
											<th>Status</th>
										  </tr>
										</thead>
										<tbody>
										  <tr>
											<td>{{task.project.get.name}}</td>
											<td>{{task.sprint.get.name}}</td>
											<td>{{task.assignee.get.userName}}</td>	
											<td>{{task.actual_efforts}}</td>
											<td>{%for status in task.task_status%}{{status}}{%endfor%}</td>
										  </tr>
										</tbody>
									</table>
								</div> -->
								
								<ul class="apm-task-descr-list">
									<li><b>Project Name:</b>{{task.project.get.name}}</li>	
									<li><b>Sprint:</b> {{task.sprint.get.name}}</li>
									<li><b>Assigned To:</b> {{task.assignee.get.name}}</li>
									<li><b>Estimated Hours:</b>{{task.actual_efforts}}</li>
									<li id="new_status"><b>Status:</b>{{task.task_status}}</li>
									
								</ul>
								
						
							</div>	
						</div>
						{%endif%}	
					<!-- Task Details content ENDS -->
						
						<hr>
						
						
						<!-- Task Time Log content starts-->
							<h3 class="apm-all-reports-subheading">Time Logs</h3>
							
							
							{%if user_obj == task.assignee%}
						
							<p class="apm-task-timelog-para">

<!-- 								There are no time logs for this task - <a href="#" class="apm-task-add-timelog-link">Log Time for this task</a> -->
							<a href="/timelog/add?key={{task.key.urlsafe}}" data-toggle="modal" data-target="#apm-task-add-timelog-modal">Log Time for this task</a>
												
							</p>
							{%endif%}
							
							<div id="success">
						
							<div class="table-responsive" id="table1">
								<table class="table table-bordered table-condensed apm-task-descr-table" >
											<thead>
											  <tr>
												<th>Date</th>
												<th>Who</th>
												<th>Description</th>
												<th>Billable</th>
												<th>Time</th>
												<th>Action</th>
											  </tr>
											</thead>
											<tbody>
											
											{%for i in time_log%}
											{%if i.status%}
											
											  <tr>
												<td>{{i.today_date}}</td>
												<td>{{i.assigne_key.get.name}}</td>
												<td>{{i.description}}</td>
												<td>{%if i.billable%}
													Yes
													{%else%}
													No
													{%endif%}
												</td>
												<td>{%if i.hour %}{{i.hour}}{%else%}00{%endif%}:{%if i.minute %}{{i.minute}}{%else%}00{%endif%}</td>
												<td>
												{%if user_obj == task.assignee%}
												
												<a href="/timelog/edit?edit_key={{i.key.urlsafe}}" data-toggle="modal" data-target="#edit-timelog-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Time Log"  id="{{i.key.urlsafe}}"></a></i>
												
												{%endif%}
												<!-- <a href="/timelog/delete?delete_key={{i.key.urlsafe}}" data-toggle="modal" data-target="#delete-timelog-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Time Log"  id="{{i.key.urlsafe}}"></a></i>
											 -->
												</td>
											  </tr>
											  
											  {%endif%}
											 {%endfor%}
											
											</tbody>
								</table>
								
<!-- 								{%if user.name == task.assignee.get.name%} -->
<!-- 								<p class="apm-task-timelog-para"> -->
<!-- 								<a href="#" class="apm-task-add-timelog-link">Log More Time for this task</a> -->
<!-- 								<a href="/timelog/add" data-toggle="modal" data-target="#apm-task-add-timelog-modal" class="href_class">Log Time for this task</a> -->
<!-- 								</p> -->
<!-- 								{%endif%} -->
							</div>
							
							
							</div>
							
						<!-- Task Time Log content ENDS-->
						
						<hr>
						
						<!-- Task Comments content starts-->
							<h3 class="apm-all-reports-subheading">Comments</h3>
							
							<div class="row" id="comments">
								<div class="col-md-10">
									<!-- Textarea for Comment -->
									
									<div class="form-group">
										<textarea class="form-control apm-text-area" rows="3" placeholder="Add your comments here..." name="comment" id="comment_form"></textarea>
									</div>
									<br>
									<button id="post_comment">Comment</button>
									
									<!-- User's Comments -->
									
									<!-- Comment Row 1 -->
									
									{%for comment in task.comments|dictsortreversed:"created_date"%}
										<div class="row apm-comment-row">
										<h4 class="apm-comment-username">
											<img src="../assets_new/img/user-comment.png" style="width:32px;height:32px;margin-right: 8px;"> {{comment.created_by}} <span class="apm-comment-date-time-span">{{comment.created_date}}</span>
										</h4>
										
										<p class="apm-comment-content">
											{{comment.comment}} 	
										</p>
									</div>
									
									<hr>
										
									{%endfor%}
									
									
								</div>
							</div>
							
						<!-- Task Comments content ENDs-->
						 <input type="hidden" id="task_key" name="task_key" value="{{task.key.urlsafe}}">
						<hr>
						
						<div class="apm-back-task-box">
							<a href="/mytasks" class="apm-backbtn-pro-details" id="back_to_task">
							<i class="fa fa-reply" aria-hidden="true"></i> Back to Tasks</a>
						</div>
					<!-- Main Task description content ENDS-->
						
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        
<!-- add timelog  Modal Starts -->
<div id="apm-task-add-timelog-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				 
				</div>

			  </div>
			</div>
	<!--add timelog Modal Ends -->		
        
<!-- <div id="apm-task-add-timelog-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				Modal content
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Log Time</h4>
				  </div>
				   
				  <form id="time_log_form" action="/mytasks/view" method="post">
					<div class="modal-body user-management-body">
							
							<div class="row apm-logtime-modal-row">
								<div class="col-md-12">
									<label class="apm-logtime-task-label">Task : {{task.name}}</label>
								</div>
							</div>
							
							<hr class="apm-logtime-separator">
							
							<div class="row apm-logtime-modal-row">
								<div class="col-md-4">
									<div class="form-group">
										<label class="apm-logtime-modal-label">Date</label>
										<input type="text" class="form-control apm-landing-textbox-reg datepicker" id="date" name="date" readonly="true">
										<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
									</div>
								</div>
							
								<div class="col-md-4">
									<div class="form-group">
										<label class="apm-logtime-modal-label">Time Spent</label>
										<br>
										<input type="number" class="apm-landing-textbox-reg hour-text" placeholder="hours" id="hours" name="hours" >
										<input type="number" class="apm-landing-textbox-reg min-text" placeholder="minutes" id="minutes" name="minutes" >
									</div>
								</div>	

								<div class="col-md-4">
									<div class="checkbox billable-check">
									  <label class="apm-logtime-modal-label"><input type="checkbox" value="" name="billable" id="billable">Billable?</label>
									</div>
								</div>		
							</div>
							
							<div class="row apm-logtime-modal-row">
								<div class="col-md-12">
									<div class="form-group">
										<label class="apm-logtime-modal-label">Description</label>
										<textarea class="form-control apm-text-area" rows="3" id="description" name="description"></textarea>
									</div>
								</div>
							</div>
							
							<div class="row apm-logtime-modal-row">
								<div class="col-md-4">
									<div class="checkbox">
									  <label class="apm-logtime-modal-label"><input type="checkbox" value="" id="task_completed" name="task_completed" {%if status == 'Done'%}checked{%endif%}>Task is now complete</label>
									</div>
								</div>		
							</div>
							
				  </div>
				 <input type="hidden" id="task_key" name="task_key" value="{{task.key.urlsafe}}">
				 <input type="hidden" id="sprint_key" name="sprint_key" value="{{task.key.get.sprint.urlsafe}}">
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="log_time_button">Log Time</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				  </form>
				</div>

			  </div>
			</div> -->
	<!-- Add Time Logs Modal Ends -->
  
			<!--Edit Modal Starts -->
			<div id="edit-timelog-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				</div>

			  </div>
			</div>
	<!-- edit Modal Ends -->
	
	<!-- delete Modal Starts -->
			<div id="delete-timelog-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				 
				</div>

			  </div>
			</div>
	<!--delete Modal Ends -->
	
	{%endblock%}
	
