{% extends "base.html" %}
{% block title%}Admin - User Management {% endblock %}


{% block header_links%}
		<script>
				$(document).ready(function(){
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					$('.datepicker').datepicker({
						format: 'dd/mm/yyyy',
						startDate: '0d'
					});
					
					
					$("#apm-addmember-btn").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addmember-btn2").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addestimates-btn").click(function(e) {
						$('#add-estimation-timeline-modal').modal('show');
					});
					$("#add-user").click(function(e) {
						$('#add-user-modal').modal('show');
					});
				
				// harshit 
				
					$("#add_user").click(function(){
						
						
						$.post( "/admin/usermanagment", $("#user_form").serialize())
					  		.done(function( data ) {
					  			if (data!="true"){
					  				alert(data);
					  				return false;
					  			} else {
					  				alert("A verification mail has been sent to the user's email id");
					  			}
					  	});
						
					});
					$('#add-user-modal').on('hidden.bs.modal', function(e)
							{ 
								$(this).removeData();
								$('.table').load('/admin/usermanagment .table', function(result) {
				  				    var variable = $('#edit_permissions').html();
				  				});
					    	}) ;
				});
		</script>
{% endblock %}			
{% block content %}	
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Admin - User Management</h2>
						
						<div class="row">
								<div class="col-lg-11">
									<div class="apm-listing-add-proj-box apm-listing-add-user-box">
										<button class="apm-listing-add-proj-btn pro-button" id="add-user">Add User</button>
									</div>
								</div>
						</div>
							
						<hr>
							
						
							<div class="row">
								<div class="col-md-11">
									<div class="">
											<!-- Search User Field 
											<div class="search-field-box search-field-box-admin">
												<i class="fa fa-search search-icon search-icon-admin"></i>
												<input type="text" class="search-field project-management-textbox search-field-admin-textbox" placeholder="Search a user...">
											</div>
											 Search User Field Ends -->
											
											<div class="table-responsive apm-admin-permission-table">
												<table class="table table-bordered apm-member-listing-table apm-all-proj-table">
													<thead>
														<tr>
														<th></th>
														<th>First Name</th>
														<th>Last Name</th>
														<th>Email</th>
														<th>Designation</th>
														<th>Contact No.</th>
														<th>Employee ID</th>
														<th>Role</th>
														<th>Verified</th>
														<th>Action</th>
															
															
														</tr>
													</thead>
													<tbody>
													{%for user1 in user1%}
													  <tr>
														<td><i class="fa fa-user"></i></td>
														<td>{{user1.name}}</td>
														<td>{{user1.last_name}}</td>
														<td>{{user1.email_address}}</td>
														<td>{{user1.designation}}</td>
														<td>{{user1.contact}}</td>
														<td>{{user1.empid}}</td>
														<td class="roll-td"><i>{{user1.role.get.role}}</i></td>
														<td>{% if user1.verified%}Yes{%else%} No <a href="#" id="{{user1.key.urlsafe}}" class="verify">Verify</a> {%endif%}</td>
														<td><a href="/admin/edit?edit_key={{user1.key.urlsafe}}" data-toggle="modal" data-target="#edit-user-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit User"  id="{{user1.key.urlsafe}}"></i></a>
														<a href="/admin/deleteuser?delete_key={{user1.key.urlsafe}}" data-toggle="modal" data-target="#delete-user-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete User"  id="{{user1.key.urlsafe}}"></i></a></td>
		
													  </tr>
													{%endfor%} 
														
													</tbody>
												</table>
											</div>
									</div>
								</div>
								<div class="col-md-1">
									
								</div>
								
							</div>		
							
							<button class="apm-listing-add-proj-btn pro-button">Submit</button>
					</div> <!-- .col-lg-12 ends -->
						
                    </div> <!-- .row ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
		<!--Edit Modal Starts -->
			<div id="edit-user-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				</div>

			  </div>
			</div>
	<!-- edit Modal Ends -->
	
	<!-- delete Modal Starts -->
			<div id="delete-user-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				 
				</div>

			  </div>
			</div>
	<!--delete Modal Ends -->
	
	
	
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
{%endblock%}