{% extends "base.html" %}
{% block title%}Admin - User Management {% endblock %}


{% block header_links%}
<style>
.error{
			color:red;
			}
</style>


		<script>
				$(document).ready(function(){
					
					/*******************add user validation starts************************/	
					var user_validator=   $("#user_form").validate({
						      rules: {
						    	  email: 
						    	  {
						           		 required: true,
						           		 email: true
						          },
						          emp_id: 
						          {
							      		 required: true
							      },
							      first_name: 
							      {
								  		 required: true
						          },
						          last_name: 
						          {
										 required: true
										
								  },
								  designation: 
								  {
										 required: true
										
									
								  },
								 /*  contact_no:
									  {
									  required: true
									  }, */
								  role :
									  {
									  required:true
									  }
					   
					   
						         },
						         messages: 
						         {
						        	 email: 
						           {
						             required: "Please enter email address.",
						             email:"Please enter valid email address."
						           },
						           emp_id: 
						           {
						             required: "Please enter employee id."
						           },
						           first_name:
						           {
							             required: "Please enter first name."
							       },
							       last_name:
							       {
							             required: "Please enter last name."
							            
							       },
							       designation: 
							       {
							             required: "Please enter designation."
							       },
							     /*   contact_no:
							    	   {
							    	   required: "Please enter contact number."
							    	   }, */
							       role :
							    	   {
							    	   
							    	   required:"Please select a role"
							    	   }
						           
						         }
						     });
					
					/*******************add user validation ends************************/	
					
					
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					$('.datepicker').datepicker({
						format: 'dd/mm/yyyy',
						startDate: '0d'
					});
					
					
					$("#apm-addmember-btn").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addmember-btn2").click(function(e) {
						$('#add-member-modal').modal('show');
					});
					$("#apm-addestimates-btn").click(function(e) {
						$('#add-estimation-timeline-modal').modal('show');
					});
					$("#add-user").click(function(e) {
						$('#add-user-modal').modal('show');
					});
				
				
					
				// harshit 
					$(document).on("click",".verify",function(){
			key = $(this).attr("id");
				$.post("/admin/verify?key_user="+key)
		  		.done(function( data ) {
		  			if (data.indexOf('true')){
		  				alert("Something Went Wrong");
		  				return false
		  			} else {
		  				alert("User is verified. Password for the user is: '"+data.replace("true", "")+"'")
		  				$(".verify#"+key).parent().html();
	  					$(".verify#"+key).parent().html("Yes");
	  					
		  				
		  			}
		  		})
			})
				
			/*******************************************************************/
			
			
				$("#add_user").click(function(){
					 if (!$('#user_form').valid()){
							    event.preventDefault();
							    event.stopImmediatePropagation();
							    return false;
						 }
						 else
							 {
								$.post( "/admin/usermanagment", $("#user_form").serialize())
						  		.done(function( data ) {
						  			if (data!="true"){
						  				alert(data);
						  				return false;
						  			} else {
						  				alert("A verification mail has been sent to the user's email id");
						  			
						  			}
						  	});
							
							
						 	}		
								
						})
			
			
			
			
			/*******************************************************************/
			
			
				
				
					$('#add-user-modal').on('hidden.bs.modal', function(e)
							{ 
								$(this).removeData();
								$(this).find('form')[0].reset();
								user_validator.resetForm();
								$('.table').load('/admin/usermanagment .table', function(result) {
				  				  //  var variable = $('#edit_permissions').html();
				  				});
					    	}) ;
				});
		</script>
{% endblock %}			
{% block content %}	
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Admin - User Management</h2>
						
						<div class="row">
								<div class="col-lg-11">
									<div class="apm-listing-add-proj-box apm-listing-add-user-box">
										<button class="apm-listing-add-proj-btn pro-button" id="add-user">Add User</button>
									</div>
								</div>
						</div>
							
						<hr>
							
						
							<div class="row">
								<div class="col-md-11">
									<div class="">
											<!-- Search User Field 
											<div class="search-field-box search-field-box-admin">
												<i class="fa fa-search search-icon search-icon-admin"></i>
												<input type="text" class="search-field project-management-textbox search-field-admin-textbox" placeholder="Search a user...">
											</div>
											 Search User Field Ends -->
											
											<div class="table-responsive apm-admin-permission-table">
												<table class="table table-bordered apm-member-listing-table apm-all-proj-table">
													<thead>
														<tr>
														<th></th>
														<th>First Name</th>
														<th>Last Name</th>
														<th>Email</th>
														<th>Designation</th>
														<th>Contact No.</th>
														<th>Employee ID</th>
														<th>Role</th>
														<th>Status</th>
														<th>Verified</th>
														<th>Action</th>
															
															
														</tr>
													</thead>
													<tbody>
													{%for user1 in user1%}
													
													  <tr >
														<td><i class="fa fa-user"></i></td>
														<td>{{user1.name}}</td>
														<td>{{user1.last_name}}</td>
														<td>{{user1.email_address}}</td>
														<td>{{user1.designation}}</td>
														<td>{{user1.contact}}</td>
														<td>{{user1.empid}}</td>
														<td class="roll-td"><i>{{user1.role.get.role}}</i></td>
														<td>{%if user1.status%}Active{%else%}Deactivated{%endif%}</td>
														<td>{% if user1.verified%}Yes{%else%} No <a href="#" id="{{user1.key.urlsafe}}" class="verify">Verify</a> {%endif%}</td>
														<td>{%if user1.email_address != user.email_address%}
														
														<a href="/admin/edit?edit_key={{user1.key.urlsafe}}" data-toggle="modal" data-target="#edit-user-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit User"  id="{{user1.key.urlsafe}}"></i></a>
														<a href="/admin/deleteuser?delete_key={{user1.key.urlsafe}}" data-toggle="modal" data-target="#delete-user-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete User"  id="{{user1.key.urlsafe}}"></i></a>
														
														{%endif%}
														</td>
		
													  </tr>
													 
													{%endfor%} 
														
													</tbody>
												</table>
											</div>
									</div>
								</div>
								<div class="col-md-1">
									
								</div>
								
							</div>		
							
							
					</div> <!-- .col-lg-12 ends -->
						
                    </div> <!-- .row ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
		<!-- Add User Modal Starts -->
			<div id="add-user-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add New User</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								<div class="col-md-10">
										<form role="form" id="user_form">
										<!-- Email --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Email</label>
												<input type="text" class="form-control add-task-textbox apm-modal-textbox" name="email">
											  </div>
											  <!-- Employee ID --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Employee ID</label>
												<input type="text" class="form-control add-task-textbox apm-modal-textbox" name="emp_id">
											  </div>
											  
											  
											  
											  <div class="row">
												  <div class="col-sm-6">
													  <!-- First Name --> 
													  <div class="form-group task-form-group">
														<label class="task-label">First Name</label>
														<input type="text" class="form-control add-task-textbox apm-modal-textbox" name="first_name">
													  </div>
												  </div>
												  
												  <div class="col-sm-6">
													  <!-- Last Name --> 
													  <div class="form-group task-form-group">
														<label class="task-label">Last Name</label>
														<input type="text" class="form-control add-task-textbox apm-modal-textbox" name="last_name">
													  </div>
												  </div>
											  </div>
											  
											  <div class="row">
												  <div class="col-sm-6">
													  <!-- Designation --> 
													  <div class="form-group task-form-group">
														<label class="task-label">Designation</label>
														<input type="text" class="form-control add-task-textbox apm-modal-textbox" name="designation">
													  </div>
												  </div>
												  
												  <div class="col-sm-6">
													  <!-- Contact No --> 
													  <div class="form-group task-form-group">
														<label class="task-label">Contact No.</label>
														<input type="text" class="form-control add-task-textbox apm-modal-textbox" name="contact_no">
													  </div>
												  </div>
											  </div>
											  
											  <!-- Permissions/Role --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Role</label>
												<select class="form-control add-task-textbox apm-modal-textbox" name="role">

												{% for admin in admin %}
													
													<option value="{{admin.key.urlsafe}}">{{admin.role}}</option>
												
												{% endfor %}
												{% for role in roles %}
													{%if role.status%}
													<option value="{{role.key.urlsafe}}">{{role.role}}</option>
													{%endif%}
												{% endfor %}
													
												</select>
											  </div>
											  
											   <div class="form-group task-form-group">
												<label class="task-label">Project Creation Privilege</label>
												<select class="form-control add-task-textbox apm-modal-textbox" name="proj">
													
													<option value="True"> Yes </option>
													<option value="False"> No </option>
													
												</select>
											  </div>
											  
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" name="add_user" id="add_user" value="Add">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Add User Modal Ends -->
		<!--Edit Modal Starts -->
			<div id="edit-user-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				</div>

			  </div>
			</div>
	<!-- edit Modal Ends -->
	
	<!-- delete Modal Starts -->
			<div id="delete-user-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				 
				</div>

			  </div>
			</div>
	<!--delete Modal Ends -->
	
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->	
{%endblock%}