<!DOCTYPE html>
<html lang="en">
<head>
		<title>APM - page not found</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="/assets_new/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets_new/css/style.css">
		<link rel="stylesheet" href="/assets_new/css/sidebar.css">
		<link rel="stylesheet" href="/assets_new/css/button.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		
	</head>
<body class="apm-landing-body">
    
	<section class="top-404-section">
		
			<div class="landing-top-left-box">
				<img src="assets/img/eternus.png">
			</div>
		
		
	</section>
	
	<section class="top-404-section-box">
		<h2 class="top-404-section-main-heading"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 404</h2>
		<h3 class="top-404-section-sub-heading">Sorry...the page you requested could not be found...</h3>
		<div class="top-404-back-btn-box">
			<a href="/"><button class="top-404-back-btn">Back To Site</button></a>
		</div>
	</section>
	
	
	
	
	<script src="/assets_new/js/jquery.js"></script>
	<script src="/assets_new/js/bootstrap.min.js"></script>
	<script src="/assets_new/js/side-menu.js"></script>
	
	<script>
			$(document).ready(function(){
				
			});
	</script>
</body>
</html>