<!DOCTYPE html>
<html lang="en">
<head>
		<title>APM - Eternus Solutions Pvt. Ltd.</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="stylesheet" href="../assets_new/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets_new/css/style.css">
		<link rel="stylesheet" href="../assets_new/css/sidebar.css">
		<link rel="stylesheet" href="../assets_new/css/button.css">
		<link rel="stylesheet" href="../assets_new/css/alert.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="../assets_new/js/jquery.js"></script>
		<script src="../assets_new/js/bootstrap.min.js"></script>
		<script src="../assets_new/js/side-menu.js"></script>
	
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		
		<script src="../assets_new/js/jquery.validate.min.js"></script>
<!-- 		<script src="../assets_new/js/alert.js"></script> -->
		<style>
			.error{
			color:red !important;
			}
			
			#submit_form:focus{
			border: 5px;
			}
			
		</style>
		<script>

$(document).ready(function() {

	


	a = "{{login_attempt}}"
	if (a == "failed"){
		$(".apm-alert-box").show();
		//alert("Login Failed !! Please check username and password");
		$(".apm-alert-box").fadeTo(2000, 800).slideUp(600, function(){});
	}
		
	
	$('input:text:first').focus();
	
	 var result =  validSubdomain();
	 
	$("#submit_form").on("click",function(e){
		
		 if ($('#signup_user').valid()){
			 e.preventDefault();
			if(validSubdomain() == 1)
			{
			 
				$.post( "/signupuser", $("#signup_user").serialize()).done(function( data ) {
					da =data.split("*%*")
					console.log(da)
					$('#submit_form').prop('disabled', true);
		  			if (da[0]!="true"){
		  				alert(data);
		  				return false;
		  			} else {
		  				alert("You are succesfully registered.Please check your mail.");
		  				//window.location.href = da[1];
		  				window.location.href = "/";
		  				
		  			}
		  		});
				return false;
			} 
			else
				{
				alert("Please remove all the errors and then proceed.");
				}
		 }
			
				
		})
	/*$("#btnLgn").on("click",function(e){
		 $.ajax({
            type: "post",
            url: "/loginhome",
            data: $("#login_form").serialize(),
            crossDomain: true,
            success: function(data) {
                if (data=="False")
                	alert('Login Failed !!! CHeck User Name and Password');
            }
        })
	});*/ 
	
	/* $("#submit_form").on("click",function(e){
		e.preventDefault();
		$.post( "/signupuser", $("#signup_user").serialize()).done(function( data ) {
			da =data.split("*%*")
			console.log(da)
  			if (da[0]!="true"){
  				alert(data);
  				return false;
  			} else {
  				alert("You are succesfully registered");
  				window.location.href = da[1];
  				
  			}
  		});
		return false;
	}); */
	
			
			
			$("#login_form").validate({
				  rules: {
					  username: {
				      required: true,
				      email: true
				    },
				    
				    password:{
				    	required:true
				    	
				    }
				    
				  },
				  messages: {
					  username: {
						  required: "Please enter email address.",
						  email:"Please enter a correct email address."
				    
				    },
				    password:{
					  required:"Please enter password."
				  }
				 
				  }
				});	
	
			$("#signup_user").validate({
				  rules: {
					  company_name: {
				      required: true,
				      maxlength:30
				    },
				    
				    company_domain:{
				    	required:true,
				    	maxlength: 30
				    	
				    },
				    
				    email: {
					      required: true,
					      email: true
					    }
					    
				    
				  },
				  messages: {
					  company_name: {
						  required: "Please enter company name.",
						  maxlength:"Only 30 characters are allowed."
						  
				    },
				    company_domain:{
					  required:"Please enter company domain.",
					  maxlength:"Only 30 characters are allowed."
				  },
				  email: {
					  required: "Please enter email address.",
					  email:"Please enter a correct email address."
			    
			    }
				 
				  }
				});	
		
			
				$("#checkdomain").click(function(){
					if(validSubdomain() == 1)
					{
						$.post( "/checkdomain", $("#signup_user").serialize())
			  			.done(function( data ) {
			  			$(".success-dom-name").text(data)
			  			});
					}
					
				});
			
			
			
			$("#domain_name").blur(function(){
				if(validSubdomain() == 1)
				{
					$.post( "/checkdomain", $("#signup_user").serialize())
				  		.done(function( data ) {
				  			$(".success-dom-name").text(data)
				  			
				  	});
				} 
			}); 
			
		
		
});
function validSubdomain() {
    var re = /[^a-z0-9\-]/;
    var val = document.getElementById("domain_name").value;
    if(re.test(val)) {
   
        $('#sub-domain-error').html("Please enter valid sub-domain(No capital letter & no speacial character).")
        return 0;
    }
    else
    	{
    	$('#sub-domain-error').html("");
    	return 1;
    	}
}
		</script>
		
		<style>
		  .apm-landing-logo-center{
		   		text-align:center;
		  }
		  .apm-landing-logo-center img{
		   		width:150px;
		  }
		  
		 </style>
	
	</head>
<body class="apm-landing-body">
		<!-- ALERT BOX - Insert this code just below the body tag -->
	<div class="alert alert-info apm-alert-box">
	  <a href="#" class="close alert-close" data-dismiss="alert" aria-label="close">&times;</a>
		Login Failed !!! Please check credentials and try again.
	</div>
<!-- ALERT BOX ENDS -->
	<section class="landing-top-section">
		
			<div class="landing-top-left-box">
				<img src="../assets_new/img/eternus2.png">
			</div>
		
		
			<div class="landing-top-right-box">
				<form class="form-inline" role="form" id="login_form" method="post" action="/loginhome">
				  <div class="form-group apm-landing-form-grp">
					<label for="email">E-Mail</label>
					<input type="email" class="form-control apm-landing-textbox" name="username" >
				  </div>
				  <div class="form-group apm-landing-form-grp">
					<label for="pwd">Password</label>
					<input type="password" class="form-control apm-landing-textbox" name="password">
				  </div>
				 
				  <button type="submit" id="btnLgn" class="apm-landing-login-btn">Login</button>
				
				  <!-- Forgot Password Link -->
				  <a href="/forgot" title="Forgot Password?"><i class="fa fa-question-circle apm-landing-forgt-pass-link"></i></a>
				   </form>
				
			</div>
		
	</section>
	
	<section class="apm-landing-middle-box">
		
			<div class="apm-landing-logo-center">
		   		<img src="../assets_new/img/logo-black.png">
		    </div>
		
		<p class="apm-landing-para">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
		</p>	
	
		<div class="container apm-landing-container">
			
			<!-- Left Box -->
			<div class="col-md-6 apm-landing-left-box">
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8">
						<img src="../assets_new/img/pro.png" class="img-responsive">
					</div>	
					<div class="col-md-2">
					</div>
				</div>
				<h3 class="apm-left-img-heading">Get lots more with APM...</h3>
			</div>
			<!-- Left Box ENDS -->
			
			<!-- Right Box -->
			<div class="col-md-6 apm-landing-right-box">
				<div class="row">
					<div class="col-md-2 col-sm-2">
					</div>
					<div class="col-md-8 col-sm-8">
						<h4 class="apm-landing-reg-comp-label">Register Your Company</h4>
					
						<form role="form" id="signup_user">
						
						  <div class="form-group">
							<label class="apm-landing-reg-label">Company Name<font color="red">*</font></label>
							<input type="text" class="form-control apm-landing-textbox-reg" name="company_name">
						  </div>
						  <div class="form-group">
							<label class="apm-landing-reg-label">Sub-domain Name<font color="red">*</font></label>
							<input id ='domain_name' type="text" class="form-control apm-landing-textbox-reg" name="company_domain" onblur="validSubdomain()" >
							<a href="#" class="apm-landing-reg-label" style="color: #337ab7;" id="checkdomain">Check Availability</a> : 
							<span class="success-dom-name"></span>
							<div class="error" id="sub-domain-error"></div>
						  </div>
						  <div class="form-group">
							<label class="apm-landing-reg-label">Email Address<font color="red">*</font></label>
							<input type="text" class="form-control apm-landing-textbox-reg" name="email">
						  </div>
						  
						   {% for role in roles %}
								<input type="hidden" value="{{role.key.urlsafe}}" name="role">
						   {%endfor%}
						  
						  <button  class="apm-landing-reg-btn" id="submit_form">Register</button>
						</form>
					</div>	
					<div class="col-md-2 col-sm-2">
					</div>
				</div>
				
			</div>
			<!-- Right Box ENDS -->
			
		</div>
	</section>
	
		
	
	
	
</body>
</html>

