<!DOCTYPE html>
<html lang="en">
<head>
		<title>APM - Eternus Solutions Pvt. Ltd.</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="stylesheet" href="../assets_new/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets_new/css/style.css">
		<link rel="stylesheet" href="../assets_new/css/sidebar.css">
		<link rel="stylesheet" href="../assets_new/css/button.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="../assets_new/js/jquery.js"></script>
		<script src="../assets_new/js/bootstrap.min.js"></script>
		<script src="../assets_new/js/side-menu.js"></script>
	
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="../assets_new/js/jquery.validate.min.js"></script>
		<script>
		
$(document).ready(function() {
	$("#submit_form").on("click",function(e){
		e.preventDefault();
		$.post( "/signupuser", $("#signup_user").serialize()).done(function( data ) {
			da =data.split("*%*")
			console.log(da)
  			if (da[0]!="true"){
  				alert(data);
  				return false;
  			} else {
  				alert("You are succesfully registered");
  				window.location.href = da[1];
  				
  			}
  		});
		return false;
	});
	
			
			
			$("#login_form").validate({
				  rules: {
					  username: {
				      required: true,
				      email: true
				    },
				    
				    password:{
				    	required:true
				    	
				    }
				    
				  },
				  messages: {
					  username: {
						  required: "Please enter email id"
				    
				    },
				    password:{
					  required:"Please enter password"
				  }
				 
				  }
				});	
	
			
			
			$("#checkdomain").click(function(){
				$.post( "/checkdomain", $("#signup_user").serialize())
			  		.done(function( data ) {
			  			$(".success-dom-name").text(data)
			  	});
			});
				$("#domain_name").blur(function(){
					$.post( "/checkdomain", $("#signup_user").serialize())
				  		.done(function( data ) {
				  			$(".success-dom-name").text(data)
				  			
				  	});
			});
			
		
});
		
		</script>
		
		<style>
		  .apm-landing-logo-center{
		   		text-align:center;
		  }
		  .apm-landing-logo-center img{
		   		width:150px;
		  }
		  
		 </style>
	
	</head>
<body class="apm-landing-body">
    
	<section class="landing-top-section">
		
			<div class="landing-top-left-box">
				<img src="../assets_new/img/eternus2.png">
			</div>
		
		
			<div class="landing-top-right-box">
				<form class="form-inline" role="form" id="login_form" method="post" action="/login" >
				  <div class="form-group apm-landing-form-grp">
					<label for="email">E-Mail</label>
					<input type="email" class="form-control apm-landing-textbox" name="username" >
				  </div>
				  <div class="form-group apm-landing-form-grp">
					<label for="pwd">Password</label>
					<input type="password" class="form-control apm-landing-textbox" name="password">
				  </div>
				 
				  <button type="submit" class="apm-landing-login-btn">Login</button>
				
				  <!-- Forgot Password Link -->
				  <a href="/forgot" title="Forgot Password?"><i class="fa fa-question-circle apm-landing-forgt-pass-link"></i></a>
				   </form>
				
			</div>
		
	</section>
	
	<section class="apm-landing-middle-box">
		
			<div class="apm-landing-logo-center">
		   		<img src="../assets_new/img/logo-black.png">
		    </div>
		
		<p class="apm-landing-para">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
		</p>	
	
		<div class="container apm-landing-container">
			
			<!-- Left Box -->
			<div class="col-md-6 apm-landing-left-box">
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8">
						<img src="../assets_new/img/pro.png" class="img-responsive">
					</div>	
					<div class="col-md-2">
					</div>
				</div>
				<h3 class="apm-left-img-heading">Get lots more with APM...</h3>
			</div>
			<!-- Left Box ENDS -->
			
			<!-- Right Box -->
			<div class="col-md-6 apm-landing-right-box">
				<div class="row">
					<div class="col-md-2 col-sm-2">
					</div>
					<div class="col-md-8 col-sm-8">
						<h4 class="apm-landing-reg-comp-label">Register Your Company</h4>
					
						<form role="form" id="signup_user">
						
						  <div class="form-group">
							<label class="apm-landing-reg-label">Company Name</label>
							<input type="text" class="form-control apm-landing-textbox-reg" name="company_name">
						  </div>
						  <div class="form-group">
							<label class="apm-landing-reg-label">Sub-domain Name</label>
							<input id ='domain_name' type="text" class="form-control apm-landing-textbox-reg" name="company_domain">
							<a href="#" class="apm-landing-reg-label" style="color: #337ab7;" id="checkdomain">Check Availability</a> : 
							<span class="success-dom-name"></span>
						  </div>
						  <div class="form-group">
							<label class="apm-landing-reg-label">Email Address</label>
							<input type="text" class="form-control apm-landing-textbox-reg" name="email">
						  </div>
						  
						   {% for role in roles %}
								<input type="hidden" value="{{role.key.urlsafe}}" name="role">
						   {%endfor%}
						  
						  <button  class="apm-landing-reg-btn" id="submit_form">Register</button>
						</form>
					</div>	
					<div class="col-md-2 col-sm-2">
					</div>
				</div>
				
			</div>
			<!-- Right Box ENDS -->
			
		</div>
	</section>
	
		
	
	
	
</body>
</html>

