<html>
	<head>
		<title>Login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/sidebar-test.css">
		<link rel="stylesheet" href="css/button.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/nice-scroll.js"></script>
		<script src="js/button.js"></script>
		
		<script>
		
		$(document).ready(function() {
		
			
		});
		
		</script>
	
	
	</head>
	
	<body>
		<div id="wrapper">
	
		
		
	<!-- Page Content -->
       <div id="page-content-wrapper">
		
						
						
						<section class="top-main-section">
							 <!-- Static navbar -->
							  <nav class="navbar navbar-default navbar-pro-management">
								<div class="container-fluid">
								  <div class="navbar-header">
									
									<a class="navbar-brand" href="#">
										
										<img src="img/eternus.png" class="logo-img">
									</a>
								  </div>
								  
								</div><!--/.container-fluid -->
							  </nav>

						</section>	
					
						<!-- Main Page content starts -->	
						
						<div class="container login-container">
							<div class="col-md-3">
							</div>
							<div class="col-md-6">
								<div class="panel panel-default login-panel">
									<div class="panel-heading main-box-panel-heading login-panel-heading red-panel-heading">
										Login
									</div>
									<div class="panel-body login-panel-body">
										<div class="col-md-1">
										</div>
										
										<div class="col-md-10">
												<!-- Username -->
												<i class="fa fa-user login-user-icon"></i><input type="text" class="form-control search-field project-management-textbox login-textbox" placeholder="Username">
												
												<!-- Password -->
												<i class="fa fa-lock login-lock-icon"></i><input type="text" class="form-control search-field project-management-textbox login-textbox" placeholder="Password">
												
												
												<button class="login-btn pro-button">Login</button>
												
												<!-- Forgot Password -->
												<div class="forget-pass-div">
													<a href="#">Forgot Password?</a>
												</div>
										
										</div>
										
										<div class="col-md-1">
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-md-3">
							</div>
						</div>
						
						<!-- Main Page content ENDS -->	
						
		</div> <!-- Page content Wrapper ends -->		
	</div> <!-- Wrapper ends -->	
	</body>
</html>