<html>
	<head>
		<title>Permissions</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/sidebar-test.css">
		<link rel="stylesheet" href="css/button.css">
		<link rel="stylesheet" href="css/checkbox.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/nice-scroll.js"></script>
		<script src="js/button.js"></script>
		
		<script>
		
		$(document).ready(function() {
			$("#one").click(function(e) {
				/*if($(this).is( ":checked" ) == false){
					$(this).parent().siblings().find('[type=checkbox]').attr('checked','false');
				}
				if ($(this).is( ":checked" ) == true) {
					$(this).parent().siblings().find('[type=checkbox]').attr('checked','true');
				} 
				*/
				
			});
			
			
		});
		
		</script>
	
	
	</head>
	
	<body>
		<div id="wrapper">
	
		
		
	<!-- Page Content -->
       <div id="page-content-wrapper">
		
						
						<section class="top-main-section">
							 <!-- Static navbar -->
							  <nav class="navbar navbar-default navbar-pro-management">
								<div class="container-fluid">
								  <div class="navbar-header">
									
									<a class="navbar-brand" href="#">
										
										<img src="img/eternus.png" class="logo-img">
									</a>
								  </div>
								  
								</div><!--/.container-fluid -->
							  </nav>

						</section>	
					
						<!-- Main Page content starts -->	
						
						<div class="container permissions-container">
							
							<div class="col-md-12">
								<div class="panel panel-default login-panel">
									<div class="panel-heading main-box-panel-heading login-panel-heading red-panel-heading">
										Permissions
									</div>
									<div class="panel-body login-panel-body">
										<div class="table-responsive">
												<table class="table permission-table table-striped">
													<thead>
													  <tr>
														<th>All</th>
														<th>Role</th>
														<th>Permissions</th>
														<th>Add Record</th>
														<th>Delete</th>
														<th>Update</th>
														<th>View</th>
													  </tr>
													</thead>
													<tbody>
													  <tr>
														<td>
															<input type="checkbox" id="checkbox11" class="css-checkbox sme"/>
															<label for="checkbox11" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td>Administrator</td>
														<td><input type="checkbox" id="checkbox12" class="css-checkbox sme"/>
															<label for="checkbox12" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox13" class="css-checkbox sme"/>
															<label for="checkbox13" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox14" class="css-checkbox sme"/>
															<label for="checkbox14" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox15" class="css-checkbox sme"/>
															<label for="checkbox15" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox16" class="css-checkbox sme"/>
															<label for="checkbox16" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
													  </tr>	
													  <tr>
														<td>
															<input type="checkbox" id="checkbox21" class="css-checkbox sme"/>
															<label for="checkbox21" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td>Project Manager</td>
														<td><input type="checkbox" id="checkbox22" class="css-checkbox sme"/>
															<label for="checkbox22" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox23" class="css-checkbox sme"/>
															<label for="checkbox23" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox24" class="css-checkbox sme"/>
															<label for="checkbox24" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox25" class="css-checkbox sme"/>
															<label for="checkbox25" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox26" class="css-checkbox sme"/>
															<label for="checkbox26" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
													  </tr>
													  <tr>
														<td>
															<input type="checkbox" id="checkbox31" class="css-checkbox sme"/>
															<label for="checkbox31" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td>Team Lead</td>
														<td><input type="checkbox" id="checkbox32" class="css-checkbox sme"/>
															<label for="checkbox32" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox33" class="css-checkbox sme"/>
															<label for="checkbox33" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox34" class="css-checkbox sme"/>
															<label for="checkbox34" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox35" class="css-checkbox sme"/>
															<label for="checkbox35" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox36" class="css-checkbox sme"/>
															<label for="checkbox36" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
													  </tr>
													  <tr>
														<td>
															<input type="checkbox" id="checkbox41" class="css-checkbox sme"/>
															<label for="checkbox41" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td>Product Owner</td>
														<td><input type="checkbox" id="checkbox42" class="css-checkbox sme"/>
															<label for="checkbox42" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox43" class="css-checkbox sme"/>
															<label for="checkbox43" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox44" class="css-checkbox sme"/>
															<label for="checkbox44" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox45" class="css-checkbox sme"/>
															<label for="checkbox45" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox46" class="css-checkbox sme"/>
															<label for="checkbox46" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
													  </tr>
													  <tr>
														<td>
															<input type="checkbox" id="checkbox51" class="css-checkbox sme"/>
															<label for="checkbox51" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td>Architecture Owner</td>
														<td><input type="checkbox" id="checkbox52" class="css-checkbox sme"/>
															<label for="checkbox52" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox53" class="css-checkbox sme"/>
															<label for="checkbox53" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox54" class="css-checkbox sme"/>
															<label for="checkbox54" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox55" class="css-checkbox sme"/>
															<label for="checkbox55" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox56" class="css-checkbox sme"/>
															<label for="checkbox56" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
													  </tr>
													  <tr>
														<td>
															<input type="checkbox" id="checkbox61" class="css-checkbox sme"/>
															<label for="checkbox61" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td>DBA</td>
														<td><input type="checkbox" id="checkbox62" class="css-checkbox sme"/>
															<label for="checkbox62" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox63" class="css-checkbox sme"/>
															<label for="checkbox63" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox64" class="css-checkbox sme"/>
															<label for="checkbox64" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox65" class="css-checkbox sme"/>
															<label for="checkbox65" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox66" class="css-checkbox sme"/>
															<label for="checkbox66" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
													  </tr>
													  <tr>
														<td>
															<input type="checkbox" id="checkbox71" class="css-checkbox sme"/>
															<label for="checkbox71" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td>UX Expert</td>
														<td><input type="checkbox" id="checkbox72" class="css-checkbox sme"/>
															<label for="checkbox72" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox73" class="css-checkbox sme"/>
															<label for="checkbox73" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox74" class="css-checkbox sme"/>
															<label for="checkbox74" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox75" class="css-checkbox sme"/>
															<label for="checkbox75" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox76" class="css-checkbox sme"/>
															<label for="checkbox76" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
													  </tr>
													  <tr>
														<td>
															<input type="checkbox" id="checkbox81" class="css-checkbox sme"/>
															<label for="checkbox81" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td>Team Member</td>
														<td><input type="checkbox" id="checkbox82" class="css-checkbox sme"/>
															<label for="checkbox82" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox83" class="css-checkbox sme"/>
															<label for="checkbox83" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox84" class="css-checkbox sme"/>
															<label for="checkbox84" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox85" class="css-checkbox sme"/>
															<label for="checkbox85" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
														<td><input type="checkbox" id="checkbox86" class="css-checkbox sme"/>
															<label for="checkbox86" name="checkbox69_lbl" class="css-label sme depressed"></label>
														</td>
													  </tr>
													</tbody>
												</table>
										</div>
										
										<div class="update-permission-box">
											<button class="update-permission-btn pro-button">Submit</button>
										</div>
										
										
									</div> <!-- .login-panel-body ENDS -->
								</div> <!-- .login-panel ENDS -->
							</div> <!-- .col-md-10 ENDS -->
							
						</div>
						
						<!-- Main Page content ENDS -->	
						
		</div> <!-- Page content Wrapper ends -->		
	</div> <!-- Wrapper ends -->	
	</body>
</html>