<html>
	<head>
		<title>Project Management</title>
		{% include "head.html" %}
		<link rel="stylesheet" href="/assets/css/jquery.tokenize.css">
		<link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css">
		<link rel="stylesheet" href="/assets/css/style-admin.css">
	
		<script src="/assets/js/main.js"></script>
		<script src="/assets/js/jquery.tokenize.js"></script>
		<script src="/assets/js/bootstrap-datepicker.min.js"></script>
		
		
		<script>
		var teamid = "";
		
		$(document).ready(function() {
		
			
			$('.datepicker').datepicker({
				format: 'dd/mm/yyyy',
				startDate: '0d'
				
			});

		
			/*********For Multiple select***************/
			
			$('#tokenize').tokenize({
				displayDropdownOnFocus: true
			});
			
			/*******For Multiple select ends **************/
			
			
			// To show Add project modal 
			$(".add-user-btn").click(function(e) {
				$('#add-user-modal').modal('show');
			});
			
			// To show project team modal 
			/*$(".view-project-team-link").click(function(e) {
				var project = "{{project}}";
				console.log(project);
				
				var projId = $(this).data('id');
				
				console.log(projId);
				teamid = projId ;
				$("#teamid").val( projId );
				$('#project-team-modal').modal('show');
			});*/
			
			
			
			$(".messages-main-box").niceScroll();
			
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
			
			/******** For Hamburger & Close icon *****/
				
			$('#ham-side-icon').show();	
			
			$( "#menu-toggle" ).click(function() {
				var toggle = $( "#wrapper" ).hasClass("toggled");
					
						if(toggle == true){
							$('#close-side-icon').show();
							$('#ham-side-icon').hide();
							
						} else {
							$('#close-side-icon').hide();
							$('#ham-side-icon').show();
						}
				
			});
			/******** For Hamburger & Close icon ends *****/
			
			$("#submit").on("click",function(){
				 var ser = $("[name]").not("select").serialize();
				 var s = $('#tokenize').tokenize().toArray();
				 ser += (ser.length>0?"&":"") + "proj_team" + "=" + s;
			       
			$.post( "/addproject", ser)
	  		.done(function( data ) {
	  			if (data!="true"){
	  				alert("Something Went Wrong");
	  				return false
	  			} else {
	  				$('#add-permission-modal').modal('toggle');
	  				
	  			}
	  		});
			$('#add-permission-modal').on('hidden.bs.modal', function(e)
				    { 
				        $(this).removeData();
				    }) ;
			
		})
		
  
			
			if($( window ).width() >= 768) {
				$( "#menu-toggle" ).click(function() {
						var a = $( "#wrapper" ).hasClass("toggled");
					
						if(a == true){
							
							$('#sidebar-wrapper').css('width','250px');
							$('#sidebar-wrapper').css('left','250px');
							$('#wrapper.toggled').css('padding-left','250px');
							
						} else {
							$('#sidebar-wrapper').css('width','0px');
							$('#sidebar-wrapper').css('left','0px');
							$('#wrapper').css('padding-left','0px');
							
						}
						
				});
			}
			
			if($( window ).width() <= 767) {
				$( "#menu-toggle" ).click(function() {
						var a = $( "#wrapper" ).hasClass("toggled");
						
						if(a == true){
							  
							
							$('#sidebar-wrapper').css('width','250px');
							$('#sidebar-wrapper').css('left','250px');
							$('#wrapper.toggled').css('padding-left','250px');
							
						} else {
							$('#sidebar-wrapper').css('width','0px');
							$('#sidebar-wrapper').css('left','0px');
							$('#wrapper').css('padding-left','0px');
							
						}
						
				});
			}
			
					
			/********** For Chatbox **********/
						
			$('.chatbox-pro-management').css('bottom','-423px');
			
			$( ".online-user-name" ).click(function() {
				$('.chatbox-pro-management').css('bottom','0px');
				$('.chatbox-pro-management').css('transition','all .8s');
				
			});
			$( ".close-chatbox" ).click(function() {
				$('.chatbox-pro-management').css('bottom','-423px');
				$('.chatbox-pro-management').css('transition','all .8s');
			});
		});
		
		</script>
	
	
	</head>
	
	<body>
		<div id="wrapper">
	
		 {% include "sidebar.html" %} 
		
	<!-- Page Content -->
       <div id="page-content-wrapper">
		
		
				{% include "header.html" %} 	
		
						<!-- Main Page content starts -->	
						
						<div class="main-box">
						{%if not_permitted%}
						
						<center style="color: red;">{{not_permitted}}</center>
						
						{%else%}
							<div class="col-md-12">
							
								<div class="user-management-heading-box">
								
									<!-- Menu Toggle Button -->
								<!--  <div id="menu-toggle" class="menu-toggle-user-management">
										<img src="../assets/img/ham-side-icon.png" id="ham-side-icon">
										<img src="../assets/img/close-side-icon.png" id="close-side-icon" style="display:none;">
									</div>
									<!-- Menu Toggle Button -->
									
									<h2 class="user-management-heading"><i class="fa fa-cogs user-management-head-icon"></i>Project Management</h2>
									
									<button class="add-user-btn pro-button">New project</button>
								</div>
								
							
								<div class="panel panel-default task-main-panel">
									<div class="add-task-box">
										<div class="search-field-box search-field-box-admin">
											<i class="fa fa-search search-icon search-icon-admin"></i>
											<input type="text" class="search-field project-management-textbox search-field-admin-textbox" placeholder="Search a project...">
										</div>
									</div>	
										<div class="table-responsive">
										<table class="table user-management-table pro-management-table">
											<thead>
											  <tr class="header-row">
												<th></th>
												<th>Project Name</th>
												<th>Description</th>
												<th>Project Team</th>
												<th>Start Date</th>
												<th>End Date</th>
												<th>Edit project</th>
												<th>Delete project</th>
											  </tr>
											</thead>
											<tbody>
											{% for project in project %}
											  <tr>
												<td><i class="fa fa-cog"></i></td>
												<td>{{ project.name }}</td>
												<td>
													{{ project.description }}
												</td>
												<td>
												<a href="/viewmembers?key={{project.key.urlsafe}}" data-toggle="modal" data-target="#project-team-modal">View Team</a>
													<!-- <a class="view-project-team-link" data-id="{{project.name}}">View Team</a> -->
												</td>
												<td>{{ project.startDate }}</td>
												<td>{{ project.endDate }}</td>
												<td>
													<i class="fa fa-pencil user-management-edit-icon" aria-hidden="true" title="Edit Project"></i>
												</td>
												<td>
													<i class="fa fa-trash user-management-delete-icon" aria-hidden="true" title="Delete Project"></i>
												</td>
											  </tr>
											  {%endfor%} 
											  <!-- <tr>
												<td><i class="fa fa-cog"></i></td>
												<td>Summer Camp Guru</td>
												<td>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit
												</td>
												<td>
													<a class="view-project-team-link">View Team</a>
												</td>
												<td>12/01/2016</td>
												<td>16/04/2016</td>
												<td>
													<i class="fa fa-pencil user-management-edit-icon" aria-hidden="true" title="Edit Project"></i>
												</td>
												<td>
													<i class="fa fa-trash user-management-delete-icon" aria-hidden="true" title="Delete Project"></i>
												</td>
											  </tr>
											  <tr>
												<td><i class="fa fa-cog"></i></td>
												<td>CULP Home Fashions</td>
												<td>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur
												</td>
												<td>
													<a class="view-project-team-link">View Team</a>
												</td>
												<td>12/01/2016</td>
												<td>16/04/2016</td>
												<td>
													<i class="fa fa-pencil user-management-edit-icon" aria-hidden="true" title="Edit Project"></i>
												</td>
												<td>
													<i class="fa fa-trash user-management-delete-icon" aria-hidden="true" title="Delete Project"></i>
												</td>
											  </tr>
											  <tr>
												<td><i class="fa fa-cog"></i></td>
												<td>CHF Final Cut</td>
												<td>
													Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing
												</td>
												<td>
													<a class="view-project-team-link">View Team</a>
												</td>
												<td>12/01/2016</td>
												<td>16/04/2016</td>
												<td>
													<i class="fa fa-pencil user-management-edit-icon" aria-hidden="true" title="Edit Project"></i>
												</td>
												<td>
													<i class="fa fa-trash user-management-delete-icon" aria-hidden="true" title="Delete Project"></i>
												</td>
											  </tr>
											  <tr>
												<td><i class="fa fa-cog"></i></td>
												<td>CULP Careers</td>
												<td>
													Lorem ipsum dolor sit amet
												</td>
												<td>
													<a class="view-project-team-link">View Team</a>
												</td>
												<td>12/01/2016</td>
												<td>16/04/2016</td>
												<td>
													<i class="fa fa-pencil user-management-edit-icon" aria-hidden="true" title="Edit Project"></i>
												</td>
												<td>
													<i class="fa fa-trash user-management-delete-icon" aria-hidden="true" title="Delete Project"></i>
												</td>
											  </tr> -->
											</tbody>
										</table>
										</div>
									</div>		
							</div>
							
							{%endif%}
							
						</div>
						
						<!-- Main Page content ENDS -->	
					
		</div> <!-- Page content Wrapper ends -->		
	</div> <!-- Wrapper ends -->	
	
	
	
	<!-- Add Project Modal Starts -->
			<div id="add-user-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Create New Project</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								
								<div class="col-md-10">
										<form role="form" id="pro">
											  <!-- Project Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Project Name</label>
												<input name="proj_name" type="text" class="form-control add-task-textbox">
											  </div>
											  
											  <!-- Project Description --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Project Description</label>
												<input name="proj_desc" type="text" class="form-control add-task-textbox">
											  </div>
											  
											  <!-- Project Team --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Project Team</label>
												
												<select  id="tokenize" multiple="multiple" name="proj_team" class="tokenize-sample add-task-textbox">
												{% for users in userslist %}
													<option  value= "{{ users.name }}"> {{ users.name }}</option>
													{%endfor%}
												</select>
												 
											  </div>
											  
											  
											  <!-- start date - end date --> 
												<div class="form-group task-form-group row">
													<div class="col-md-6 task-form-group">
														<label  class="task-label">Start Date</label>
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<input name="proj_start" type="text" class="form-control add-task-textbox datepicker" readonly='true'>
													</div>
													<div class="col-md-6 task-form-group">
														<label  class="task-label">End Date</label>
														<i class="fa fa-calendar" aria-hidden="true"></i>
														<input name="proj_end" type="text" class="form-control add-task-textbox datepicker" readonly='true'>
													</div>
													
												</div>
											  
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal" id="submit">Create</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>
				</div>

			  </div>
			</div>
	<!-- Add Project Modal Ends -->
	
	
	
	<!-- Project Team members Modal Starts -->
			<div id="project-team-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div id="view-members-modal" class="modal-content add-task-modal-content"></div>
			</div>
			</div>
	<!-- Project Team members Modal Ends -->

	</body>
</html>