{% extends "base.html" %}

{% block title %}User | Project | Release{% endblock %}
		
{% block header_links%}
		<title>APM - All Projects</title>
		
		<style>
			.apm-nav-brand-1{
				padding: 15px!important;
				font-size: 15px!important;
				margin: 0!important;
				padding-left: 8px!important;
			}
			.apm-dropdown-projects{
				margin-left: -98px!important;
				margin-top: 50px!important;
				z-index:99999999;
			}
			
		</style>
	<script>
				$(document).ready(function(){
					$(".nav-tabs a").click(function(){
						$(this).tab('show');
					});
					$('.datepicker').datepicker({
						format: 'dd/mm/yyyy',
						startDate: '0d'
					});
					
					$("#add_release").click(function(e) {
						$('#add-release-modal').modal('show');
					});
					
					$("#submit").on("click",function(){
						$.post( '/release', $("#release_form").serialize())
							.done(function( data ) {
								if (data!="true"){
									alert("Release cannot be added");
									return false
								} else {
									
									
									
								}
							});
							
							
								
								
							})
							
							
					$('#add-release-modal').on('hidden.bs.modal', function(e)
									    { 
									        $(this).removeData('bs.modal');
									        
									        $('.table').load('/release .table', function(result) {
							  				});
									    }) ;
					

				});
				
				
				
				
				
		</script>	
		
{% endblock %}	
	


     
{%block content%}	
		

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">All Releases</h2>
						
						<hr>
						
						
							<div class="row">
								<div class="col-md-10">
									<div class="">
											<div class="apm-listing-add-proj-box">
												<a ><button class="apm-listing-add-proj-btn" id="add_release">Add Release</button></a>
											</div>
											<div class="table-responsive">
												<table class="table table-bordered apm-member-listing-table apm-all-proj-table">
													<thead>
														<tr>
															<th></th>
															<th>Project Name</th>
															<th>Release Name</th>
															<th>Release Date</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
													{% for i in release %}
												
													{%if company_name == i.projectid.get.companyid.get.domain %}
													{%if i.status == 'True' %}
														<tr id="{{i.key.urlsafe}}">
															<td><i class="fa fa-cogs" aria-hidden="true"></i></td>
															
															<td><a href="/project/viewproject?proj_id={{i.projectid.key.id}}">{{ i.projectid.get.name }}</a></td>
															
															<td>{{i.releaseName}}</td>
															<td>{{ i.releaseDate }}</td>
															<td>
																<a href="/release/edit?edit_key={{i.key.urlsafe}}" data-toggle="modal" data-target="#edit-release-modal"><i class="fa fa-pencil apm-add-proj-edit" aria-hidden="true" title="Edit Release"  id="{{i.key.urlsafe}}"></i></a>
																<a href="/release/delete?delete_key={{i.key.urlsafe}}" data-toggle="modal" data-target="#delete-release-modal"><i class="fa fa-trash apm-add-proj-delete" aria-hidden="true" title="Delete Release"  id="{{i.key.urlsafe}}"></i></a>
															</td>
														</tr>
														{%endif%}
														{%endif%}
													{%endfor%}
													</tbody>
												</table>
											</div>
									</div>
								</div>
								<div class="col-md-2">
									
								</div>
							</div>		
						</div>
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
		<!-- Add Team Members Starts -->
			<div id="add-release-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				  <div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Create Release</h4>
				  </div>
				  <form role="form" id="release_form" action="/release" method="post">
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-2">
								</div>
								
								<div class="col-md-8">
										
											  <!-- Team Mamber Name --> 
											  <div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Project Name </label>
													<select class="form-control apm-landing-textbox-reg" name="proj_name">
														{%for i in project%}
															{%if company_name == i.companyid.get.domain %}
  															<option value="{{i.key.urlsafe}}">{{i.name}}</option>
  													{%endif%}
  												{%endfor%}
												</select>
											  </div>
											  
												<!-- Project Title -->
											<div class="form-group task-form-group">
												<label class="apm-landing-reg-label">Release Name</label>
												<input name="release_name" type="text" class="form-control apm-landing-textbox-reg">
											</div>
											
											
												<!-- Start Date -->
												<div class="form-group task-form-group">
													<div class="form-group">
														<label class="apm-landing-reg-label">Release Date</label>
														<input name="release_date" type="text" class="form-control apm-landing-textbox-reg datepicker">
														<i class="fa fa-calendar datepicker-cal" aria-hidden="true"></i>
													</div>
												</div>
												
										
											
										
										
								</div>	
								<div class="col-md-2">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<input type="submit" class="add-task-btn-modal" data-dismiss="modal" id="submit" value="Add" >
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				
				  </div>
				  </form>
				</div>

			  </div>
			</div>
	<!-- Add Team Members Modal Ends -->
	<!--Edit Modal Starts -->
			<div id="edit-release-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				
				</div>

			  </div>
			</div>
	<!-- edit Modal Ends -->
	
	<!-- delete Modal Starts -->
			<div id="delete-release-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				 
				</div>

			  </div>
			</div>
	<!--delete Modal Ends -->
{%endblock%}
		
		
