<script type="text/javascript">
$('#project-team-modal').on('hidden.bs.modal', function(e)
        { 
            $(this).removeData('bs.modal');
        }) ;
</script>
<div class="modal-header add-task-modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title add-task-modal-heading">Project Team</h4>
					</div>
					<div class="modal-body user-management-body">
						<ul class="project-team-list" id="teamid" value=""/>
						{% for pro in project.team%}
						
						
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>{{pro}}</label>
								</li>
							{%endfor%}	
								
								<!-- <li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Harshit Jyoti</label>
								</li>
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Chaitanya Belsare</label>
								</li>
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Harshit Jyoti</label>
								</li>
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Chaitanya Belsare</label>
								</li>
								<li>
									<img src="../assets/img/team-member.png" class="project-team-img">
									<label>Harshit Jyoti</label>
								</li> -->
								
						</ul>	
					</div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal">Dismiss</button>
					
				  </div>