<html>
	<head>
		<title>Change Password</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="../assets_new/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets_new/css/style.css">
		<link rel="stylesheet" href="../assets_new/css/sidebar-test.css">
		<link rel="stylesheet" href="../assets_new/css/button.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
	
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="../assets_new/js/bootstrap.min.js"></script>
		<script src="../assets_new/js/nice-scroll.js"></script>
		<script src="../assets_new/js/button.js"></script>
		
		<style>
		
		</style>
		
		
		<script>
		
		$(document).ready(function() {
			$("#submit").click(function(){
				$.post( "/password", $("#reset").serialize())
			  		.done(function( data ) {
			  			if (data!="true"){
			  				alert("Password Do not match");
			  			} else {
			  				alert("Password Changed Succesfully");
			  				document.location.href = '/';
			  				
			  			}
			  	});
			});
		});
		</script>
	
	
	</head>
	
	<body>
		<div id="wrapper">
	
		
		
	<!-- Page Content -->
       <div id="page-content-wrapper">
		
						
						
						<section class="top-main-section">
							 <!-- Static navbar -->
							  <nav class="navbar navbar-default navbar-pro-management">
								<div class="container-fluid">
								  <div class="navbar-header">
									
									<a class="navbar-brand" href="#">
										
										<img src="../assets_new/img/eternus.png" class="logo-img">
									</a>
								  </div>
								  
								</div><!--/.container-fluid -->
							  </nav>

						</section>	
					
						<!-- Main Page content starts -->	
						
						<div class="container change-pass-container">
							<div class="col-md-3">
							</div>
							<div class="col-md-6">
								<div class="panel panel-default change-pass-panel">
									<div class="panel-heading main-box-panel-heading login-panel-heading red-panel-heading">
										Change Password
									</div>
									<div class="panel-body login-panel-body">
										<div class="col-md-1">
										</div>
											
										<div class="col-md-10">
												<form method="post" action="/password" id="reset11">
												<!-- New Password -->
												<i class="fa fa-lock login-lock-icon"></i><input type="password" name="password" class="form-control search-field project-management-textbox login-textbox" placeholder="New Password">
												
												<!-- Re-type Password -->
												<i class="fa fa-lock login-lock-icon"></i><input type="password" name="confirm_password" class="form-control search-field project-management-textbox login-textbox" placeholder="Re-enter Password">
												
												<button id="submit11" class="change-pass-btn pro-button">Change Password</button>
										</form>
										</div>
										
										<div class="col-md-1">
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-md-3">
							</div>
						</div>
						
						<!-- Main Page content ENDS -->	
						
		</div> <!-- Page content Wrapper ends -->		
	</div> <!-- Wrapper ends -->	
	</body>
</html>


<!-- <html>
	<head>
		<title>Change Password</title>
		{% include "head.html" %}
		
		
		<script>
		
		$(document).ready(function() {
			$("#submit").click(function(){
				$.post( "/password", $("#reset").serialize())
			  		.done(function( data ) {
			  			if (data!="true"){
			  				alert("Password Do not match");
			  			} else {
			  				alert("Password Changed Succesfully");
			  				document.location.href = '/';
			  				
			  			}
			  	});
			});
		});
		</script>
	
	
	</head>
	
	<body>
		<div id="wrapper">
	
		
		
	Page Content
       <div id="page-content-wrapper">
		
						
						
						<section class="top-main-section">
							 Static navbar
							  <nav class="navbar navbar-default navbar-pro-management">
								<div class="container-fluid">
								  <div class="navbar-header">
									
									<a class="navbar-brand" href="#">
										
										<img src="../assets/img/eternus.png" class="logo-img">
									</a>
								  </div>
								  
								</div>/.container-fluid
							  </nav>

						</section>	
					
						Main Page content starts	
						
						<div class="container change-pass-container">
							<div class="col-md-3">
							</div>
							<div class="col-md-6">
								<div class="panel panel-default change-pass-panel">
									<div class="panel-heading main-box-panel-heading login-panel-heading red-panel-heading">
										Change Password
									</div>
									<div class="panel-body login-panel-body">
										<div class="col-md-1">
										</div>
										<form method="post" action="/password" id="reset11">
										<div class="col-md-10">
												
												New Password
												<i class="fa fa-lock login-lock-icon" style="margin-top: 7%;"></i><input type="password" name="password" class="form-control search-field project-management-textbox login-textbox" placeholder="New Password">
												
												Re-type Password
												<i class="fa fa-lock login-lock-icon"></i><input type="password" name="confirm_password" class="form-control search-field project-management-textbox login-textbox" placeholder="Re-enter Password">
												
												<button id="submit11" class="change-pass-btn pro-button">Change Password</button>
										
										</div>
										</form>
										<div class="col-md-1">
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-md-3">
							</div>
						</div>
						
						Main Page content ENDS	
						
		</div> Page content Wrapper ends		
	</div> Wrapper ends	
	</body>
</html> -->