<html>
	<head>
		<title>Change Password</title>
		{% include "head.html" %}
		
		
		<script>
		
		$(document).ready(function() {
			$("#submit").click(function(){
				$.post( "/forgot", $("#forgot_password_form").serialize())
			  		.done(function( data ) {
			  			if (data=="true"){
			  				alert("Email Sent");
			  			} else {
			  				alert("error");
			  			}
			  	});
			});
		});
		
		</script>
	
	
	</head>
	
	<body>
		<div id="wrapper">
	
		
		
	<!-- Page Content -->
       <div id="page-content-wrapper">
		
						
						
						<section class="top-main-section">
							 <!-- Static navbar -->
							  <nav class="navbar navbar-default navbar-pro-management">
								<div class="container-fluid">
								  <div class="navbar-header">
									
									<a class="navbar-brand" href="#">
										
										<img src="assets/img/eternus.png" class="logo-img">
									</a>
								  </div>
								  
								</div><!--/.container-fluid -->
							  </nav>

						</section>	
					
						<!-- Main Page content starts -->	
						
						<div class="container change-pass-container">
							<div class="col-md-3">
							</div>
							<div class="col-md-6">
								<div class="panel panel-default change-pass-panel">
									<div class="panel-heading main-box-panel-heading login-panel-heading red-panel-heading">
										Forgot Password
									</div>
									<div class="panel-body login-panel-body">
										<div class="col-md-1">
										</div>
										<form id="forgot_password_form" name="forgot_password_form" action="/forgot" method="post" >
										<div class="col-md-10">
												<!-- Old Password -->
												<i class="fa fa-lock login-user-icon"></i><input type="text" class="form-control search-field project-management-textbox login-textbox" placeholder="Email id" name="username">
												
											
												<input type="button" id="submit" class="change-pass-btn pro-button" value="Send Password To Email">
										
										</div>
										</form>
										<div class="col-md-1">
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-md-3">
							</div>
						</div>
						
						<!-- Main Page content ENDS -->	
						
		</div> <!-- Page content Wrapper ends -->		
	</div> <!-- Wrapper ends -->	
	</body>
</html>