<html>
	<head>
		<title>Forgot Password</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="../assets_new/css/bootstrap.min.css">
		<link rel="stylesheet" href="../assets_new/css/style.css">
		<link rel="stylesheet" href="../assets_new/css/sidebar-test.css">
		<link rel="stylesheet" href="../assets_new/css/button.css">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway">
	
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="../assets_new/js/bootstrap.min.js"></script>
		<script src="../assets_new/js/nice-scroll.js"></script>
		<script src="../assets_new/js/button.js"></script>
		
		<style>
		
		</style>
		
		
		<script>
		
		$(document).ready(function() {
		 	$("#submit").click(function(){
				$.post( "http://kajal3.apm-eternus.appspot.com/forgot", $("#forgot_password_form").serialize())
			  		.done(function( data ) {
			  			/*if (data!="true"){
			  				 alert("A password reset link has been sent to your mail id.");*/
			  				document.location.href = data;
			  		/* 	} else { 
			  				alert("User does nor exists !");
			  			} */
			  	});
			}); 
		});
		
		</script>
	
	
	</head>
	
	<body>
		<div id="wrapper">
	
		
		
	<!-- Page Content -->
       <div id="page-content-wrapper">
		
						
						
						<section class="top-main-section">
							 <!-- Static navbar -->
							  <nav class="navbar navbar-default navbar-pro-management">
								<div class="container-fluid">
								  <div class="navbar-header">
									
									<a class="navbar-brand" href="#">
										
										<img src="../assets_new/img/eternus.png" class="logo-img">
									</a>
								  </div>
								  
								</div><!--/.container-fluid -->
							  </nav>

						</section>	
					
						<!-- Main Page content starts -->	
						
						<div class="container change-pass-container">
							<div class="col-md-3">
							</div>
							<div class="col-md-6">
								<div class="panel panel-default change-pass-panel">
									<div class="panel-heading main-box-panel-heading login-panel-heading red-panel-heading">
										Forgot Password
									</div>
									<div class="panel-body login-panel-body">
										<div class="col-md-1">
										</div>
										
											<form id="forgot_password_form" name="forgot_password_form" method="post" action="/forgot" >
										
										<div class="col-md-10">
												<!-- Old Password -->
												<i class="fa fa-lock login-user-icon"></i><input type="text" class="form-control search-field project-management-textbox login-textbox" placeholder="Email address" name="username" autofocus>
												
												<input type="button" id="submit" class="change-pass-btn pro-button" value="Send Password To Email">
												<!--<button class="change-pass-btn pro-button">Change Password</button>-->
										
										</div>
										</form>
										
										<div class="col-md-1">
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-md-3">
							</div>
						</div>
						
						<!-- Main Page content ENDS -->	
						
		</div> <!-- Page content Wrapper ends -->		
	</div> <!-- Wrapper ends -->	
	</body>
</html>



<!-- 
<html>
	<head>
		<title>Change Password</title>
		{% include "head.html" %}
		
		
		<script>
		
		$(document).ready(function() {
			$("#submit").click(function(){
				$.post( "/forgot", $("#forgot_password_form").serialize())
			  		.done(function( data ) {
			  			if (data=="true"){
			  				alert("A password reset link has been sent to your mail id.");
			  				document.location.href = '/';
			  			} else {
			  				alert("User does nor exists !");
			  			}
			  	});
			});
		});
		
		</script>
	
	
	</head>
	
	<body>
		<div id="wrapper">
	
		
		
	Page Content
       <div id="page-content-wrapper">
		
						
						
						<section class="top-main-section">
							 Static navbar
							  <nav class="navbar navbar-default navbar-pro-management">
								<div class="container-fluid">
								  <div class="navbar-header">
									
									<a class="navbar-brand" href="#">
										
										<img src="assets/img/eternus.png" class="logo-img">
									</a>
								  </div>
								  
								</div>/.container-fluid
							  </nav>

						</section>	
					
						Main Page content starts	
						
						<div class="container change-pass-container">
							<div class="col-md-3">
							</div>
							<div class="col-md-6">
								<div class="panel panel-default change-pass-panel">
									<div class="panel-heading main-box-panel-heading login-panel-heading red-panel-heading">
										Forgot Password
									</div>
									<div class="panel-body login-panel-body">
										<div class="col-md-1">
										</div>
										<form id="forgot_password_form" name="forgot_password_form" action="/forgot" method="post" >
										<div class="col-md-10">
												Old Password
												<i class="fa fa-lock login-user-icon"></i><input type="text" class="form-control search-field project-management-textbox login-textbox" placeholder="Email id" name="username">
												
											
												<input type="button" id="submit" class="change-pass-btn pro-button" value="Send Password To Email">
										
										</div>
										</form>
										<div class="col-md-1">
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-md-3">
							</div>
						</div>
						
						Main Page content ENDS	
						
		</div> Page content Wrapper ends		
	</div> Wrapper ends	
	</body>
</html> -->