<html>
	<head>
		{% include "head.html" %}
		<title>Login</title>
		
		<style>
		label[for=username]
			{
    
    			color: red;
    			margin-top: -34px;
			}
			label[for=password]
			{
    
    			color: red;
    			margin-top: -31px;
			}
			#error
			{
			color: red;
			}
		</style>
		
		<script>
		
			$(document).ready(function() {
			
			
			$("#login_form").validate({
				  rules: {
					  username: {
				      required: true,
				      email: true
				    },
				    
				    password:{
				    	required:true
				    	
				    }
				    
				  },
				  messages: {
					  username: {
						  required: "Please enter email id"
				    
				    },
				    password:{
					  required:"Please enter password"
				  }
				 
				  }
				});	
	
			
			
		});
		
		
		</script>
	
	
	</head>
	
	<body>
		<div id="wrapper">
	<!-- Page Content -->
       <div id="page-content-wrapper">
		{%for param in params%}
			{% if param.failed%}
				Invalid Username Or Password
			{% endif %}
		{% endfor %}
						
						
						<section class="top-main-section">
							 <!-- Static navbar -->
							  <nav class="navbar navbar-default navbar-pro-management">
								<div class="container-fluid">
								  <div class="navbar-header">
									
									<a class="navbar-brand" href="#">
										
										<img src="/assets/img/eternus.png" class="logo-img">
									</a>
								  </div>
								  
								</div><!--/.container-fluid -->
							  </nav>

						</section>	
					
						<!-- Main Page content starts -->	
						
						<div class="container login-container">
							<div class="col-md-3">
							</div>
							<div class="col-md-6">
								<div class="panel panel-default login-panel">
									<div class="panel-heading main-box-panel-heading login-panel-heading red-panel-heading">
										Login
									</div>
									
									<div class="panel-body login-panel-body">
										<div class="col-md-1">
										</div>
										
										<div class="col-md-10">
										
										<div id="error"></div>
										
										<form method="post" action="/login" name="login_form" id="login_form">
												<!-- Username -->
												<i class="fa fa-user login-user-icon" style="top: 0%;"></i><input type="text" name="username" class="form-control search-field project-management-textbox login-textbox" placeholder="Username">
												
												<!-- Password -->
												<i class="fa fa-lock login-lock-icon"></i><input type="password" name="password" class="form-control search-field project-management-textbox login-textbox" placeholder="Password">
												
												
												<input type="submit" class="login-btn pro-button" value="Login">
											
										</form>	
												<!-- Forgot Password -->
												<div class="forget-pass-div">
													<a href="/forgot">Forgot Password ??</a>
												</div>
										</div>
										
										</div>
										
										<div class="col-md-1">
										</div>
										
									</div>
								</div>
							</div>
							<div class="col-md-3">
							</div>
						</div>
						
						<!-- Main Page content ENDS -->	
						
		</div> <!-- Page content Wrapper ends -->		
	</div> <!-- Wrapper ends -->	
	</body>
</html>