<!-- Sidebar -->
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand">
						<a href="#" class="admin-label">
							ADMINISTRATION
						</a>
					</li>
					<li>
						<a href="/superadmin/usermanagment" class="sidebar-main-list-name"><i class="fa fa-user side-font-icons" aria-hidden="true"></i> User Management</a>
						
					</li>
					<li>
						<a href="/superadmin/permissions" class="sidebar-main-list-name"><i class="fa fa-briefcase side-font-icons" aria-hidden="true"></i> Permissions</a>
					</li>
					
					
				</ul>
			</div>
			<!-- /#sidebar-wrapper -->