<div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Add Permission</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								
								<div class="col-md-10">
										<form role="form">
											  <!-- Permission Name --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Permission Name</label>
												<input type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
											  
											  <!-- Permission URL --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Permission URL</label>
												<input type="text" class="form-control add-task-textbox apm-modal-textbox">
											  </div>
											
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal" data-dismiss="modal">Add</button>
					<a href="#" class="cancel-task-btn-modal" data-dismiss="modal">Cancel</a>
				  </div>