{% extends "base.html" %}

{% block title %}Super Admin - Roles Management{% endblock %}
{% block header_links%}
<script>
$(document).ready(function() {
	$("#submit_permissions").click(function(e) {
				$.post( "/superadmin/permissions", $("#edit_permissions").serialize())
		  		.done(function( data ) {
		  			if (data!="true"){
		  				alert("Something Went Wrong");
		  				return false
		  			} else {
		  				
		  				location.reload();
		  			}
		  		});
			});
			});
</script>
{% endblock %}
{% block content %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">Admin - Roles Management</h2>
						
						<hr>
						
						
							<div class="row">
								<div class="col-md-11">
									<div class="">
											<div class="apm-listing-add-proj-box">
											<a href="/superadmin/addrole" data-toggle="modal" data-target="#add-role-modal">
									<button class="apm-listing-add-proj-btn pro-button" id="add-role">Add Role</button>
									</a>
									<a href="/superadmin/addpermission" data-toggle="modal" data-target="#add-permission-modal">
									<button class="apm-listing-add-proj-btn pro-button" id="add-permission">Add Permission</button>
									</a>
												
												
											</div>
											<div class="table-responsive apm-admin-permission-table">
											<form id="edit_permissions" >
												<table class="table table-bordered apm-member-listing-table apm-all-proj-table">
													<thead>
														<tr>
														<th>Permissions (url)</th>
															{% for role in role %}
																<th><a href="/superadmin/editrole?key={{role.key.urlsafe}}" class="roll-link" data-toggle="modal" data-target="#edit-role-modal">{{role.role}}</a></th>
															{% endfor %}
														</tr>
													</thead>
													<tbody>
													
															  <tr>
																<td>
																	<a href="#" class="permission-link">All</a>
																</td>
																{% for role in role %}
																<td><input type="checkbox" id="checkbox12"  value="{{role.key.urlsafe}}<!>All" name="permissions"/>
																	
																</td>
																{% endfor %}
																
															  </tr>	
															  {% for perm in perm %}
															  <tr>
																<td>
																	<a href="/superadmin/editpermission?key={{perm.key.urlsafe}}" class="permission-link" data-toggle="modal" data-target="#edit-permission-modal">{{perm.permission}} ({{perm.url}})</a>
																</td>
																{% for role in role %}
																<td>
																{% if perm.key in role.permissions%}
																<input type="checkbox" id="checkbox22" value="{{role.key.urlsafe}}<!>{{perm.key.urlsafe}}" checked name="permissions"/>
																
																{% else %}
																<input type="checkbox" id="checkbox22" value="{{role.key.urlsafe}}<!>{{perm.key.urlsafe}}" name="permissions"/>
																{%endif%}
																
																</td>
																{% endfor %}
													  </tr>	
													  {% endfor %}
														
														
													</tbody>
												</table>
												</form>
											</div>
									</div>
								</div>
								<div class="col-md-1">
									
								</div>
								
							</div>		
							
							<button class="apm-listing-add-proj-btn pro-button">Submit</button>
					</div> <!-- .col-lg-12 ends -->
						
                    </div> <!-- .row ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
		
    </div>
    <!-- /#wrapper -->
  
		
		<!-- Add Role Modal Starts -->
			<div id="add-role-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				 
				</div>

			  </div>
			</div>
	<!-- Add Role Modal Ends -->
	
	
	<!-- Edit Role Modal Starts -->
			<div id="edit-role-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- Edit Role Modal Ends -->
	
	<!-- Add Permission Modal Starts -->
			<div id="add-permission-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- Add Permission Modal Ends -->
	
	<!-- Edit Permission Modal Starts -->
			<div id="edit-permission-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
			  <div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content add-task-modal-content">
				  
				</div>

			  </div>
			</div>
	<!-- Edit Permission Modal Ends -->
	
{% endblock %}