<script>
		$("#submit_edit_permission").on("click",function(){
			$.post( "/superadmin/editpermission", $("#editpermission").serialize())
	  		.done(function( data ) {
	  			if (data!="true"){
	  				alert("Something Went Wrong");
	  				return false
	  			} else {
	  				
	  				
	  			}
	  		});
			
			
		})
		$("#delete_permission").on("click",function(){
			$.post( "/superadmin/deletepermission", $("#editpermission").serialize())
	  		.done(function( data ) {
	  			if (data!="true"){
	  				alert("Something Went Wrong");
	  				return false
	  			} else {
	  				
	  				
	  			}
	  		});
			
			
		})
		$('#edit-permission-modal').on('hidden.bs.modal', function(e)
				    { 
				        $(this).removeData('bs.modal');
				        $('#edit_permissions').load('/superadmin/permissions #edit_permissions', function(result) {
		  				    var variable = $('#edit_permissions').html();
		  				});
				    }) ;

	</script>
<div class="modal-header add-task-modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title add-task-modal-heading">Edit Permission</h4>
				  </div>
					<div class="modal-body user-management-body">
							<div class="row">
								<div class="col-md-1">
								</div>
								
								<div class="col-md-10">
										<form role="form" id="editpermission">
											  <!-- Permission Name --> 
											  
											  <div class="form-group task-form-group">
												<label class="task-label">Permission Name</label>
												<input type="text" class="form-control add-task-textbox" name="name_permission" value="{{permission.permission}}">
											  </div>
											  
											  <!-- Permission URL --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Permission URL</label>
												<input type="text" class="form-control add-task-textbox" name="url_permission" value="{{permission.url}}">
											  </div>
											  <input type="hidden" name="key_permission" value="{{permission.key.urlsafe}}">
										
											  <div class="form-group task-form-group">
												<label class="task-label">Permission Parent Name</label>
												<input name="perm_parent" type="text" class="form-control add-task-textbox" value="{{permission.parentName}}">
											  </div>
											  
											  <!-- Permission URL --> 
											  <div class="form-group task-form-group">
												<label class="task-label">Permission order</label>
												<input name="perm_order" type="text" class="form-control add-task-textbox" value="{{permission.order}}">
											  </div>
										</form>
								</div>	
								<div class="col-md-1">
								</div>		
							</div>
							
				  </div>
				  <div class="modal-footer add-task-modal-footer">
					<button type="button" class="add-task-btn-modal save-roll-modal-btn" data-dismiss="modal" id="submit_edit_permission">Save</button>
					<button type="button" class="add-task-btn-modal delete-roll-modal-btn" data-dismiss="modal" id="delete_permission">Delete</button>
				  </div>