{% extends "base.html" %}

{% block title %}Admin|Test{% endblock %}

{% block content %}
   <!-- Page Content -->
<div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
					
						<h2 class="apm-all-reports-heading">All Reports</h2>
						
						<hr>
						
						<!-- Number Boxes -->
						<div class="row apm-numbox-row">
							<div class="col-md-3 col-sm-3">
								<div class="apm-numbox-dashboard apm-numbox-1">
									<h2 class="apm-numbox-heading">20</h2>
									<label class="apm-numbox-label">Pending Tasks</label>
								</div>	
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="apm-numbox-dashboard apm-numbox-2">
									<h2 class="apm-numbox-heading">14</h2>
									<label class="apm-numbox-label">Pending Sprints</label>
								</div>	
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="apm-numbox-dashboard apm-numbox-3">
									<h2 class="apm-numbox-heading">26</h2>
									<label class="apm-numbox-label">Ongoing Tasks</label>
								</div>	
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="apm-numbox-dashboard apm-numbox-4">
									<h2 class="apm-numbox-heading">44</h2>
									<label class="apm-numbox-label">Completed Tasks</label>
								</div>	
							</div>
						</div>
						<!-- Number Boxes ENDS -->
						
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<div class="panel panel-default">
									<div class="panel-heading apm-panel-heading">
										Burndown Chart
									</div>
									<div class="panel-body apm-panel-body">
										<img src="assets_new/img/barchart.png" class="img-responsive" style="width: 70%;">
										<p class="apm-para">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="panel panel-default">
									<div class="panel-heading apm-panel-heading">
										Sprint Chart
									</div>
									<div class="panel-body apm-panel-body">
										<img src="assets_new/img/pie.png" class="img-responsive" style="width: 55%;">
										<p class="apm-para">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="panel panel-default">
									<div class="panel-heading apm-panel-heading">
										Velocity Chart
									</div>
									<div class="panel-body apm-panel-body">
										<img src="assets_new/img/barchart.png" class="img-responsive" style="width: 70%;">
										<p class="apm-para">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="panel panel-default">
									<div class="panel-heading apm-panel-heading">
										Control Chart
									</div>
									<div class="panel-body apm-panel-body">
										<img src="assets_new/img/pie.png" class="img-responsive" style="width: 55%;">
										<p class="apm-para">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<div class="panel panel-default">
									<div class="panel-heading apm-panel-heading">
										Burndown Chart
									</div>
									<div class="panel-body apm-panel-body">
										<img src="assets_new/img/barchart.png" class="img-responsive" style="width: 70%;">
										<p class="apm-para">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="panel panel-default">
									<div class="panel-heading apm-panel-heading">
										Epic Report
									</div>
									<div class="panel-body apm-panel-body">
										<img src="assets_new/img/pie.png" class="img-responsive" style="width: 55%;">
										<p class="apm-para">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="panel panel-default">
									<div class="panel-heading apm-panel-heading">
										Annual Report
									</div>
									<div class="panel-body apm-panel-body">
										<img src="assets_new/img/barchart.png" class="img-responsive" style="width: 70%;">
										<p class="apm-para">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
								<div class="panel panel-default">
									<div class="panel-heading apm-panel-heading">
										Average Age Report
									</div>
									<div class="panel-body apm-panel-body">
										<img src="assets_new/img/pie.png" class="img-responsive" style="width: 55%;">
										<p class="apm-para">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										</p>
									</div>
								</div>
							</div>
						</div> <!-- Row ends -->
						
						<!--<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="table-responsive">
									<table class="table table-condensed table-bordered">
										<thead>
										  <tr>
											<th>Firstname</th>
											<th>Lastname</th>
											<th>Email</th>
										  </tr>
										</thead>
										<tbody>
										  <tr>
											<td>John</td>
											<td>Doe</td>
											<td>john@example.com</td>
										  </tr>
										  <tr>
											<td>Mary</td>
											<td>Moe</td>
											<td>mary@example.com</td>
										  </tr>
										  <tr>
											<td>July</td>
											<td>Dooley</td>
											<td>july@example.com</td>
										  </tr>
										</tbody>
									</table>
								</div>	
							</div>
						</div> -->
						
						
                    </div> <!-- .col-lg-12 ends -->
                </div>
            </div> <!-- .container ends -->
        </div>
        <!-- /#page-content-wrapper ENDS -->
        {% endblock %}